.dark_mode {
    background-color: black;

    // INDEX 7 DARK START 
    .tl-submenu {
        background-color: #1C1C20;
    }

    .tl-nav-item a {
        color: var(--white);

        &:hover {
            color: var(--tl-btn-bg);
        }
    }

    .tl-nav-search {
        background-color: rgb(255 255 255 / 10%);
        color: var(--white);

        &::placeholder {
            color: rgb(255 255 255 / 60%);
        }
    }

    .tl-searh-btn {
        background-color: rgb(255 255 255 / 10%);
        color: var(--white);
    }

    .tl-section-title {
        color: var(--white);
    }

    .tl-about-descr {
        color: rgb(255 255 255 / 70%);
    }

    .tl-def-btn-2 {

        &,
        i {
            color: #09DB12;
            border-color: #09DB12;
        }
    }

    .tl-users-txt {
        color: var(--white);
    }

    .tl-campus-section {
        background-color: #1C1C20;

        &::before {
            background-color: black;
        }
    }

    .tl-campus-section-txt p {
        color: var(--white);
    }

    .tl-single-testimony {
        background-color: #1C1C20;
    }

    .tl-single-testimony-txt {
        color: var(--white);
    }

    .tl-testimonial .owl-nav::before,
    .tl-testimonial .owl-nav::after {
        background-color: rgb(255 255 255 / 24%);
    }

    .tl-testimonial .owl-nav button.owl-prev,
    .tl-testimonial .owl-nav button.owl-next {
        border-color: rgb(255 255 255 / 24%);
        color: var(--white);

        &:hover {
            color: black;
        }
    }

    .tl-fees-section {
        background-color: #1C1C20;
    }

    .tl-blog-inner-heading {
        color: var(--white);
        border-color: rgb(255 255 255 / 20%);
    }

    .tl-single-blog {
        border-color: rgb(255 255 255 / 20%);
    }

    .tl-single-blog-date {
        color: rgb(255 255 255 / 60%);
    }

    .tl-single-blog-title {
        color: var(--white);

        a {
            color: inherit;

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    .tl-single-blog-descr {
        color: rgb(255 255 255 / 70%);
    }

    .tl-single-blog-btn {
        color: var(--white);

        &:hover {
            color: var(--tl-btn-bg);
        }
    }

    // INDEX 7 DARK END 


    // INDEX 1 DARK START
    .tl-1 {
        &-banner {
            background-color: #222222 !important;
        }

        &-services {
            background-color: #222222 !important;
        }

        &-service {
            background-color: black;
        }

        &-service-btn {
            color: var(--white);
            border-color: rgb(255 255 255 / 20%);
        }

        &-service-order-numb {
            color: rgb(255 255 255 / 20%);
        }

        &-service-icon {
            border-color: rgb(255 255 255 / 20%);
            background-color: #222222;

            img {
                filter: invert(1);
            }
        }

        &-service-title {
            color: var(--white);
        }

        &-service-descr {
            color: rgba(255, 255, 255, 0.7);
        }

        &-section-title {
            color: var(--white);
        }

        &-about-main-img {
            border-color: var(--black);
        }

        &-about-sticker {
            filter: invert(1);
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-author {
            &-name {
                color: var(--white);
            }

            &-role {
                color: rgb(255 255 255 / 70%);
            }

            &-signature {
                img {
                    filter: invert(1);
                }
            }
        }

        &-stats {
            border-color: rgb(255 255 255 / 20%);
        }

        &-stat-num {
            -webkit-text-stroke-color: rgb(255 255 255 / 20%);
        }

        &-stat-name {
            color: var(--white);
        }

        &-stat:nth-child(even) .tl-1-stat-num {
            color: rgb(236 232 225 / 40%);
            -webkit-text-stroke-color: rgb(94 93 90);
        }

        &-courses {
            background-color: #222222 !important;
        }

        &-course {
            background-color: black;
            border-color: black;
        }

        &-course-title {
            color: var(--white);
        }

        &-course-stats {
            color: rgb(255 255 255 / 60%);
        }

        &-testimonial-slider-container {
            background-color: #222222 !important;
        }

        &-testimonial-slider-container::before {
            filter: invert(1);
        }

        &-testimonial-slider .owl-dots .owl-dot {
            background-color: rgb(255 255 255 / 20%);

            &.active {
                background-color: var(--blue-2);
            }
        }

        &-testimony {
            background-color: transparent;
        }

        &-testimony-review {
            color: rgb(255 255 255 / 70%);
            border-color: rgb(255 255 255 / 10%);
        }

        &-reviewer-name {
            color: var(--white);
        }

        &-reviewer-label {
            color: #bfbfbf;
        }

        &-slider-dots button {
            background-color: rgb(255 255 255 / 20%);

            &.active {
                background-color: var(--blue-2);
            }
        }

        &-blogs {
            background-color: #222222 !important;
        }

        &-blog {
            background-color: black;
        }

        &-blog-title {
            color: var(--white);
        }

        &-blog-btn {
            color: var(--white);
        }

        &-blog-info>h6 {
            color: rgba(255, 255, 255, 0.6);

            i {
                color: var(--white);
            }
        }
    }

    // INDEX 1 DARK END

    // INDEX 2 DARK START 
    .tl-2 {
        &-section-title {
            color: var(--white);
        }

        &-about-second-title {
            color: var(--white);
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-stat .tl-9-about-stat-name {
            color: rgb(255 255 255 / 70%);
        }

        &-about-stat:not(:last-child) {
            border-color: rgb(255 255 255 / 30%);
        }

        &-blog-btn {
            color: var(--white);

            &:hover {
                color: var(--kb-orange);
            }
        }

        &-blog-btn-icon {
            background-color: var(--white);
            color: var(--black);
            border-color: rgb(255 255 255 / 30%);
        }

        &-blog-btn:hover .tl-2-blog-btn-icon {
            color: var(--white);
        }

        &-services {
            background-color: #222222 !important;
        }

        &-section-heading-descr {
            color: #bfbfbf;
        }

        &-service {
            border-color: rgb(255 255 255 / 30%);

            &:hover {
                border-color: var(--kb-orange);
            }
        }

        &-service-icon {
            border-color: var(--white);

            img {
                filter: invert(1);
            }
        }

        &-blogs-slider-nav button:hover {
            color: var(--white);
        }

        &-blog {
            border-color: rgb(255 255 255 / 30%);

            &:hover {
                border-color: var(--kb-orange);
            }
        }

        &-course-descr {
            color: rgba(255, 255, 255, 0.7);
        }

        &-course-infos {
            border-color: rgb(255 255 255 / 30%);
        }

        &-course-info {
            color: #c4c4c4;
        }

        &-testimonial {
            background-color: #222222 !important;
        }

        &-testimonial .owl-nav button.owl-prev:hover,
        &-testimonial .owl-nav button.owl-next:hover {
            color: var(--white);
            border-color: var(--kb-orange);
        }

        &-testimony-reviewer-name {
            color: var(--white);
        }

        &-testimony-reviewer-label {
            color: rgb(255 255 255 / 60%);
        }

        &-testimony {
            background-color: black;
        }

        &-testimony-txt {
            color: var(--white);
        }

        &-blog .tl-11-latest-article-title {
            a:hover {
                color: var(--kb-orange);
            }
        }

        &-blog-title {
            color: var(--white);
        }

        &-blog-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-blog-infos {
            color: rgba(218, 218, 218, 0.7);

            li:first-child::before {
                background-color: rgba(218, 218, 218, 0.6);
            }
        }
    }

    // INDEX 2 DARK END


    // INDEX 3 DARK START
    .tl-3 {
        &-def-btn {
            &:hover {
                color: var(--white);
            }
        }

        &-section-title {
            color: var(--white);
        }

        &-about {
            &-descr {
                color: rgb(255 255 255 / 70%);
            }

            &-author {
                &-name {
                    color: var(--white);
                }

                &-role {
                    color: rgb(255 255 255 / 70%);
                }

                &-signature {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }

        &-programs {
            background-color: rgb(54 65 143 / 40%);
        }

        &-single-program {
            background-color: black;

            &:hover {
                background-color: #4F5EC7;
            }

            &-title {
                color: var(--white);
            }

            &-icon img {
                filter: invert(1);
            }
        }

        &-single-event {
            border-color: rgb(255 255 255 / 24%);

            &-date {
                border-color: rgb(255 255 255 / 24%);

                &::before,
                &::after {
                    background-color: rgb(255 255 255 / 24%);
                }

                .date {
                    color: var(--white);
                }
            }

            &-title {
                color: var(--white);
            }

            &-info>h6 {
                color: rgb(255 255 255 / 60%);

                i {
                    color: var(--white);
                }
            }

            .month-year {
                color: var(--white);
            }
        }

        &-staff {
            background-color: rgba(54, 65, 143, 0.4);

        }

        &-single-staff {
            &-name {
                color: var(--white);
            }

            &-role {
                color: rgb(255 255 255 / 70%);
            }
        }

        &-single-blog {
            border-color: rgb(255 255 255 / 23%);

            &-single-info {
                color: rgb(255 255 255 / 60%);
            }

            &-title {
                color: var(--white);
            }

            &-descr {
                color: rgb(255 255 255 / 70%);
            }

            &-btn {
                color: var(--white);

                &:hover {
                    color: #4F5EC7;
                }
            }
        }

        &-consult {
            background-color: rgba(54, 65, 143, 0.4);

            &-form {
                background-color: #222222;
                border-color: var(--white);
            }
        }

        &-footer {
            background-color: black;
            color: rgb(255 255 255 / 60%);

            &-links {

                &,
                a {
                    color: rgb(255 255 255 / 60%);

                    &:hover {
                        color: var(--tl-btn-bg);
                    }
                }
            }

            &-widget-title {
                color: var(--white);
            }

            &-bottom {
                border-top-color: rgb(255 255 255 / 15%);
            }

            &-socials a {
                background-color: rgb(255 255 255 / 30%);
                color: var(--white);

                &:hover {
                    background-color: var(--tl-btn-bg);
                    color: var(--black);
                }
            }
        }

        &-nwsltr-mail-input {
            border-color: rgb(255 255 255 / 23%);
            color: var(--white);
        }
    }

    // INDEX 3 DARK END

    // INDEX 4 DARK START
    .tl-4 {
        &-section-title {
            color: var(--white);
        }

        &-nav-search-form input {
            background: none;
        }

        &-nav-search-form button {
            background: none;
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-stats {
            border-color: rgb(255 255 255 / 20%);
        }

        &-about-stat-num {
            -webkit-text-stroke-color: rgb(255 255 255 / 32%);
        }

        &-about-stat-name {
            color: var(--white);
        }

        &-about-support-txt {
            color: #cfcfcf;
        }

        &-admission-img::before {
            -webkit-text-stroke-color: rgb(255 255 255 / 25%);
        }

        &-programs {
            background-color: #222222 !important;
        }

        &-program-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-program-btn {
            color: var(--white);

            &:hover {
                color: var(--red-2);
            }
        }

        &-innovs-heading-txt {
            color: rgb(255 255 255 / 70%);
        }

        &-campus-txt {
            background-color: #0f533e;
        }

        &-testimony {
            background-color: #222222;
        }

        &-testimony-review {
            color: rgb(255 255 255 / 70%);
            border-color: rgb(255 255 255 / 10%);
        }

        &-reviewer-name {
            color: var(--white);
        }

        &-reviewer-label {
            color: #bfbfbf;
        }

        &-testimonial-users {
            border-color: rgb(255 255 255 / 20%);
        }

        &-testimony::before {
            filter: invert(1);
        }

        &-blogs {
            background-color: #222222 !important;
        }

        &-blog {
            border-color: rgba(255, 255, 255, 0.2);
        }

        &-blog .tl-single-blog-title a:hover {
            color: var(--red-2);
        }

        &-blog .tl-single-blog-btn:hover {
            color: var(--red-2);
        }

        &-footer {
            background-color: black;
            color: rgb(222 222 222 / 60%);
        }

        &-footer-descr {
            color: rgb(218 218 218 / 70%);
        }

        &-footer-socials ul a {
            background-color: rgb(218 218 218 / 20%);

            &:hover {
                background-color: var(--kb-teal);
            }
        }

        &-footer-widget-title {
            color: var(--white);
        }

        &-footer-links a {
            color: rgb(222 222 222 / 60%);

            &:hover {
                color: var(--kb-teal);
            }
        }

        &-footer-socials ul li a {
            color: var(--white);

            &:hover {
                background-color: var(--red-2);
            }
        }

        &-footer-links a:hover {
            color: var(--red-2);
        }

        &-footer-article-date {
            color: rgba(218, 218, 218, 0.7);
        }

        &-footer-article-title {
            color: var(--white);
        }
    }

    // INDEX 4 DARK END


    // INDEX 5 DARK START
    .tl-header-5 {
        background-color: #292929;
    }

    .tl-5-section-title {
        color: var(--white);
    }

    .kb-header-8 {

        .tl-5-def-btn {
            background-color: #1b1b1c;
            border-color: #1b1b1c;
        }
    }

    .tl-5-about {
        &::before {
            background-color: #222222;
        }

        &-dialogue {
            color: var(--white);
        }

        &-txt p {
            color: var(--white);
        }

        &-author-name {
            color: var(--white);

            &::before {
                background-color: var(--white);
            }
        }

        &-img::before {
            color: rgb(255 255 255 / 10%);
        }
    }

    .tl-5-admission-form {
        background-color: #222222;

        &-title {
            color: var(--white);
        }

        input,
        button,
        textarea {
            border-color: rgb(255 255 255 / 10%);
            color: var(--white);

            &::placeholder {
                color: rgb(255 255 255 / 60%);
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }

    }

    .tl-5-campus-txt {
        background-color: var(--tl-blue);
    }

    .tl-5-single-faculty {
        &-role {
            color: rgb(255 255 255 / 70%);
        }

        &-name {
            color: #eeeeee;
        }

        &-socials a {
            color: rgb(255 255 255 / 70%);
        }
    }

    .tl-5-faculties .owl-dots button {
        border-color: rgb(255 255 255 / 40%);

        &.active {
            background-color: rgb(223 223 223);
        }
    }

    .tl-5-single-testimony p {
        color: var(--white);
    }

    .tl-5-testimonial-slider {
        background-color: #222222;

        &-nav button {
            color: var(--white);

            &:hover {
                color: var(--red);
            }
        }
    }

    .tl-5-alumni {
        &-name {
            color: var(--white);
        }

        &-label {
            color: #cfcfcf;
        }
    }

    .tl-5-single-blog-arrow {
        color: var(--white);
    }

    .tl-5-consult {
        &-sub-title {
            color: var(--white);
        }

        &-form {
            &-container {
                background-color: #1C1C20;
            }

            .input-field-container {
                >* {
                    color: var(--white);
                    border-color: rgb(255 255 255 / 14%);
                }

                &::before {
                    filter: invert(1);
                }
            }
        }
    }

    .tl-5-footer {
        background-color: #1C1C20;

        &-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-socials a {
            background-color: rgb(255 255 255 / 30%);
            color: var(--white);

            &:hover {
                background-color: var(--red);
                color: var(--white);
            }
        }

        &-widget-title {
            color: var(--white);
        }

        &-links a {
            color: rgb(255 255 255 / 60%);

            &:hover {
                color: var(--red);
            }
        }

        &-address {
            color: rgb(255 255 255 / 60%);
        }
    }

    // INDEX 5 DARK END


    // INDEX 6 DARK START
    .tl-6 {
        &-section-title {
            color: var(--white);
        }

        &-info-pill {
            background-color: transparent;
            color: #dadada;

            &::before {
                background-color: #dadada;
            }
        }

        &-section-title::before,
        &-section-title::after {
            border-color: rgb(255 255 255 / 20%);
        }

        &-title-hover a {
            background-image: linear-gradient(to right, var(--white), var(--white));

            &:hover {
                color: var(--white);
            }
        }

        &-slider-dots button {
            background-color: rgb(255 255 255 / 20%);

            &.active {
                background-color: var(--blue-2);
            }
        }

        &-top-header-socials a {
            border-color: rgb(255 255 255 / 20%);
            color: rgb(255 255 255 / 70%);
        }

        &-bottom-header {
            border-color: rgb(255 255 255 / 20%);
        }

        &-top-header-btn {
            border-color: var(--white);
            color: var(--white);
            box-shadow: inset 0 -4px 0 var(--white);
        }

        &-banner-post-infos .tl-6-info-pill {
            background-color: var(--black);
            color: #dadada;

            &::before {
                background-color: #dadada;
            }
        }

        &-banner-post-title {
            color: var(--white);
        }

        &-banner-post-btn {
            color: var(--white);

            &:hover {
                color: var(--red-2);
            }
        }

        &-banner .swiper-slide-next .tl-6-banner-post-title {
            background-color: black;
        }

        &-banner .swiper-slide-next .tl-6-banner-post-infos .tl-6-info-pill {
            border-color: var(--black);

            &:last-child {
                border-color: var(--white);
            }
        }

        &-banner .swiper-slide-next .tl-6-banner-post-btn {
            background-color: var(--black);
            border-color: var(--black);

            &:hover {
                background-color: transparent;
            }
        }

        &-news {
            background-color: #222222 !important;
        }

        &-news::before {
            -webkit-text-stroke-color: rgb(255 255 255 / 5%);
        }

        &-news-slide-title {
            color: var(--white);

            a {
                background-image: linear-gradient(to right, var(--white), var(--white));

                &:hover {
                    color: var(--white);
                }
            }
        }

        &-news-slide .tl-6-info-pill {
            color: #dadada;

            &::before {
                background-color: #dadada;
            }
        }

        &-slider-nav button {
            background-color: black;
            color: var(--white);

            &:hover {
                background-color: var(--red-2);
            }
        }

        &-latest-article .tl-6-info-pill {
            background-color: transparent;
            color: #dadada;

            &::before {
                background-color: #dadada;
            }
        }

        &-latest-article-title {
            color: var(--white);

            a:hover {
                color: var(--white);
            }
        }

        &-latest-article-infos {
            color: rgba(218, 218, 218, 0.7);

            li:first-child::before {
                background-color: rgb(218 218 218 / 70%);
            }
        }

        &-videos {
            background-color: #222222 !important;
        }

        &-pop-article {
            border-color: rgba(218, 218, 218, 0.2);
        }

        &-pop-article-category {
            background-color: var(--white);
            color: var(--black);

            &::before {
                background-color: var(--black);
            }
        }

        &-pop-article-title {
            color: var(--white);
        }

        &-pop-article-descr {
            color: rgba(218, 218, 218, 0.6);
        }

        &-sidebar {
            border-color: rgba(218, 218, 218, 0.2);
        }

        &-sidebar-area-articles {
            border-color: rgba(218, 218, 218, 0.2);
        }

        &-members {
            border-color: rgb(218 218 218 / 30%);
        }

        &-member {
            border-color: rgb(218 218 218 / 30%);
        }

        &-members .owl-nav button.owl-prev,
        &-members .owl-nav button.owl-next {
            background-color: black;
            border-color: rgb(218 218 218 / 30%);
            color: rgb(255 255 255 / 30%);

            &:hover {
                background-color: var(--red-2);
                color: var(--white);
            }
        }

        &-sidebar-area-title {
            color: var(--white);
        }

        &-sidebar-area-article-title {
            color: var(--white);
        }

        &-sidebar-area-article-date {
            color: rgba(218, 218, 218, 0.7);
        }

        &-sidebar-categories {
            border-color: rgba(218, 218, 218, 0.2);
        }

        &-footer-socials {
            a {
                background-color: var(--white);
                color: var(--black);

                &:hover {
                    color: var(--white);
                    background-color: var(--red);
                }
            }
        }
    }

    .tl-long-arrow-btn .arrow {
        background-color: var(--white);

        &::before {
            border-color: var(--white);
        }
    }

    // INDEX 6 DARK END


    // INDEX 7 DARK START
    .kb-searh-open-btn-11 {
        background-color: transparent;
    }

    .tl-7 {
        &-section-sub-title {
            color: rgb(255 255 255 / 70%);
        }

        &-section-title {
            color: var(--white);
        }

        &-about {
            background-color: #222222;
        }

        &-about-content {
            background-color: black;
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-membership {
            background-color: #222222;
        }

        &-membership .owl-nav button.owl-prev,
        &-membership .owl-nav button.owl-next {
            background-color: #222222;

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
            }
        }

        &-categories .nav-item:not(:last-child) {
            border-color: rgb(96 96 96);
        }

        &-categories .nav-item .nav-link {
            color: var(--white);
            background-color: #222222;

            &.active {
                color: var(--black);

                .tl-7-cate-sub-title {
                    color: var(--black);
                }
            }
        }

        &-cate-sub-title {
            color: rgb(255 255 255 / 70%);
        }

        &-testimonial {
            background-color: #222222;
        }

        &-faculty .owl-carousel .owl-dots button.owl-dot {
            border-color: rgb(255 255 255 / 40%);

            &.active {
                background-color: var(--white);
                border-color: var(--white);
            }
        }

        &-events {
            background-color: #222222;
        }

        &-blogs {
            background-color: #222222;
        }

        &-blog-title a {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-contact-form input,
        &-contact-form textarea {
            border-color: rgb(255 255 255 / 20%);
            color: var(--white);
        }

        &-contact .tl-7-section-title::before {
            -webkit-text-stroke-color: rgb(255 255 255 / 15%);
        }

        &-contact-form .tl-7-def-btn:hover {
            color: var(--white);
        }

        &-cta {
            background-image: linear-gradient(to bottom, #000 50%, #222 0);
        }

        &-footer {
            background-color: #222;
        }

        &-footer .tl-footer-socials a {
            color: var(--white);
            background-color: transparent;

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
            }
        }
    }

    // INDEX 7 DARK END


    // INDEX 8 DARK START
    .tl-8 {
        &-section-title {
            color: var(--white);
        }

        &-services {
            background-color: #222;
        }

        &-service {
            border-color: rgb(163 163 163 / 80%);
        }

        &-service-icon {
            border-color: var(--white);

            img {
                filter: invert(1);
            }
        }

        &-service-order-numb {
            -webkit-text-stroke-color: rgb(255 255 255 / 30%);
        }

        &-service-title {
            color: var(--white);
        }

        &-service-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-service>a {
            color: var(--white);

            &:hover {
                color: var(--kb-teal);
            }
        }

        &-about-main-img {
            border-color: var(--white);
        }

        &-feature-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-feature-title {
            color: var(--white);
        }

        &-courses {
            background-color: #222222;
        }

        &-courses-slider-nav button {
            color: #d2d2d2;
        }

        &-courses-slider {
            background-color: #000;
        }

        &-course {
            background-color: black;
        }

        &-course-price {
            color: var(--white);
            border-color: rgb(240 240 240 / 22%);
        }

        &-course-level {
            color: rgb(240 240 240 / 60%);
        }

        &-course-title {
            color: var(--white);
        }

        &-course-descr {
            color: rgb(255 255 255 / 70%);
            border-color: rgb(240 240 240 / 20%);
        }

        &-course-part-txt {
            color: var(--white);
        }

        &-course-part img {
            filter: invert(1);
        }

        &-experts {
            background-color: black;
        }

        &-experts-heading-descr {
            color: rgb(227 227 227 / 80%);
        }

        &-pricing {
            background-color: #222222;
        }

        &-single-pricing {
            background-color: black;
        }

        &-single-pricing-title {
            color: var(--white);
        }

        &-single-pricing-sub-title {
            color: #c4c4c4;
        }

        &-single-pricing-price span.number {
            color: #f5f5f5;
        }

        &-single-pricing-price {
            color: #c4c4c4;
        }

        &-single-pricing-heading {
            border-color: rgb(255 255 255 / 20%);
        }

        &-single-pricing-features li {
            color: var(--white);
        }

        &-single-pricing .tl-def-btn {
            border-color: rgb(255 255 255 / 20%);
            color: var(--white);
        }

        &-single-pricing-pop .tl-def-btn {
            border-color: var(--tl-btn-bg);
            color: var(--black);
        }

        &-testimonial-slider-nav button {
            background-color: black;
            color: var(--white);
            border-color: rgb(255 255 255 / 25%);

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
            }
        }

        &-testimony {
            background-color: #222222;
        }

        &-testimony-txt {
            color: rgb(227 227 227 / 70%);
        }

        &-testimony {

            &::before,
            &::after {
                filter: invert(1);
            }
        }

        &-testimony-reviewer-info {
            color: #a9a9a9;
        }

        &-testimony-reviewer-name {
            color: var(--white);
        }

        &-faq {
            background-color: #222222;
        }

        &-accordion-item {
            background-color: black;
        }

        &-accordion-item-title {
            color: var(--white);
        }

        &-accordion-item-expand-icon {

            &::before,
            &::after {
                background-color: var(--white);
            }
        }

        &-accordion-item-body {
            color: rgb(255 255 255 / 70%);
        }

        &-cta {
            background-image: linear-gradient(to bottom, #222222 50%, #000 0);
        }
    }

    // INDEX 8 DARK END


    // INDEX 9 DARK START
    .tl-9 {
        &-section-title {
            color: var(--white);

            &::before {
                -webkit-text-stroke-color: rgb(255 255 255 / 14%);
            }
        }

        &-about {
            background-color: #222222 !important;
            border-color: rgb(255 255 255 / 20%);
        }

        &-membership {
            background-color: #222222 !important;
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-stat img {
            filter: invert(1);
            border-color: rgb(0 0 0 / 20%);
        }

        &-about-stat-num {
            color: var(--white);
        }

        &-about-stat-name {
            color: var(--white);
        }

        &-members .owl-nav button.owl-prev,
        &-members .owl-nav button.owl-next {
            background-color: #222;

            &:hover {
                background-color: var(--ligh-yellow);
                color: var(--black);
            }
        }

        &-program {
            border-color: rgb(255 255 255 / 14%);
        }

        &-program-img img:first-child {
            border-color: rgb(255 255 255 / 14%);
        }

        &-program-icon {
            filter: invert(1);
        }

        &-program-title {
            color: var(--white);

            a:hover {
                color: var(--ligh-yellow);
            }
        }

        &-program-descr {
            color: rgb(218 218 218 / 60%);
        }

        &-program-btn {
            color: var(--white);

            &:hover {
                color: var(--ligh-yellow);
            }
        }

        &-service {
            background-color: black;
        }

        &-service-icon {
            filter: invert(1);
        }

        &-service-title {
            color: var(--white);
        }

        &-service-descr {
            color: rgb(255 255 255 / 60%);
        }

        &-class-category {
            color: rgb(218 218 218 / 70%);
            border-color: rgb(218 218 218 / 24%);
        }

        &-class-duration {
            color: rgb(255 255 255 / 60%);
        }

        &-class-duration img {
            filter: invert(1);
        }

        &-classes .owl-nav button.owl-prev,
        &-classes .owl-nav button.owl-next {
            background-color: black;
            border-color: rgb(218 218 218 / 24%);
            color: var(--white);

            &:hover {
                background-color: var(--ligh-yellow);
                color: var(--black);
            }
        }

        &-events-slider-nav button {
            &:hover {
                color: var(--white);
            }
        }

        &-events-slider-timeline .timeline-step {
            border-color: rgb(255 255 255 / 15%);
        }

        &-events-slider-timeline .timeline-step.clicked::before,
        &-events-slider-timeline .timeline-step.clicked::after {
            background-color: #3e3e3e;
        }

        &-plans {
            background-color: #222222 !important;
        }

        &-single-pricing-txt .tl-9-def-btn {
            color: var(--black);
        }

        &-event {
            border-color: rgb(255 255 255 / 14%);
        }

        &-event .tl-6-latest-article-title {
            a:hover {
                color: var(--ligh-yellow);
            }
        }

        &-event-btn {
            color: var(--white);

            &:hover {
                color: var(--ligh-yellow)
            }
        }

        &-testimonial {
            background-color: #222222 !important;
        }

        &-testimonial .tl-7-reviewer-img-slider {
            border-color: rgb(255 255 255 / 15%);
            background-color: #222222;
        }

        &-testimonial .tl-7-testimony-txt {
            color: rgb(255 255 255 / 70%);

            &::before {
                -webkit-text-stroke-color: rgb(255 255 255 / 14%)
            }
        }

        &-testimonial .tl-7-testimony-reviewer-name {
            color: var(--white);
        }

        &-testimonial {
            .tl-7-testimony-bottom-right>img {
                filter: invert(1);
            }
        }

        &-testimonial-slider-dots .slick-dots li {
            border-color: rgb(255 255 255 / 40%);
        }

        &-blog {
            border-color: rgba(255, 255, 255, 0.14);
        }

        &-blog .tl-6-latest-article-title {
            a:hover {
                color: var(--ligh-yellow);
            }
        }

        &-blog-author {
            color: rgba(218, 218, 218, 0.7);
        }
    }

    // INDEX 9 DARK END


    // 
    .tl-10-campus-section {
        background-color: #1C1C20;
    }

    .tl-10-campus-section::before {
        background-color: black;
    }

    .tl-10-campus-section-txt p {
        color: var(--white);
    }

    .tl-10-secton-descr {
        color: rgb(255 255 255 / 60%);
    }

    .tl-10-single-testimony {
        background-color: #1C1C20;
    }

    // INDEX 10 DARK START
    .tl-11 {
        &-section {
            &-title {
                color: var(--white);

                &::before {
                    background-color: var(--white);
                }
            }

            &-heading {
                border-color: rgb(218 218 218 / 20%);
            }
        }

        &-banner {
            border-color: rgb(255 255 255 / 17%);

            &-heading::before {
                border-color: rgb(255 255 255 / 17%);
            }

            &-title {
                color: var(--white);

                &::before {
                    border-color: rgb(255 255 255 / 17%);
                }
            }

            &-article {
                &-title {
                    color: var(--white);
                }

                &-author {
                    color: rgb(218 218 218 / 70%);
                }

                &-center {
                    &-txt {
                        background-color: #222222;
                    }

                    &-title {
                        color: var(--white);
                    }

                    &-descr {
                        color: rgb(218 218 218 / 60%);
                    }
                }
            }
        }

        &-latest {
            &-articles {
                background-color: #222222;

                &-heading-btn {
                    color: var(--white);

                    &:hover {
                        color: var(--kb-teal);
                    }
                }
            }

            &-article {
                &-infos {
                    color: rgb(218 218 218 / 70%);

                    li:first-child::before {
                        background-color: rgb(218 218 218 / 60%);
                    }
                }

                &-title {
                    color: var(--white);

                    a:hover {
                        color: var(--kb-teal);
                    }
                }

                &-author {
                    color: rgb(218 218 218 / 70%);
                }
            }
        }

        &-pop-articles-filtering-btns button {
            border-color: rgb(218 218 218 / 20%);
            color: var(--white);
        }

        &-pop-article {
            border-color: rgb(218 218 218 / 20%);
        }

        &-pop-article-date {
            color: rgb(255 255 255 / 70%);
        }

        &-pop-article-title {
            color: var(--white);
        }

        &-pop-article-descr {
            color: rgb(218 218 218 / 60%);
        }

        &-pop-article-btn {
            color: var(--white);
        }

        &-sidebar-area-articles {
            border-color: rgb(218 218 218 / 20%);
        }

        &-sidebar-area-title {
            color: var(--white);
        }

        &-sidebar-area-article-title {
            color: var(--white);
        }

        &-sidebar-area-article-date {
            color: rgb(218 218 218 / 70%);
        }

        &-sidebar-category {
            border-color: rgb(218 218 218 / 20%);
            color: rgb(218 218 218 / 60%);

            &:hover {
                color: var(--white);
                border-color: var(--kb-teal);
            }
        }

        &-sidebar-socials {
            border-color: rgb(218 218 218 / 20%);
        }

        &-sidebar-socials ul a {
            border-color: rgb(218 218 218 / 20%);
            color: var(--white);
        }

        &-editorial {
            background-color: #222222;
        }

        &-members {
            border-color: rgb(218 218 218 / 20%);
        }

        &-member {
            border-color: rgb(218 218 218 / 20%);
        }

        &-members .owl-nav button.owl-prev,
        &-members .owl-nav button.owl-next {
            background-color: black;
            border-color: rgb(218 218 218 / 20%);

            &:hover {
                background-color: var(--kb-teal);
            }
        }

        &-footer {
            background-color: black;
            color: rgb(222 222 222 / 60%);
        }

        &-footer-descr {
            color: rgb(218 218 218 / 70%);
        }

        &-footer-socials ul a {
            background-color: rgb(218 218 218 / 20%);

            &:hover {
                background-color: var(--kb-teal);
            }
        }

        &-footer-widget-title {
            color: var(--white);
        }

        &-footer-links a {
            color: rgb(222 222 222 / 60%);

            &:hover {
                color: var(--kb-teal);
            }
        }
    }

    // INDEX 10 DARK END


    // INDEX 13 DARK START
    .kb-header-13 {
        background-color: #222;
    }

    .tl-12 {
        &-section-title {
            color: var(--white);
        }

        &-banner {
            background-color: #18171C;
        }

        &-banner-title {
            color: var(--white);
        }

        &-banner-title::before {
            filter: invert(1);
        }

        &-banner-descr {
            color: rgb(255 255 255 / 80%);
        }

        &-banner-btn-2 {
            color: var(--white);

            &:hover {
                color: var(--black);
            }
        }

        &-banner-features {
            background-color: #222222;
        }

        &-banner-feature img {
            filter: invert(1);
        }

        &-feature-name {
            color: var(--white);
        }

        &-subj {
            background-color: #222;
        }

        &-subj img {
            filter: invert(1);
        }

        &-subj-title {
            color: var(--white);
        }

        &-subj-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-courses {
            background-color: #18171C;
        }

        &-courses-slider-pagination {
            color: #9E9A9A;
        }

        &-courses-slider-pagination .swiper-pagination-current {
            color: var(--white);
        }

        &-courses-slider-prev,
        &-courses-slider-next {
            &:hover {
                color: var(--white);
            }
        }

        &-course {
            background-color: #222;
        }

        &-course-category {
            border-color: rgb(255 255 255 / 14%);
            color: rgb(255 255 255 / 60%);
        }

        &-course-ratings {
            color: rgb(255 255 255 / 60%);
        }

        &-course-stats {
            color: rgb(255 255 255 / 60%);
        }

        &-course-title {
            color: var(--white);
        }

        &-course-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-course-btn {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-testimonial .autoplay-progress {
            outline-color: rgb(255 255 255 / 24%);
            color: var(--white);
        }

        &-testimony::before {
            filter: invert(1);
        }

        &-testimony-txt {
            color: rgb(255 255 255 / 70%);
        }

        &-testimony-user-name {
            color: var(--white);
        }

        &-testimony-user-role {
            color: #bbb;
        }

        &-testimonial-slider-nav button {
            background-color: black;
            border-color: rgb(255 255 255 / 24%);
            color: var(--white);

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
                border-color: var(--tl-btn-bg);
            }
        }

        &-events {
            background-color: #18171C;
        }

        &-event {
            background-color: #222222;
        }

        &-event-location {
            color: rgb(255 255 255 / 70%);
        }

        &-event-title {
            color: var(--white);
        }

        &-single-mentor-name {
            color: var(--white);
        }

        &-single-mentor-role {
            color: var(--white);
        }

        &-single-mentor-role {
            color: rgb(255 255 255 / 70%);
        }

        &-single-mentor-socials a {
            color: var(--white);
        }

        &-members .owl-nav button.owl-prev,
        &-members .owl-nav button.owl-next {
            &:hover {
                background-color: var(--white);
                color: var(--black);
            }
        }

        &-blogs {
            background-color: #18171C;
        }

        &-blogs .tl-12-section-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-blogs-heading {

            &::before,
            &::after {
                filter: invert(1);
            }
        }

        &-blog .tl-3-single-blog-info i {
            color: rgb(255 255 255 / 60%);
        }

        &-blogs-heading>a {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-blogs-slider-nav button {
            color: var(--white);
            border-color: rgb(255 255 255 / 24%);

            &:hover {
                color: var(--black);
                border-color: var(--tl-btn-bg);
            }
        }
    }

    .kb-long-arrow-btn .arrow {
        background-color: var(--white);

        &::after {
            border-color: var(--white);
        }
    }

    // INDEX 13 DARK END


    // INDEX 16 DARK START 
    .tl-13 {
        &-section-title {
            color: var(--white);
        }

        &-header-actions>a:first-child {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-header {
            background-color: #343434 !important;
            border-color: rgb(255 255 255 / 14%);
        }

        &-banner {
            background-color: #343434 !important;
        }

        &-banner-title {
            color: var(--white);
            text-decoration-color: var(--white);
        }

        &-banner-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-banner-title::before {
            filter: invert(1);
        }

        &-countries-bg {
            background-image: linear-gradient(180deg, #343434 50%, black 0);
        }

        &-countries {
            background-color: black;
            box-shadow: 6px 6px 0 rgb(255 255 255 / 30%);
            border-color: rgb(255 255 255 / 30%);
        }

        &-country-name {
            color: var(--white);
        }

        &-country>.fi {
            border-color: black;
            box-shadow: 0 4.57px 6.86px rgb(255 255 255 / 30%);
        }

        &-about-txt {

            &::before,
            &::after {
                filter: invert(1);
            }
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-sub-title {
            color: #dadada;

            &::before {
                background-color: #dadada;
            }
        }

        &-about-btn {
            color: var(--tl-btn-bg);
        }

        &-about-stat {
            color: #bcbcbc;
        }

        &-about-stat::after {
            background-color: black;
        }

        &-about-stat-number {
            color: var(--white);
        }

        &-about-stat-icon {
            filter: invert(1);
        }

        &-categories .tl-3-single-program {
            border-color: rgb(255 255 255 / 30%);
            box-shadow: 6px 6px 0 rgb(255 255 255 / 30%);

            &:hover {
                background-color: black;
                border-color: var(--white);
                box-shadow: 6px 6px 0 var(--tl-btn-bg);

                .tl-3-single-program-icon img {
                    filter: invert(1);
                }
            }
        }

        &-courses {
            background-color: #343434 !important;
        }

        &-courses-slider-nav button {
            color: #bbbbbb;

            &:hover {
                color: var(--white);
            }
        }

        &-course {
            background-color: black;
            box-shadow: 6px 6px 0 rgb(255 255 255 / 14%);
            border-color: rgb(255 255 255 / 30%);

            &:hover {
                box-shadow: 6px 6px 0 var(--tl-btn-bg);
                border-color: var(--white);
            }
        }

        &-course .tl-9-class-tag {
            background-color: var(--white);
            color: var(--black);
        }

        &-course .tl-9-class-category::before {
            background-color: rgba(218, 218, 218, 0.7);
        }

        &-course .tl-12-course-stat-icon {
            color: rgb(255 255 255 / 90%);
        }

        &-course .tl-12-course-stat-txt {
            color: rgb(255 255 255 / 70%);
        }

        &-course-title {
            color: var(--white);
        }

        &-course-actions {
            border-color: rgb(255 255 255 / 14%);
        }

        &-testimonial-slider .tl-4-testimony-review {
            border-color: rgb(255 255 255 / 20%);
        }

        &-testimonial-quote-icon {
            filter: invert(1);
            border-color: rgb(0 0 0 / 24%);
            box-shadow: 6px 6px 0 rgb(0 0 0 / 14%);
        }

        &-events {
            background-color: #343434 !important;
        }

        &-event-btn {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-event {
            background-color: var(--black);
            box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.14);
            border-color: rgba(255, 255, 255, 0.3);

            &:hover {
                box-shadow: 6px 6px 0 var(--tl-btn-bg);
                border-color: var(--white);
            }
        }

        &-event .tl-11-latest-article-title {
            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-members .owl-nav button.owl-prev,
        &-members .owl-nav button.owl-next {
            &:hover {
                background-color: transparent;
                box-shadow: 3px 3px 0 var(--tl-btn-bg);
                border-color: var(--white);
                color: var(--white);
            }
        }

        &-blogs .tl-13-course .tl-9-program-btn {
            color: var(--white);
        }

        &-blogs .tl-13-course .tl-9-program-btn::before {
            background-color: var(--white);
        }

        &-blogs-slider-nav button {
            &:hover {
                color: var(--white);
            }
        }
    }

    // INDEX 16 DARK END


    // INDEX 20 DARK START
    .tl-14 {
        &-section-title {
            color: var(--white);
        }

        &-categories {
            background-color: #222222 !important;
        }

        &-category {
            border-color: rgb(255 255 255 / 10%);

            &:hover {
                background-color: black;
            }
        }

        &-category:hover .tl-3-single-program-icon img {
            filter: invert(1);
        }

        &-about-img::before {
            filter: invert(1);
        }

        &-about-descr {
            color: rgb(255 255 255 / 70%);
        }

        &-about-service-list li {
            color: var(--white);
        }

        &-about-actions {
            border-color: rgb(255 255 255 / 20%);
        }

        &-about-video-txt {
            color: var(--white);
        }

        &-about-achievement .achievement-num {
            color: rgb(255 255 255 / 20%);
        }

        &-about-achievement .achievement-name {
            color: var(--white);
        }

        &-courses {
            background-color: #222222 !important;
        }

        &-course {
            background-color: black;
        }

        &-course .tl-12-course-btn:hover {
            color: var(--red-3);
        }

        &-slider-dots button.active {
            background-color: var(--red-3);
        }

        &-software-slide {
            background-color: #222222 !important;
        }

        &-software-slide-index {
            color: var(--white);
            background-color: black;
        }

        &-slider-nav button {
            border-color: rgb(255 255 255 / 20%);
            color: var(--white);
        }

        &-software-slider-dots button {
            color: rgb(255 255 255 / 30%);

            &.active {
                color: var(--red-3);
            }
        }

        &-testimony {
            background-color: #222222;
        }

        &-testimony-txt {
            color: var(--white);
        }

        &-testimony img {
            filter: invert(1);
        }

        &-testimony-user-name {
            color: var(--white);
        }

        &-testimony-user-label {
            color: #9a9a9a;
        }

        &-teacher .tl-14-teacher-info {
            background-color: black;
        }

        &-teacher-title {
            color: var(--white);
        }

        &-teacher-sub-title {
            color: rgb(255 255 255 / 70%);
        }

        &-blogs {
            background-color: #222222 !important;
        }

        &-section-heading-action {
            color: var(--white);

            &:hover {
                color: var(--red-3);
            }
        }

        &-blog {
            background-color: black;
        }

        &-blog .tl-single-blog-title a:hover {
            color: var(--red-3);
        }

        &-blog .tl-single-blog-btn:hover {
            color: var(--red-3);
        }

        &-footer-socials ul a:hover {
            border-color: var(--red-3);
        }
    }

    // INDEX 20 DARK END


    .tl-breadcrumb-2 {
        background-color: black;
        color: var(--white);
    }

    .tl-breadcrumb-2 .tl-breadcrumb-title {
        color: var(--white);
    }

    .tl-breadcrumb-2 a {
        color: var(--white);

        &:hover {
            color: var(--kb-orange);
        }
    }

    .tl-pagination {
        .page-numbers a {
            color: var(--white);

            &.active {
                color: var(--black);
            }
        }

        a {
            &:hover {
                color: var(--white);
            }
        }

        .dots {
            color: var(--white);
        }
    }

    // INNER COURSE ONE
    &.tl-inner-courses-body {
        background-color: #1b1b1b !important;
    }

    .tl-event-details-left,
    .tl-event-details-right {
        background-color: #000;
    }

    .tl-event-details-title {
        color: var(--white);
    }

    .tl-event-details-area {
        box-shadow: 2px 2px 0 3px #2f2f2f;
    }

    .tl-event-details-area-title {
        color: var(--white);
    }

    .tl-event-details-key-content-list li {
        color: #cccccc;
    }

    .tl-event-details-descr-txt {
        color: #cccccc;
    }

    .tl-event-details-faq .tl-8-accordion-item {
        border-color: #2f2f2f;
    }

    .tl-event-details-countdown-area .syotimer-cell__value {
        color: var(--white);
    }

    .tl-event-details-countdown-area .syotimer-cell__unit {
        color: var(--white);
    }

    .tl-event-details-socials {
        border-color: #4e4e4e;
    }

    .tl-event-details-socials a {
        color: var(--white);
        border-color: #4e4e4e;
    }

    .tl-event-details-infos {
        border-color: #4e4e4e;
    }

    .tl-event-details-info {
        color: var(--white);

        &:not(:last-child) {
            border-color: #4e4e4e;
        }
    }

    .tl-upcoming-events-title:not(:last-child) {
        color: var(--white);
    }

    .tl-upcoming-event-title {
        color: var(--white);
    }

    .tl-upcoming-event-location {
        color: #a7a7a7;
    }

    // -------
    .tl-course-details-info-name {
        color: #cccccc;
    }

    .tl-course-details-info-value {
        color: var(--white);
    }

    .tl-course-details-stars {
        color: var(--tl-btn-bg);
    }

    .tl-course-details-infos {
        border-color: #2f2f2f;
    }

    .tl-course-details-info:not(:last-child) {
        border-color: #2f2f2f;
    }

    .tl-course-details-navs .nav-link {
        color: var(--white);
    }

    .tl-course-details-navs .nav-link.active {
        background-color: black;
        color: var(--tl-btn-bg);
    }

    .tl-course-details-curriculum .accordion-button {
        background-color: black;
        color: var(--white);
    }

    .tl-course-details-curriculum .accordion-button:not(.collapsed) {
        background-color: #2f2f2f;
        color: var(--white);
    }

    .tl-course-details-content {
        color: #c4c4c4;

    }

    .tl-course-details-content:not(:last-child) {
        border-color: #4e4e4e;
    }

    .tl-course-details-instructor {
        color: var(--white);
    }

    .tl-staff-profile-role {
        color: #c4c4c4;
    }

    .tl-course-details-instructor-socials a {
        color: #d2d2d2;
    }

    .tl-course-details-top-courses .tl-1-course {
        background-color: #1b1b1b;
    }

    .tl-course-details-price {
        color: var(--white);
    }

    .tl-course-details-price span.prev-price {
        color: #c1c1c1;
    }

    .tl-breadcrumb-2 {
        border-color: #444444;
    }

    .tl-header-5-inner {
        background-color: black;
    }

    .tl-7-cta-inner {
        background-image: linear-gradient(to bottom, #222 50%, #000 0);
    }

    .tl-inner-about-6-footer {
        background-color: #000;
    }

    .tl-staff-profile {
        background-color: #1b1b1b;
    }

    .tl-staff-profile-top {
        background-color: black;
    }

    .tl-staff-profile-name {
        color: var(--white);
    }

    .tl-staff-profile-top::before {
        filter: invert(1);
        opacity: 0.2;
    }

    .tl-staff-profile-bio {
        color: rgb(255 255 255 / 70%);
    }

    .tl-staff-profile .tl-course-details-infos {
        background-color: #000;
    }

    .tl-staff-profile-info-value {
        color: var(--white);
    }

    .tl-staff-profile-courses-title {
        border-color: rgb(255 255 255 / 20%);
        color: var(--white);
    }

    .tl-inner-blogs-1 {
        background-color: #1b1b1b !important;
    }

    .tl-blog-details-infos {
        background-color: #000;
    }

    .tl-blog-details-descr-txt {
        color: rgb(255 255 255 / 70%);
    }

    .tl-blog-details-bottom-actions {
        border-color: rgb(255 255 255 / 20%);
    }

    .tl-blog-details-tag {
        background-color: #1b1b1b;
        color: var(--white);

        &:hover {
            background-color: var(--tl-btn-bg);
            color: var(--black);
        }
    }

    .tl-blog-details-shares-title {
        color: var(--white);
    }

    .tl-blog-details-bottom-nav {
        border-color: rgb(255 255 255 / 25%);
        box-shadow: 0px 0px 0 0px #2f2f2f;

        &:hover {
            box-shadow: 2px 2px 0 3px #2f2f2f;
        }
    }

    .tl-blog-details-bottom-nav-arrow {
        color: var(--white);
    }

    .tl-blog-details-bottom-nav-subtitle {
        color: #cccccc;
    }

    .tl-blog-details-bottom-nav-title {
        color: var(--white);
    }

    .tl-comment-commenter-name {
        color: var(--white);
    }

    .tl-comment-commenter-date {
        color: #cccccc;
    }

    .tl-comment-txt {
        color: rgb(255 255 255 / 70%);
    }

    .tl-comment-bottom-actions>button {
        color: var(--white);
        border-color: #4e4e4e;

        &:hover {
            border-color: var(--tl-btn-bg);
            color: var(--black);
        }
    }

    .tl-comment-reply {
        border-color: #4e4e4e;
    }

    .tl-comment-form input,
    .tl-comment-form textarea {
        background-color: #1b1b1b;
        border-color: #4e4e4e;
        color: var(--white);
    }


    .tl-blog-details-search input {
        border-color: #4e4e4e;
        color: var(--white);
    }

    .tl-blog-details-category {
        color: var(--white);

        &:hover {
            color: var(--tl-btn-bg);
        }
    }
}