    <!-- BANNER SECTION STARTS HERE ↓ -->
    <section class="tl-9-banner bg-defaults" data-bg-color="var(--black-0)">
        <div class="tl-9-banner-bg bg-defaults" data-background="{{ asset('site/assets/images/tl-9/4-yr-old-drummer.jpg') }}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="tl-9-banner-txt">
                            <h1 class="tl-9-banner-title">Start with your <span class="colored">passion</span></h1>
                            <p class="tl-9-banner-descr">Through a combination of lectures, readings, and discussions, students will gain a solid foundation in educational psychology.</p>
                            <a href="#" class="tl-def-btn tl-9-banner-btn">start learning</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-defaults" data-background="{{ asset('site/assets/images/tl-9/banner-bg.jpg') }}">
            <div class="tl-9-banner-bottom container">
                <div class="row gx-0 gy-3 align-items-center">
                    <div class="col-xxl-5 col-xl-4">
                        <h3 class="tl-9-banner-bottom-title">Private <span class="tl-9-colored">lesson</span></h3>
                    </div>

                    <div class="col-xxl-5 col-xl-6 col-md-8 col-10 col-xxs-12">
                        <p class="tl-9-banner-bottom-descr">Through a combination of lectures, readings, and discussions, students will gain a solid foundation in educational psychology.</p>
                    </div>

                    <div class="col-xxl-2 col-xl-1 col-md-4 col-2 col-xxs-12">
                        <a href="#" class="tl-9-banner-bottom-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION ENDS HERE ↑ -->
