    <!-- FOOTER START ↓ -->
    <footer class="tl-footer tl-9-footer bg-defaults" data-background="{{ asset('site/assets/images/tl-9/singing-lessons.jpg') }}">
        <div class="container">
            <div class="tl-2-footer-heading">
                <div class="logo">
                    <img src="{{ asset('site/assets/images/logos/logo-9.png') }}" alt="logo">
                </div>

                <form action="#" class="tl-2-footer-subs-form tl-9-footer-subs-form">
                    <input type="email" name="email" id="tl-2-footer-subs-input" placeholder="Enter your email">
                    <button class="tl-def-btn tl-9-def-btn" type="submit">Sign Up</button>
                </form>
            </div>
        </div>

        <div class="tl-2-footer-widgets tl-9-footer-widgets">
            <div class="container">
                <div class="row g-0">
                    <div class="col-lg-3 col-6 col-xxs-12">
                        <div class="tl-2-footer-widget tl-2-footer-widget-1">
                            <h5 class="tl-2-footer-widget-title">QUICK LINKS</h5>
                            <ul class="tl-2-footer-links tl-9-footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-xxs-12">
                        <div class="tl-2-footer-widget tl-2-footer-widget-2">
                            <h5 class="tl-2-footer-widget-title">popular class</h5>
                            <ul class="tl-2-footer-links tl-9-footer-links">
                                <li><a href="#">Guitar</a></li>
                                <li><a href="#">Piano</a></li>
                                <li><a href="#">Percussion</a></li>
                                <li><a href="#">Violin</a></li>
                                <li><a href="#">Bass Guitar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-xxs-12">
                        <div class="tl-2-footer-widget tl-2-footer-widget-3">
                            <h5 class="tl-2-footer-widget-title">Support</h5>
                            <ul class="tl-2-footer-links tl-9-footer-links">
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Private Police</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-xxs-12">
                        <div class="tl-2-footer-widget tl-2-footer-address">
                            <h5 class="tl-2-footer-widget-title">Get in touch</h5>

                            <ul class="tl-footer-links tl-footer-contact-infos">
                                <li><a href="tel:8812354873654" class="tl-footer-number">(88)123 5487 3654</a></li>
                                <li>
                                    <p class="tl-footer-address">681 Pompton Ave,
                                        Cedar Grove,
                                        NJ 5479 United States</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tl-2-footer-bottom container">
            <p>Copyright &copy; 2023 All Rights Reserved by Talim</p>
        </div>
    </footer>
    <!-- FOOTER END ↑ -->
