    <!-- HEADER SECTION STARTS HERE ↓-->
    <div class="tl-header tl-9-header pink-clr" data-bg-color="var(--black-0)">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-6">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{{ asset('site/assets/images/logos/logo-9.png') }}" alt="muske">
                                </a>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex justify-content-end col-6">
                            <button class="tl-hamburger navbar-toggler">
                                <i class="icofont-navigation-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="tl-nav-menu">
                        <ul class="justify-content-center">
                            <li class="tl-nav-item tl-9-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Home <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li><a href="index.html">Online Education (LMS)</a></li>
                                    <li><a href="index-2.html">Kindergarten</a></li>
                                    <li><a href="index-3.html">School</a></li>
                                    <li><a href="index-4.html">College</a></li>
                                    <li><a href="index-5.html">University</a></li>
                                    <li><a href="index-6.html">Magazine</a></li>
                                    <li><a href="index-7.html">Dance School</a></li>
                                    <li><a href="index-8.html">Driving School</a></li>
                                    <li><a href="index-9.html">Music School</a></li>
                                    <li><a href="index-10.html">University Two</a></li>
                                    <li><a href="index-11.html">Magazine Two</a></li>
                                    <li><a href="index-12.html">Live Class</a></li>
                                    <li><a href="index-13.html">Online Course</a></li>
                                    <li><a href="index-14.html">Language Club</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-9-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Courses <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li><a href="course.html">Course One</a></li>
                                    <li><a href="course-2.html">Course Two</a></li>
                                    <li><a href="course-3.html">Course Three</a></li>
                                    <li><a href="course-4.html">Course Four</a></li>

                                    <li><a href="course-details.html">Course Details</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-9-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Pages <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li class="tl-dropdown-2">
                                        <a href="#">About <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="about.html">About One</a></li>
                                            <li><a href="about-2.html">About Two</a></li>
                                            <li><a href="about-3.html">About Three</a></li>
                                            <li><a href="about-4.html">About Four</a></li>
                                            <li><a href="about-5.html">About Five</a></li>
                                            <li><a href="about-6.html">About Six</a></li>
                                            <li><a href="about-7.html">About Seven</a></li>
                                            <li><a href="about-8.html">About Eight</a></li>
                                        </ul>
                                    </li>
                                    <li class="tl-dropdown-2">
                                        <a href="#">Staff <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="staff.html">Staff One</a></li>
                                            <li><a href="staff-2.html">Staff Two</a></li>
                                            <li><a href="staff-3.html">Staff Three</a></li>
                                            <li><a href="staff-4.html">Staff Four</a></li>
                                            <li><a href="staff-5.html">Staff Five</a></li>
                                            <li><a href="staff-6.html">Staff Six</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="staff-profile.html">Staff Profile</a></li>
                                    <li class="tl-dropdown-2">
                                        <a href="#">Event <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="event.html">Event One</a></li>
                                            <li><a href="event-2.html">Event Two</a></li>
                                            <li><a href="event-3.html">Event Three</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-9-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Blog <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li class="tl-dropdown-2">
                                        <a href="#">Blog <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="blog.html">Blog One</a></li>
                                            <li><a href="blog-2.html">Blog Two</a></li>
                                            <li><a href="blog-3.html">Blog Three</a></li>
                                            <li><a href="blog-4.html">Blog Four</a></li>
                                            <li><a href="blog-5.html">Blog Five</a></li>
                                            <li><a href="blog-6.html">Blog Six</a></li>
                                            <li><a href="blog-7.html">Blog Seven</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-9-nav-item tl-dropdown">
                                <a href="#">Contact <i class="fa-regular fa-angle-down"></i></a>

                                <ul class="tl-submenu">
                                    <li><a href="contact.html">Contact One</a></li>
                                    <li><a href="contact-2.html">Contact Two</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-2 d-lg-block d-none">
                    <div class="tl-header-actions d-flex justify-content-end">
                        <a href="#" class="tl-def-btn">BOOK ONLINE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER SECTION ENDS HERE ↑-->
