    <!-- sidebar area start ↓-->
    <div class="muske-menu-sidebar">
        <div class="muske-menu-sidebar-inner">
            <div class="sidebar__close">
                <button class="sidebar__close-btn" id="sidebar__close-btn">
                    <span><i class="icofont-brand-nexus"></i></span>
                    <span>close</span>
                </button>
            </div>
            <div class="muske-menu-sidebar-top mb-40">
                <nav>
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <button class="active " id="nav-menu-tab" data-bs-toggle="tab" data-bs-target="#nav-menu" type="button" role="tab" aria-controls="nav-menu" aria-selected="true">Menu</button>
                        <button id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="false">Info</button>
                    </div>
                </nav>
            </div>
            <div class="muske-menu-sidebar-bottom">
                <div class="logo mb-40">
                    <a href="index.html">
                        <img src="{{ asset('site/assets/images/logos/logo-9.png') }}" alt="logo">
                    </a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-menu" role="tabpanel" aria-labelledby="nav-menu-tab">
                        <div class="mobile-menu"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="muske-sidebar-info-content-331">
                            <ul>
                                <li><i class="icofont-clock-time"></i> 9:30am - 6:30pm, Mon - Sun</li>
                                <li><a href="tel:http://80012345676587"><i class="icofont-phone"></i> +800-123-4567 6587</a></li>
                                <li><i class="icofont-google-map"></i> Anmoore Road Brooklyn, NY 230</li>
                            </ul>
                        </div>
                        <div class="muske-sidebar-info-social-331">
                            <a href="#" class="header-right-txt"><i class="icofont-facebook"></i></a>
                            <a href="#" class="header-right-txt"><i class="icofont-twitter"></i></a>
                            <a href="#" class="header-right-txt"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offwrap"></div>
    <!-- sidebar area end ↑-->
