//------------------------ 03. COMPONENTS ==============================
#loading {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15%;
    transform: translate(-50%, -50%);

    @include xl {
        width: 40%;
    }

    @include md {
        width: 45%;
    }

    @include sm {
        width: 50%;
    }

    @include xs {
        width: 60%;
    }
}

.loading-content {
    text-align: center;
}

.loading-stroke {
    position: relative;
    width: 100%;
    background: #92231d;
    height: 3px;
}

.loading-stroke::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    animation: muske-loading 5s linear infinite;
    animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
}

.loading-logo-icon {
    position: absolute;
    top: -60px;
    left: 0;
    width: 60px;
    height: 60px;
    animation: muske-loading 5s linear infinite;
    animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
}

.loading-logo-icon-2 {
    width: 60px;
    height: 60px;
    transform-origin: center;
    animation: muske-loading-shake 5s linear infinite;
}

.loading-logo-text {
    padding-bottom: 10px;
}

@keyframes muske-loading-shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-75deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-75deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes muske-loading {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes muske-loading {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}


.tl-def-btn {
    background-color: var(--tl-btn-bg);
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: var(--black);
    padding: 0 30px;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid var(--tl-btn-bg);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    text-align: center;

    @include lg {
        padding: 0 25px;
    }

    @include md {
        height: 45px;
        line-height: 45px;
    }

    @include sm {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    i {
        padding-left: 5px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #f1f1f15d;
        width: 0;
        height: calc(100% + 10px);
        transition: all 0.4s ease;
        z-index: -1;
        left: auto;
    }

    &:hover {
        color: var(--black);

        &::before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
}

.tl-def-btn-2 {
    color: var(--tl-blue);
    border-bottom: 1px solid var(--tl-blue);
    font-weight: 600;
    padding-bottom: 5px;

    &:hover {
        color: var(--black);
        border-color: var(--black);

        i {
            color: var(--black);
            transform: rotate(-45deg);
        }
    }

    i {
        color: var(--tl-blue);
        padding-left: 5px;
        transition: all 0.4s ease;
    }
}

.tl-section-title {
    font-family: var(--roboto);
    color: var(--black);
    font-size: 48px;
    font-weight: 700;

    @include xl {
        font-size: 40px;
    }

    @include lg {
        font-size: 35px;
    }

    @include md {
        font-size: 32px;
    }

    @include sm {
        font-size: 27px;
    }

    @include xs {
        font-size: 25px;
    }

    @include xxs {
        font-size: 23px;
    }
}

.last-word {
    position: relative;
    isolation: isolate;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 15px;
        background-image: url(../images/tl/line.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

// 
.muske-menu-sidebar {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100%;
    background: #1b133f none repeat scroll 0 0;
    -webkit-box-shadow: -5px 0 20px -5px rgb(0 0 0 / 50%);
    -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 20px -5px rgb(0 0 0 / 50%);
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 9999;
    right: -330px;
}

.muske-menu-sidebar.sidebar-open {
    right: 0;
}

.muske-menu-sidbar-title {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

.admin-bar .muske-menu-sidebar {
    top: 32px;
    padding: 30px;
}

.muske-menu-sidebar-top .nav-tabs button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding: 0.6em 1em 0.4em;
    line-height: 1;
}

.muske-menu-sidebar-top .nav-tabs button.active {
    background: #ffffff;
    color: #1f1841;
}

.sidebar__close-btn {
    transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #2a3a57;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    z-index: 99;
}

.sidebar__close {
    position: absolute;
    top: 28px;
    right: 30px;
}

.sidebar__close-btn span {
    transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
    vertical-align: middle;
    transform: translate(-50%, -50%);
}

.sidebar__close-btn span:first-of-type {
    transform: translate(-50%, -50%);
}

.sidebar__close-btn span spa {
    transform: translateY(-20px);
    display: inline-block;
}

.sidebar__close-btn span:last-child {
    transform: translateY(10px) translateX(-50%);
}

.sidebar__close-btn:hover span:last-child {
    transform: translateY(-20px) translateX(-50%);
}

.sidebar__close-btn:hover span:first-child {
    transform: translateY(20px) translateX(-50%);
}

.muske-menu-sidebar {
    padding: 30px;
}

.body-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    height: 100%;
    z-index: 4;
}

.body-overlay.overlay-open {
    visibility: visible;
}


.mean-container .mean-bar {
    background: transparent;
}

.mean-container a.meanmenu-reveal {
    display: none !important;
}

.mean-container .mean-nav {
    background: none;
    margin-top: 0;
}

.mean-container .mean-nav ul {
    display: block;
}

.mean-container .mean-nav ul li {
    list-style: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.mean-container .mean-nav ul li a {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border-top: 1px solid #2a3a57;
    font-size: 14px;
    display: block;
}

.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 0px;
    height: 15px;
    line-height: 14px;
    border-bottom: none;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 44px;
    line-height: 44px;
}

.mean-container ul>li:first-child>a {
    border-top: 0;
}

.mean-container .mean-bar>ul {
    display: block !important;
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mobile-menu.mean-container>.mean-bar>nav.mean-nav {
    display: block;
}

.mobile-menu.mean-container>.mean-bar>nav.mean-nav>ul {
    display: block !important;
}

.mean-container .mean-nav {
    ul {
        li {
            a {
                background-color: transparent;
                font-weight: 500;

                i {
                    display: none;
                }
            }

            li {
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                li {
                    a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}

.mean-container .mean-nav ul li a.mean-expand::after {
    display: none;
}

.mean-container .mean-nav ul li a::after {
    display: none;
}

.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 0px;
    height: 15px;
    line-height: 14px;
    border-bottom: none;
    padding: 0 !important;
    display: inline-block;
    width: 40px;
    height: 41px;
    line-height: 41px;
    background: transparent;
    border: none !important;
    border-left: 1px solid #2a3a57 !important;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
    background: #ffffff;
    color: #F4B826;
}

// tl-1
.tl-1-section {
    &-heading {
        margin-inline: auto;
        margin-bottom: 57px;
        width: 45%;

        @include xl {
            width: 55%;
        }

        @include lg {
            margin-bottom: 37px;
        }

        @include md {
            width: 65%;
        }

        @include sm {
            margin-bottom: 27px;
        }

        @include xs {
            width: 75%;
        }

        @include xxs {
            width: 100%;
            margin-bottom: 22px;
        }
    }

    &-title {
        font-size: 48px;
        font-weight: 600;
        color: var(--black);
        text-align: center;
        margin-bottom: 0;

        @include xl {
            font-size: 43px;
        }

        @include lg {
            font-size: 38px;
        }

        @include md {
            font-size: 34px;
        }

        @include sm {
            font-size: 28px;
        }

        @include xs {
            font-size: 25px;
        }
    }
}

.tl-1-slider-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;

    @include lg {
        margin-top: 40px;
    }

    @include xs {
        margin-top: 30px;
    }

    button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(23, 22, 28, 0.2);

        &.active {
            width: 40px;
            border-radius: 30px;
            background-color: var(--blue-2);
        }
    }
}

// tl-1

// tl-2 
.tl-2-section {
    &-heading {
        margin-bottom: 54px;

        @include lg {
            margin-bottom: 34px;
        }

        @include xs {
            text-align: center;
        }
    }

    &-title {
        margin-bottom: 0;
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        color: var(--black);

        @include xl {
            font-size: 44px;
            line-height: 52px;
        }

        @include lg {
            font-size: 40px;
            line-height: 48px;
        }

        @include md {
            font-size: 38px;
            line-height: 46px;
        }

        @include sm {
            font-size: 35px;
            line-height: 43px;
        }

        @include xs {
            font-size: 32px;
            line-height: 40px;
        }

        @include xxs {
            font-size: 30px;
            line-height: 38px;
        }
    }
}

.tl-2-def-btn {
    background-color: var(--kb-orange);
    border-color: var(--kb-orange);
    color: var(--white);

    &:hover {
        color: var(--white);
    }
}

// tl-2 

// tl-3
.tl-3-def-btn {
    height: 50px;
    line-height: 50px;
    background-color: var(--tl-btn-bg);
    border-radius: 30px;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    transition: 0.4s ease;
    border: 1px solid var(--tl-btn-bg);
    min-width: max-content;

    @include sm {
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        font-size: 14px;
    }

    @include xxs {
        height: 35px;
        line-height: 35px;
        padding: 0 25px;
        font-weight: 500;
    }

    &:hover {
        color: var(--white);
        background-color: transparent;
    }
}

.tl-3-section-spacing {
    padding: 120px 0;

    @include md {
        padding: 60px 0;
    }
}

.tl-3-section-title {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    margin-bottom: 70px;

    @include xl {
        font-size: 43px;
        line-height: 49px;
        margin-bottom: 45px;
    }

    @include lg {
        font-size: 35px;
        line-height: 40px;
    }

    @include md {
        font-size: 30px;
        line-height: 35px;
    }

    @include sm {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 35px;
    }

    @include xs {
        font-size: 25px;
        line-height: 30px;
    }

    @include xxs {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 30px;
    }
}

// tl-3


// tl-4
.tl-4 {
    &-def-btn {
        height: 50px;
        line-height: 50px;
        border-radius: 30px;
        background-color: var(--red-2);
        color: var(--white);
        border-color: var(--red-2);
        font-weight: 400;
        min-width: max-content;
        padding: 0 40px;

        @include xl {
            height: 45px;
            line-height: 45px;
            padding: 0 30px;
        }

        &::before {
            background: linear-gradient(90deg, transparent, rgb(241 241 241 / 36%));
            border-radius: 20px;
            height: 50px;
        }

        &:hover {
            color: var(--white);
        }
    }

    &-section-title {
        font-size: 48px;
        line-height: 54px;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 60px;
        text-align: center;

        @include xl {
            font-size: 43px;
            line-height: 50px;
            margin-bottom: 40px;
        }

        @include lg {
            font-size: 38px;
            line-height: 45px;
        }

        @include md {
            font-size: 33px;
            line-height: 40px;
            margin-bottom: 30px;
        }

        @include sm {
            font-size: 30px;
            line-height: 37px;
        }

        @include xs {
            font-size: 28px;
            line-height: 35px;
        }

        @include xxs {
            font-size: 25px;
            line-height: 32px;
        }
    }
}

// tl-4


// tl-5
.tl-5-def-btn {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: var(--red);
    color: var(--white);
    position: relative;
    isolation: isolate;
    transition: all 0.4s ease;
    min-width: max-content;

    @include lg {
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }

    @include sm {
        height: 40px;
        line-height: 40px;
    }

    @include xs {
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        font-size: 13px;
    }

    i {
        padding-left: 5px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #f1f1f141;
        width: 0;
        height: calc(100%);
        transition: all 0.4s ease;
        z-index: -1;
        left: auto;
    }

    &:hover {
        color: var(--white);

        &::before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
}

.tl-5-section-title {
    font-size: 48px;
    line-height: 53px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 59px;

    @include xxl {
        font-size: 45px;
        line-height: 50px;
    }

    @include xl {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 39px;
    }

    @include md {
        font-size: 35px;
        line-height: 40px;
    }

    @include sm {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 29px;
    }

    @include xs {
        font-size: 28px;
        line-height: 33px;
    }

    @include xxs {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 24px;
    }
}

// tl-5


// tl-6
.kb-10-def-btn {
    min-width: max-content;
    background-color: var(--kb-teal);
    height: 45px;
    line-height: 45px;
    display: inline-block;
    padding: 0 34px;
    color: var(--white);
    position: relative;
    isolation: isolate;
    overflow: hidden;

    @include lg {
        padding: 0 24px;
    }

    &:hover {
        color: var(--white);

        &::before {
            width: 130%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -20px;
        height: 400%;
        width: 0;
        background-color: rgba(255, 255, 255, 0.1450980392);
        z-index: -1;
        transform: rotate(217deg);
        transition: all 0.4s ease;
    }
}

.tl-6-section-title {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    padding: 0 120px;
    position: relative;
    display: inline-block;
    margin-bottom: 52px;

    @include xl {
        margin-bottom: 37px;
    }

    @include lg {
        margin-bottom: 32px;
    }

    @include xs {
        font-size: 28px;
        padding: 0 20px;
        width: 100%;
    }

    @include xxs {
        font-size: 25px;
        margin-bottom: 22px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 6px;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        border-block: 1px solid rgb(23 22 28 / 14%);

        @include xs {
            width: 15%;
        }
    }

    &::after {
        right: 0;
        left: auto;
    }
}

.tl-6-title-hover {
    a {
        background-image: linear-gradient(to right, var(--black), var(--black));
        background-size: 0% 1px;
        display: inline;
        background-repeat: no-repeat;
        background-position: 0 90%;

        &:hover {
            background-size: 100% 1px;
            color: var(--black);
        }
    }
}

.tl-6-slider-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;

    button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(23, 22, 28, 0.2);

        &.active {
            width: 40px;
            border-radius: 30px;
            background-color: var(--blue-2);
        }
    }
}

// tl-6


// tl-7
.tl-7-def-btn {
    display: inline-block;
    height: 50px;
    background-color: var(--tl-btn-bg);
    border-radius: 40px;
    line-height: 50px;
    padding: 0 38px;
    font-weight: 600;
    min-width: max-content;
    border: 1px solid var(--tl-btn-bg);
    transition: 0.4s ease;

    &:hover {
        background-color: transparent;
        color: var(--white);
    }

    @include lg {
        height: 45px;
        line-height: 46px;
        padding: 0 33px;
    }

    @include md {
        height: 40px;
        line-height: 40px;
        padding: 0 28px;
        font-weight: 500;
    }

    @include xs {
        padding: 0 23px;
        font-size: 14px;
    }

    @include xxs {
        height: 35px;
        line-height: 35px;
        padding: 0 20px;
    }
}

.tl-7-section {
    &-spacing {
        padding: 120px 0;

        @include md {
            padding: 60px 0;
        }
    }

    &-heading {
        width: 60%;
        margin: auto;
        text-align: center;
        margin-bottom: 58px;

        @include xl {
            margin-bottom: 43px;
        }

        @include lg {
            margin-bottom: 33px;
        }

        @include md {
            width: 70%;
            margin-bottom: 28px;
        }

        @include sm {
            width: 90%;
        }

        @include xxs {
            width: 100%;
        }
    }

    &-sub-title {
        text-transform: uppercase;
        color: rgb(0 0 0/ 70%);

        @include lg {
            font-size: 14px;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 0;

        @include xl {
            font-size: 43px;
            line-height: 50px;
        }

        @include lg {
            font-size: 35px;
            line-height: 43px;
        }

        @include md {
            font-size: 32px;
            line-height: 40px;
        }

        @include sm {
            font-size: 28px;
            line-height: 36px;
        }

        @include xxs {
            font-size: 26px;
            line-height: 34px;
        }
    }
}

// tl-7


// tl-8
.tl-8-section-title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 41px;

    @include xl {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 26px;
    }

    @include lg {
        font-size: 35px;
        line-height: 43px;
    }

    @include md {
        font-size: 32px;
        line-height: 40px;
    }

    @include sm {
        font-size: 30px;
        line-height: 38px;
    }

    @include xs {
        font-size: 28px;
        line-height: 36px;
    }

    @include xxs {
        font-size: 25px;
        line-height: 33px;
    }
}

// tl-8


// tl-9
.tl-9-def-btn {
    background-color: var(--ligh-yellow);
    text-transform: uppercase;
    border-color: var(--ligh-yellow);


    @include lg {
        height: 45px;
        line-height: 45px;
    }

    @include sm {
        height: 40px;
        line-height: 40px;
    }
}

.tl-9-colored {
    color: var(--ligh-yellow);
}

.tl-9-section {
    &-spacing {
        padding: 150px 0 120px;

        @include md {
            padding: 90px 0 60px;
        }
    }

    &-heading {
        margin-bottom: 50px;
        text-align: center;

        @include md {
            margin-bottom: 25px;
        }
    }

    &-title {
        font-family: var(--roboto);
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        color: var(--black-2);
        position: relative;
        display: inline-block;
        margin: auto;

        @include xl {
            font-size: 43px;
            line-height: 50px;
        }

        @include lg {
            font-size: 36px;
            line-height: 43px;
        }

        @include md {
            font-size: 34px;
            line-height: 40px;
        }

        @include sm {
            font-size: 30px;
            line-height: 36px;
        }

        @include xs {
            font-size: 28px;
            line-height: 34px;
        }

        @include xxs {
            font-size: 27px;
            line-height: 34px;
        }

        &::before {
            content: attr(data-text);
            position: absolute;
            left: -43px;
            transform: translate(0, -30px);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.5px rgb(44 44 44/14%);
            font-size: 80px;
            width: max-content;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

// tl-9

// tl-10
.tl-10-section-heading {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 42px;

    @include lg {
        width: 60%;
    }

    @include md {
        width: 70%;
    }
}

// tl-10

// tl-11
.tl-11 {
    &-section-spacing {
        padding: 120px 0;

        @include md {
            padding: 60px 0;
        }
    }

    &-section-heading {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(44 44 44 / 10%);
        padding-bottom: 22px;
        margin-bottom: 50px;

        @include lg {
            padding-bottom: 18px;
        }

        @include md {
            padding-bottom: 16px;
        }

        @include sm {
            padding-bottom: 14px;
        }

        @include xxs {
            flex-direction: column;
            row-gap: 10px;
            padding-bottom: 10px;
        }
    }

    &-section-title {
        font-weight: 600;
        font-size: 30px;
        color: var(--black-2);
        margin-bottom: 0;

        @include lg {
            font-size: 28px;
        }

        @include md {
            font-size: 26px;
        }

        @include sm {
            font-size: 24px;
        }

        @include xxs {
            font-size: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: var(--black-2);
            width: 100px;
            height: 2px;
            bottom: 0px;

            @include xxs {
                left: 50%;
                translate: -50% 0;
            }
        }
    }
}

// tl-11


// tl-12
.tl-12-section {
    &-heading {
        margin-bottom: 65px;

        @include xl {
            margin-bottom: 45px;
        }

        @include lg {
            margin-bottom: 35px;
        }

        @include md {
            margin-bottom: 30px;
        }

        @include sm {
            margin-bottom: 20px;
        }
    }

    &-title {
        font-family: var(--roboto);
        font-size: 54px;
        font-weight: 700;
        color: var(--black-3);
        margin-bottom: 0;
        text-align: center;

        @include xl {
            font-size: 50px;
        }

        @include lg {
            font-size: 45px;
        }

        @include md {
            font-size: 35px;
        }

        @include sm {
            font-size: 32px;
        }

        @include xs {
            font-size: 28px;
        }

        @include xxs {
            font-size: 27px;
        }
    }
}

// tl-12

// 13
.tl-13-section {
    &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;

        @include xl {
            margin-bottom: 45px;
        }

        @include lg {
            margin-bottom: 35px;
        }

        @include xs {
            flex-direction: column;
            margin-bottom: 25px;
            row-gap: 15px;
        }

        .tl-13-section-title {
            text-align: left;

            @include xs {
                text-align: center;
            }
        }
    }

    &-title {
        font-size: 48px;
        line-height: 1.1;
        font-weight: 600;
        color: var(--black);
        text-align: center;
        margin-bottom: 50px;

        @include xl {
            font-size: 40px;
        }

        @include lg {
            font-size: 35px;
            margin-bottom: 40px;
        }

        @include md {
            font-size: 33px;
        }

        @include sm {
            margin-bottom: 30px;
        }

        @include xs {
            font-size: 30px;
        }

        @include xxs {
            font-size: 27px;
        }
    }
}

// 13

// 14
.tl-14-section {
    &-heading {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 49px;

        @include xl {
            margin-bottom: 39px;
        }

        @include lg {
            margin-bottom: 29px;
        }

        @include sm {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }

        .tl-14-section-title {
            margin-bottom: 0;

            @include sm {
                text-align: center;
            }
        }

        &-action {
            margin-bottom: 4px;
        }
    }

    &-title {
        font-size: 48px;
        line-height: 112.5%;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 49px;

        @include xl {
            font-size: 43px;
            margin-bottom: 39px;
        }

        @include lg {
            font-size: 38px;
            margin-bottom: 29px;
        }

        @include md {
            font-size: 35px;
            margin-bottom: 19px;
        }

        @include sm {
            font-size: 32px;
            margin-bottom: 19px;
        }

        @include xs {
            font-size: 30px;
        }

        @include xxs {
            font-size: 26px;
        }
    }
}

.tl-14-def-btn {
    height: 45px;
    line-height: 44px;
    background-color: var(--red-3);
    border-color: var(--red-3);
    border-radius: 30px;
    color: var(--white);
    font-size: 15px;
    min-width: max-content;

    @include sm {
        height: 40px;
        line-height: 39px;
    }
}

.tl-14-slider-dots {
    button.active {
        background-color: var(--red-3);
    }
}

.tl-14-slider-nav {
    display: flex;
    justify-content: center;
    gap: 345px;

    @include sm {
        gap: 0;
        justify-content: space-between;
    }

    button {
        width: 54px;
        height: 54px;
        border-radius: 30px;
        border: 1px solid rgba(23, 22, 28, 0.10);
        line-height: 54px;
        color: var(--black);

        @include xs {
            width: 44px;
            height: 44px;
            line-height: 44px;
        }

        &:hover {
            background-color: var(--red-3);
            border-color: var(--red-3);
            color: var(--white);
        }
    }
}

// 14

// INNER PAGE BREADCRUMB
.tl-breadcrumb {
    color: var(--white);
    z-index: 2;
    position: relative;
    isolation: isolate;
    z-index: 1;
    background: url(../images/breadcrumb-bg.png) no-repeat bottom center;
    background-size: cover;
    background-color: var(--black-5);

    @include xl {
        padding: 80px 0;
    }

    @include md {
        padding: 70px 0;
    }

    @include sm {
        padding: 50px 0;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: url(../images/brdc-2.png) no-repeat center center;
        background-position: left bottom;
        background-size: cover;
        opacity: 70%;
    }

    &::before {
        content: none;
    }

    &::after {
        background: url(../images/brdc.png) no-repeat;
        background-size: 100% 320%;
        opacity: 25%;
        z-index: -2;
        background-position: 0 80%;
    }

    &-title {
        color: var(--white);
        margin-bottom: 0;
        font-size: 55px;
        font-weight: 700;
        text-transform: capitalize;

        @include xl {
            font-size: 50px;
        }

        @include md {
            font-size: 45px;
        }

        @include sm {
            text-align: center;
            font-size: 40px;
            margin-bottom: 20px;
        }

        @include xs {
            font-size: 37px;
            margin-bottom: 15px;
        }

        @include xxs {
            font-size: 35px;
        }
    }

    &-nav {
        justify-content: flex-end;
        font-size: 20px;
        gap: 5px;

        @include sm {
            justify-content: center;
        }

        @include xxs {
            font-size: 18px;
        }

        a {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-2 {
        background-color: var(--white);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        color: var(--black);

        .tl-breadcrumb-title {
            color: var(--black);
        }

        a {
            color: var(--black);

            &:hover {
                color: var(--kb-orange);
            }
        }
    }

    &-3 {
        background-color: #5261c8;
    }

    &-4 {
        border-top: 1px solid rgb(255 255 255 / 20%);
        background: var(--black-0);
    }
}

.tl-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include xl {
        padding-bottom: 80px;
    }

    @include md {
        padding-bottom: 60px;
    }

    @include xxs {
        gap: 10px;
    }

    a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid transparent;

        @include xxs {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }

    &-prev,
    &-next {
        background-color: #515050;
        color: var(--white);

        &:hover {
            border-color: #515050;
            background-color: transparent;
        }
    }

    .page-numbers {
        display: flex;
        align-items: center;
        gap: 15px;

        @include xxs {
            gap: 10px;
        }

        a {
            width: 45px;
            height: 45px;
            line-height: 45px;

            @include xxs {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
            }

            &:hover {
                border-color: #515050;
            }
        }

        a.active {
            border: 1px solid #515050;
            background-color: var(--white);
            box-shadow: 0 0 10px rgba(136, 136, 136, 0.3);
            color: #515050;
        }
    }

    &-container-dark {
        background-color: #292929;

        a {
            color: var(--white);
        }

        .page-numbers {
            color: var(--white);
        }
    }

}

.tl-3-inner {
    background-color: rgba(79, 94, 199, 0.1);
}

.tl-inner-blogs.pt-120.pb-50 {
    @include xl {
        padding-top: 80px;
    }

    @include md {
        padding-top: 60px;
    }
}

.tl-inner-courses.pb-60 {
    padding-bottom: 50px;

    @include xl {
        padding-bottom: 50px;
    }

    @include md {
        padding-bottom: 40px;
    }

    @include sm {
        padding-bottom: 30px;
    }
}