/*----- 01 CUSTOM PROPERTIES-----*/
:root {
    --tl-btn-bg: #F4B826;
    --black: #17161C;
    --white: #fff;
    --tl-blue: #36348E;
    --kb-teal: #01816D;
    --red: #AE152D;
    --kb-teal: #01816D;
    --black-2: #2c2c2c;
    --black-3: #2c2c2c;
    --black-0: #000000;
    --ligh-yellow: #DADE1C;
    --black-2: #2c2c2c;
    --red-2: #D2093C;
    --kb-orange: #E84F2C;
    --black-4: #18222F;
    --black-5: #18150E;
    --yellow-2: #F5D064;
    --blue-2: #1451D2;
    --tl-1-bg-coffee: #F7F3EB;
    --red-3: #F13A47;

    // FONTS
    --roboto: "Roboto", sans-serif;
    --rosaviro: 'Rosarivo', serif;
}

/*----- -----*/