<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Talim - School University & Online Education Template {% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('site/assets/images/logo/favicon.ico" type="image/x-icon') }}">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/font-awesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/font-awesome/sharp-regular.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/font-awesome/sharp-solid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/mean-menu/meanmenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/swiper-js/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/vendor/slick-slider/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/style.css') }}">

    <!-- dark version css -->
    <link rel="stylesheet" href="{{ asset('site/assets/css/dark-v.css') }}">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body class="dark_mode">

    {% include ('tmp/sidebar.html.twig') %}
    {% include ('tmp/header.html.twig') %}
    {% include ('tmp/banner.html.twig') %}

    {% block body %}
        
    {% endblock %}

    {% include ('tmp/footer.html.twig') %}
    <!-- JS FILES ↓ -->
    <script src="{{ asset('site/assets/vendor/jquery/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/fs-lightbox/fslightbox.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/mean-menu/jquery.meanmenu.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/swiper-js/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/slick-slider/slick.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/bx-slider/jquery.bxslider.min.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/eocjs-newsticker/eocjs-newsticker.js') }}"></script>
    <script src="{{ asset('site/assets/vendor/syotimer/jquery.syotimer.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/main.js') }}"></script>
    {% block javascripts_bottom %} {% endblock %}
</body>

</html>