/* ----- 40. BLOG DETAILS ----- */
.tl-blog-details {
    @include xl {
        padding: 80px 0;
    }

    @include md {
        padding: 60px 0;
    }

    &-row {
        @include md {
            --bs-gutter-y: 30px;
        }
    }

    &-img {
        position: relative;

        img {
            width: 100%;
        }
    }

    &-infos {
        margin: 20px 0 0;
        padding: 15px 0;
        border-color: rgba(0, 0, 0, 0.07);
        border-radius: 0;
        width: max-content;
        max-width: 100%;
        margin-inline: auto;
        background-color: var(--white);
        position: absolute;
        bottom: 0;
        left: 0;

        @include lg {
            padding: 12px 0;
        }

        @include xs {
            padding: 10px 0;
        }

        @include xxs {
            position: static;
            justify-content: center;
        }
    }

    &-info {
        text-align: center;
        border-color: rgb(0 0 0 / 7%);
        flex: auto 0 0;
        padding: 0 30px;

        @include lg {
            padding: 0 25px;
        }

        @include xs {
            padding: 0 20px;
        }

        @include xxs {
            padding: 0 15px;
        }

        &:first-child,
        &:nth-child(2) {
            @include sm {
                border-right: 1px solid #ddd;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        &:nth-child(2) {
            @include xxs {
                border: none;
            }
        }

        &-name {
            margin-bottom: 0;

            &,
            a {
                @include xs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 7px;
                }

                @include xxs {
                    flex-direction: row;
                }
            }

            i {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-title {
        margin-bottom: 15px;
    }

    &-descr {
        margin-top: 15px;

        &-txt {
            font-size: 18px;
            line-height: 1.7;
            letter-spacing: 0.3px;
            color: rgb(0 0 0 / 65%);

            @include xxs {
                font-size: 16px;
            }

            &.tl-event-details-area {
                text-align: center;
                font-size: 18px;
                line-height: 1.6;
                font-weight: 500;
                padding: 20px 25px;
                position: relative;
                padding-top: 80px;
                color: var(--black);

                @include xxs {
                    font-size: 16px;
                }

                &::before {
                    content: "\201C";
                    font-family: "Font Awesome 6 Sharp";
                    font-size: 80px;
                    font-weight: 700;
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    translate: -50% 0;
                    color: var(--tl-btn-bg);
                }
            }
        }
    }

    &-bottom-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        border-top: 1px solid #eee;

        @include xs {
            flex-direction: column;
            row-gap: 15px;
        }
    }

    &-tags {
        display: flex;
        gap: 8px;
    }

    &-tag {
        background-color: #eee;
        padding: 4px 15px 3px;
        border-radius: 3px;

        &:hover {
            background-color: var(--tl-btn-bg);
        }
    }

    &-shares {
        display: flex;
        gap: 10px;
        align-items: center;

        &-title {
            padding-right: 5px;
            margin-bottom: 0;
            line-height: 1;
            font-size: 18px;
        }

        a {
            font-size: 18px;
            width: 25px;
            color: #838383;

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-author {
        &-title {
            margin: 0;
            font-size: 26px;

            @include lg {
                font-size: 24px;
            }

            @include xxs {
                font-size: 22px;
            }
        }

        .tl-course-details-instructor {
            margin-top: 55px;


            @include xxs {
                margin-top: 65px;
            }
        }
    }

    &-bottom-nav {
        box-shadow: 0px 0px 0 0px rgba(33, 37, 41, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(33, 37, 41, 0.1);
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        &:hover {
            box-shadow: 2px 2px 0 3px rgba(33, 37, 41, 0.1);
            color: var(--tl-btn-bg);
        }

        &-arrow {
            font-size: 20px;
        }

        &-subtitle {
            margin-bottom: 7px;
            color: #838383;

            @include xxs {
                margin-bottom: 3px;
            }
        }

        &-title {
            margin: 0;
            font-size: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            @include xxs {
                font-size: 18px;
            }
        }

        &.tl-blog-details-bottom-nav-next {
            text-align: right;
        }
    }

    .tl-event-details-right {
        padding: 20px;
    }

    &-search {
        display: flex;
        align-items: center;

        input {
            width: 100%;
            height: 50px;
            padding: 0 15px;
            border: 1px solid #ddd;
            border-right: 0;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            background: var(--tl-btn-bg);
            height: 50px;
            padding: 0 20px;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            @include lg {
                padding: 0 15px;
            }
        }
    }

    &-category {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        margin-bottom: 15px;

        &:hover {
            color: var(--tl-btn-bg);
        }
    }

    .tl-upcoming-events-title {
        &:not(:last-child) {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 20px;

            @include lg {
                font-size: 22px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #f4b826, transparent);
            }
        }
    }
}

.tl-comment {
    margin-top: 20px;

    &-commenter {
        display: flex;
        align-items: center;
        gap: 12px;

        &-img {
            flex-shrink: 0;

            img {
                width: 54px;
                height: 54px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &-name {
            margin-bottom: 3px;

            @include xxs {
                margin-bottom: 3px;
                font-size: 18px;
            }
        }

        &-date {
            color: #656565;
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    &-txt {
        margin: 20px 0;
    }

    &-bottom-actions {
        display: flex;
        gap: 15px;

        >button {
            border: 1px solid #eee;
            padding: 0 15px;
            height: 35px;
            line-height: 32px;
            border-radius: 20px;

            &:hover {
                background-color: var(--tl-btn-bg);
                border-color: var(--tl-btn-bg);
                color: var(--black);

                i {
                    color: var(--black);
                }
            }

            i {
                font-size: 14px;
                line-height: 35px;
                vertical-align: middle;
                padding-right: 3px;
                color: #8c8c8c;
            }
        }
    }

    &-reply {
        border-top: 1px solid #e8e9e9;
        padding-top: 20px;
        margin-top: 25px;
        margin-left: 80px;

        @include xs {
            margin-left: 60px;
        }

        @include xxs {
            margin-left: 30px;
        }
    }

    &-commenter-state {
        color: #8c8c8c;
        font-size: 15px;
    }
}

.tl-comment-form {
    margin-top: 20px;

    input,
    textarea {
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 15px 15px;
        vertical-align: top;
        background-color: #f8f8f8;

        @include sm {
            padding: 10px 15px;
        }
    }

    &-btn {
        margin-top: 16px;
    }
}