/* ----- 38. COURSE DETAILS ----- */
.tl-course-details {
    &-navs {
        margin-bottom: 30px;
        border: 0;

        @include xxs {
            row-gap: 15px;
        }

        .nav-item {
            flex-grow: 1;

            @include xxs {
                flex: 50%;
            }
        }

        .nav-link {
            width: 100%;
            text-transform: capitalize;
            border: none;
            padding-block: 15px;
            font-size: 20px;
            color: var(--black);
            font-weight: 500;
            border: 1px solid transparent;
            box-shadow: inset 0 -1px 0 var(--tl-btn-bg);
            transition: 0.4s ease;

            @include xl {
                font-size: 18px;
                padding: 7px;
            }

            @include sm {
                font-size: 16px;
            }

            // @include xxs {
            //     border: 1px solid var(--tl-btn-bg);
            //     box-shadow: none;
            //     border-radius: 0;
            // }

            &:hover {
                border-color: transparent;

                // @include xxs {
                //     border-color: var(--tl-btn-bg);
                // }
            }

            &.active {
                box-shadow: inset 0 -100px 0 transparent;
                color: var(--tl-btn-bg);
                border-color: var(--tl-btn-bg);
                border-bottom-color: transparent;
                transition: 0.4s ease;

                // @include xxs {
                //     box-shadow: inset 0 50px 0 var(--tl-btn-bg);
                //     color: var(--white);
                //     border-bottom: 1px solid var(--tl-btn-bg);
                // }
            }
        }
    }


    &-infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px 0;
        margin: 30px 0 50px;

        @include xl {
            margin: 20px 0 40px;
            padding: 15px 0;
        }

        @include lg {
            padding: 10px 0;
            border-radius: 6px;
        }

        @include sm {
            flex-wrap: wrap;
            row-gap: 15px;
        }

        @include xs {
            margin-bottom: 30px;
        }
    }

    &-info {
        flex: calc(100% / 4);
        padding: 0 25px;

        @include xl {
            padding: 0 20px;
        }

        @include lg {
            padding: 0 15px;
        }

        @include sm {
            flex: 50%;
        }

        &:not(:last-child) {
            border-right: 1px solid #ddd;

            @include sm {
                border: none;
            }
        }

        &:first-child,
        &:nth-child(2) {
            @include sm {
                border-bottom: 1px solid #ddd;
                padding-bottom: 12px;
            }
        }

        &-name {
            text-transform: capitalize;
            margin-bottom: 5px;
            font-weight: 400;

            @include lg {
                font-size: 15px;
            }

            i {
                font-size: 15px;
                vertical-align: top;
                padding-right: 5px;

                @include lg {
                    font-size: 14px;
                }
            }
        }

        &-value {
            margin-bottom: 0;

            @include lg {
                font-size: 18px;
            }
        }
    }

    &-curriculum {
        padding: 0;
        overflow: hidden;

        .accordion-button {
            color: var(--black);
            font-size: 18px;
            font-weight: 600;

            @include xxs {
                padding: 15px;
            }

            &::after {
                background: none;
                content: "\f107";
                font-family: "Font Awesome 6 Pro";
                width: auto;
                height: auto;
            }

            &:not(.collapsed) {
                background-color: rgba(33, 37, 41, 0.1);
                box-shadow: none;

                &::after {
                    color: var(--tl-btn-bg);
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @include xxs {
            gap: 15px;
            flex-direction: column;
            align-items: flex-start;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 12px;
            margin-bottom: 12px;
        }

        &:hover {
            color: var(--tl-btn-bg);
        }

        &-left {
            display: flex;
            align-items: center;
            gap: 10px;

            @include xxs {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }

            i {
                border: 1px solid #eeeeee;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: grid;
                place-content: center;
                font-size: 14px;
                flex-shrink: 0;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    &-instructor {
        margin-top: 65px;
        padding: 30px 30px 20px;

        @include sm {
            padding: 20px 20px 10px;
        }

        @include xxs {
            padding: 15px 15px 8px;
        }

        &-heading {
            margin-top: -65px;
            display: flex;
            align-items: flex-end;
            gap: 15px;

            @include xxs {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 15%;
            flex-shrink: 0;

            @include xxs {
                width: 110px;
                height: 110px;
            }
        }

        &-txt {
            margin-top: 20px;
        }

        &-name {
            margin-bottom: 3px;
            font-size: 22px;
            font-weight: 500;

            @include sm {
                font-size: 20px;
            }

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-socials {
            display: flex;
            gap: 13px;
            margin-top: 6px;

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-intro {
            margin: 0;
            line-height: 1.8;
            font-size: 17px;

            @include xs {
                font-size: 16px;
            }
        }
    }

    &-review {
        padding: 20px;

        .tl-2-testimony-txt {
            margin-top: 5px;
            font-size: 18px;
            line-height: 28px;

            @include sm {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    &-stars {
        font-size: 16px;
        color: var(--tl-btn-bg);

        @include lg {
            font-size: 14px;
        }
    }

    &-top-courses {
        .tl-1-course {
            background-color: #f5f5f5;
            border-radius: 8px;

            @include xl {
                background-color: var(--white);
                padding: 0;
            }

            &-img {
                margin-bottom: 14px;

                img {
                    @include lg {
                        height: 190px;
                    }

                    @include sm {
                        height: 240px;
                    }

                    @include xxs {
                        height: 160px;
                    }
                }
            }

            &-author {
                @include lg {
                    margin-bottom: 5px;
                }
            }

            &-title {
                @include lg {
                    margin-bottom: 14px;
                }

                @include xxs {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    &-sidebar-heading {
        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            vertical-align: top;
        }
    }

    &-price {
        font-weight: 600;
        padding-top: 10px;
        font-size: 32px;

        span.prev-price {
            font-size: 22px;
            color: #838383;
            font-weight: 500;
        }
    }
}

#curriculum-tab-pane .accordion-body {
    @include xs {
        padding: 15px;
    }
}