/* ----- 37. EVENT DETAILS ----- */
.tl-event-details {
    &-container {
        @include xl {
            padding: 80px 0;
        }

        @include md {
            padding: 60px 0;
        }
    }

    &-row {
        --bs-gutter-y: 30px;

        > {
            .col-lg-8 {
                width: 63.666667%;

                @include md {
                    width: 100%;
                }
            }

            .col-lg-4 {
                width: 36.3333%;

                @include md {
                    width: 100%;
                }
            }
        }
    }

    &-left,
    &-right {
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: 0 0 30px -8px rgb(0 0 0 / 10%);
    }

    &-left {
        padding: 30px;

        @include xl {
            padding: 25px;
        }

        @include xxs {
            padding: 15px;
        }
    }

    &-area {
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 0 3px rgba(33, 37, 41, 0.1);

        @include lg {
            padding: 20px;
        }

        @include xxs {
            padding: 15px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            font-size: 24px;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 15px;

            @include sm {
                font-size: 20px;
            }
        }
    }

    &-video iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        vertical-align: top;
        border-radius: 8px;
    }

    &-title {
        font-size: 36px;
        font-weight: 700;
        padding-top: 12px;
        line-height: 1.4;

        @include xl {
            font-size: 32px;
        }

        @include lg {
            font-size: 30px;
        }

        @include sm {
            font-size: 25px;
        }

        @include xs {
            font-size: 23px;
        }

        @include xxs {
            font-size: 20px;
        }
    }

    &-key-content-list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        li {
            position: relative;
            padding-left: 18px;

            @include xxs {
                font-size: 15px;
            }

            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                background-color: var(--tl-btn-bg);
                left: 0;
                top: 8px;
                rotate: 45deg;
            }
        }
    }

    &-descr {
        &-txt {
            @include xxs {
                font-size: 15px;
                line-height: 25px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-faq {
        .tl-8-accordion-item {
            // box-shadow: -2px -2px 4px 0px rgba(23, 22, 28, 0.1);
            box-shadow: none;
            border-bottom: 1px solid #ddd;

            &-header {
                padding: 0 0 18px;
                transition: 0.4s ease;
            }

            &-body {
                padding: 0;

                @include xxs {
                    font-size: 15px;
                }
            }

            &:last-child {
                border: none;

                .tl-8-accordion-item-header {
                    padding-bottom: 0;
                }
            }


            &.open {
                .tl-8-accordion-item-header {
                    padding: 0 0 10px;
                }

                .tl-8-accordion-item-body {
                    padding: 0;
                    padding-bottom: 12px;
                }

                &:last-child {
                    .tl-8-accordion-item-body {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &-countdown-area {
        .syotimer {
            &__body {
                display: flex;
                gap: 20px;

                @include lg {
                    gap: 15px;
                }

                @include xs {
                    gap: 10px;
                }

                @include xxs {
                    flex-wrap: wrap;
                }
            }

            &-cell {
                flex: calc(100% / 4);
                text-align: center;
                aspect-ratio: 2 / 1.5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 15px 0;
                border-radius: 8px;
                border: 1px solid #ddd;

                @include sm {
                    padding: 12px 0;
                }

                @include xs {
                    padding: 10px 0;
                }

                @include xxs {
                    flex: calc((100% - 10px) / 2);
                }

                &__value {
                    font-size: 55px;
                    font-weight: 600;
                    line-height: 1;

                    @include lg {
                        font-size: 50px;
                    }

                    @include md {
                        font-size: 45px;
                    }

                    @include sm {
                        font-size: 40px;
                    }

                    @include xs {
                        font-size: 35px;
                    }
                }

                &__unit {
                    font-size: 18px;
                    text-transform: capitalize;
                }
            }
        }
    }

    &-right {
        margin-left: 25px;
        padding: 25px;

        @include md {
            margin-left: 0;
            max-width: 400px;
            margin: auto;
        }

        @include xxs {
            padding: 20px;
        }

        >* {
            &:not(:last-child) {
                margin-bottom: 30px;

                @include lg {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &-map iframe {
        width: 100%;
        aspect-ratio: 1;
        vertical-align: top;
    }

    &-socials {
        display: flex;
        justify-content: center;
        gap: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 10px;

        @include lg {
            padding-bottom: 10px;
            gap: 15px;
        }

        @include xxs {
            gap: 10px;
        }

        a {
            width: 45px;
            height: 45px;
            border: 1px solid #ddd;
            border-radius: 50%;
            text-align: center;
            display: grid;
            place-content: center;
            font-size: 18px;
            color: var(--black);

            @include lg {
                width: 40px;
                height: 40px;
            }

            @include xxs {
                width: 35px;
                height: 35px;
                font-size: 16px;
            }

            &:hover {
                background-color: var(--tl-btn-bg);
                border-color: var(--tl-btn-bg);
            }
        }
    }

    &-phone {
        font-size: 18px;
        text-align: center;
        display: block;
        font-weight: 500;
        color: var(--tl-btn-bg);

        i {
            padding-right: 5px;
        }
    }

    &-infos {
        border: 1px solid #ddd;
        padding: 15px 15px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 16px;

        @include lg {
            font-size: 16px;
        }

        i {
            color: #e09e00;
            padding-right: 5px;
        }

        &:not(:last-child) {
            padding-bottom: 13px;
            border-bottom: 1px solid #eeeeee;
        }
    }

    &-book-btn {
        width: 100%;

        &:hover {
            color: var(--black);
        }
    }
}

.tl-upcoming {
    &-events {
        margin-top: 25px;

        &-title:not(:last-child) {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }

    &-event {
        display: flex;
        align-items: center;
        gap: 20px;

        @include lg {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        @include md {
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        @include xxs {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
            padding-bottom: 15px;
            margin-bottom: 15px;

            @include lg {
                padding-bottom: 12px;
            }

            @include md {
                padding-bottom: 15px;
            }

            @include xxs {
                padding-bottom: 12px;
            }
        }

        &-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            flex-shrink: 0;
        }

        &-title {
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 5px;

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-location {
            text-transform: capitalize;
            color: #464646;
            font-size: 14px;

            i {
                color: var(--tl-btn-bg);
            }
        }
    }
}

.tl-pop-course {
    .tl-2-blog-infos {
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 0;

        a {
            color: var(--tl-btn-bg);

            &:hover {
                color: #464646;
            }
        }
    }
}