/* ----- 39. STAFF DETAILS ----- */
.tl-staff-profile {
    background-color: #f9f9f9;

    @include xl {
        padding: 80px 0;
    }

    @include md {
        padding: 60px 0;
    }

    &-top {
        text-align: center;
        border-radius: 10px;
        padding: 60px;
        background-color: var(--white);
        box-shadow: 0px 0px 32px 0px rgb(205 205 205 / 10%);
        position: relative;
        z-index: 1;
        margin-bottom: 100px;

        @include md {
            padding: 40px;
        }

        @include sm {
            margin-bottom: 75px;
        }

        @include xs {
            padding: 40px 30px;
        }

        @include xxs {
            padding: 40px 20px;
            margin-bottom: 135px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background: url(../images/staff-vector.png) no-repeat center center;
            background-size: 100% 120%;
            opacity: 0.1;
            background-position: 0 -280px;
            height: 555px;

            @include xxs {
                width: 430px;
            }
        }

        img {
            width: 160px;
            height: 160px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }

    &-intro {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
        margin-bottom: 25px;

        @include xxs {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    &-name {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 2px;

        @include xl {
            font-size: 28px;
        }

        @include lg {
            font-size: 26px;
        }
    }

    &-role {
        font-weight: 500;
        color: #717171;
        font-size: 16px;
        margin-bottom: 20px;
        margin-bottom: 0;
    }

    &-socials {
        border-left: 1px solid #ddd;
        padding-left: 15px;

        @include xxs {
            padding-left: 0;
            padding-top: 10px;
            border-left: none;
            border-top: 1px solid #ddd;
        }
    }

    &-bio {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        text-transform: capitalize;
        line-height: 1.8;
        color: rgb(0 0 0 / 60%);

        @include xl {
            width: 90%;
        }

        @include lg {
            width: 100%;
            margin-bottom: 20px;
        }

        @include md {
            margin-bottom: 30px;
        }
    }

    .tl-course-details-infos {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 50%;
        background-color: var(--white);
        width: 50%;
        padding: 15px 0;
        border-radius: 7px;
        border-color: #e7e7e7;

        @include xl {
            width: 45%;
        }

        @include lg {
            width: 50%;
        }

        @include md {
            width: 70%;
        }

        @include sm {
            width: 90%;
        }

        @include xxs {
            translate: -50% 70%;
        }
    }

    .tl-course-details-info {
        @include sm {
            flex: calc(100% / 3);
        }

        @include xxs {
            flex: calc(100% / 2);
        }

        &:first-child,
        &:nth-child(2) {
            @include sm {
                padding-bottom: 0;
                border-bottom: 0;
                border-right: 1px solid #ddd;
            }
        }

        &:nth-child(2) {
            @include xxs {
                border-right: 0;
            }
        }

        &:not(:last-child) {
            border-color: #e7e7e7;
        }
    }

    &-info-value {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 7px;
        line-height: 1;

        @include xl {
            font-size: 35px;
            margin-bottom: 4px;
        }

        @include sm {
            font-size: 32px;
        }

        @include xs {
            font-size: 28px;
        }
    }

    .tl-course-details-info-name {
        margin: 0;
        color: #6a6a6a;
        font-size: 18px;
    }

    &-courses-title {
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 30px;

        @include md {
            font-size: 25px;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }

        @include xxs {
            font-size: 22px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
    }

    &-courses {
        .tl-1-course-img img {
            @include xs {
                height: 280px;
            }

            @include xxs {
                height: 230px;
            }
        }
    }
}