/* ----- 07. About ----- */
.tl-1 {
    &-about {
        &-row {
            @include md {
                --bs-gutter-y: 70px;
            }
        }

        &-img {
            position: relative;
            width: fit-content;
            max-width: 100%;

            @include md {
                margin-inline: auto;
            }
        }

        &-main-img {
            width: 519px;
            height: 570px;
            object-fit: cover;
            box-shadow: 0 10px 80px rgb(23 22 28 / 10%);
            border: 5px solid var(--white);

            @include xl {
                width: 469px;
                height: 520px;
            }

            @include lg {
                width: 379px;
                height: 450px;
            }

            @include md {
                height: 400px;
            }
        }

        &-sticker {
            position: absolute;
            top: 50%;
            right: 0;
            translate: 50% -50%;
            box-shadow: 0 10px 80px rgb(23 22 28 / 10%);
            border-radius: 50%;
            animation: rotate-center 4.5s linear infinite;

            @include xl {
                width: 160px;
            }

            @include lg {
                width: 140px;
            }

            @include md {
                top: auto;
                bottom: 0;
                right: auto;
                left: 50%;
                translate: -50% 50%;
                width: 120px;
            }
        }

        &-txt {
            .tl-1-section-title {
                text-align: left;
                margin-bottom: 16px;

                @include md {
                    text-align: center;
                }
            }

            .tl-3-about-author {
                @include md {
                    justify-content: center;
                }

                &-name {
                    color: var(--black);
                }
            }
        }

        &-descr {
            margin-bottom: 52px;

            @include md {
                text-align: center;
                margin-bottom: 42px;
            }
        }

        &-author {
            display: flex;
            align-items: center;
            gap: 95px;

            @include lg {
                gap: 0;
                justify-content: space-between;
            }

            @include md {
                gap: 95px;
                justify-content: flex-start;
            }

            @include xxs {
                gap: 10px;
                flex-direction: column;
                align-items: center;
            }

            &-intro {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            &-name {
                font-size: 18px;
                margin-bottom: 3px;
                color: var(--black);
            }

            &-role {
                font-size: 14px;
                color: rgb(23, 22, 28, 0.70);
                font-weight: 500;
            }
        }
    }

    &-stats {
        display: flex;
        border-top: 1px solid rgb(23 22 28 / 14%);
        justify-content: space-between;
        margin-top: 100px;
        padding-top: 43px;

        @include xl {
            margin-top: 80px;
        }

        @include md {
            flex-wrap: wrap;
            column-gap: 60px;
            row-gap: 30px;
            justify-content: center;
            margin-top: 60px;
        }

        @include sm {
            margin-top: 50px;
        }

        @include xs {
            padding-top: 40px;
            margin-top: 40px;
        }

        >* {
            flex-shrink: 0;

            @include md {
                flex-basis: 25%;
            }

            @include xs {
                flex-basis: 50%;
            }
        }
    }

    &-stat {
        position: relative;

        &-num {
            font-weight: 900;
            font-size: 140px;
            line-height: 0.8;
            color: rgb(23 22 28 / 14%);
            -webkit-text-stroke: 1px rgb(23 22 28 / 14%);
            -webkit-text-fill-color: transparent;

            @include xl {
                font-size: 125px;
            }

            @include lg {
                font-size: 105px;
            }

            @include sm {
                font-size: 95px;
            }

        }

        &-name {
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: -20px;
            font-size: 17px;
            font-weight: 500;
            color: var(--black);
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &:nth-child(even) {
            .tl-1-stat-num {
                color: rgb(236 232 225 / 60%);
                -webkit-text-fill-color: currentColor;
                -webkit-text-stroke: 1px rgb(244 241 237);
            }
        }
    }
}

// INDEX-2 ABOUT ↓
.tl-2-about {
    .tl-2-section-title {
        font-size: 44px;
        color: #111720;
        line-height: 54px;
        margin-bottom: 23px;

        @include xl {
            font-size: 42px;
            line-height: 52px;
        }

        @include lg {
            font-size: 35px;
            line-height: 45px;
        }

        @include sm {
            font-size: 30px;
            line-height: 40px;
        }

        @include xxs {
            font-size: 26px;
            line-height: 36px;
        }
    }

    &-row {
        --bs-gutter-x: 80px;

        @include xl {
            --bs-gutter-x: 50px;
        }
    }

    &-img {
        display: flex;
        justify-content: flex-end;
        position: relative;

        @include md {
            justify-content: center;
        }

        img {
            max-width: 730px;

            @include lg {
                max-width: 600px;
            }

            @include md {
                max-width: 100%;
            }
        }
    }

    &-arrow {
        position: absolute;
        right: 0;
        top: 50px;

        @include md {
            display: none;
        }
    }

    &-second-title {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        color: #111720;
    }

    &-descr {
        color: rgb(17 23 32 / 70%);
        margin-bottom: 28px;
    }

    &-stats {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 46px;
        gap: 50px;


        @include xl {
            gap: 40px;
        }

        @include lg {
            gap: 20px;
            margin-bottom: 36px;
        }

        @include xxs {
            gap: 15px;
            flex-direction: column;
        }
    }

    &-stat {
        &:not(:last-child) {
            border-right: 1px dashed rgb(24 34 47 / 30%);
            padding-right: 50px;

            @include xl {
                padding-right: 40px;
            }

            @include lg {
                padding-right: 20px;
            }

            @include xxs {
                padding-right: 15px;
            }
        }

        .tl-9-about-stat {
            &-num {
                color: #111720;
                font-size: 50px;
                line-height: 1;
                font-weight: 700;
                margin-bottom: 2px;

                @include lg {
                    font-size: 45px;
                }

                @include sm {
                    font-size: 40px;
                }

                @include xxs {
                    font-size: 35px;
                }
            }

            &-name {
                color: rgb(17 23 32 / 70%);
            }
        }
    }
}

// INDEX-2 ABOUT ↑


// 3
.tl-3-about {
    &-txt {
        padding-right: 60px;

        @include xl {
            padding-right: 50px;
        }

        @include lg {
            padding-right: 15px;
        }

        @include md {
            padding-right: 0;
        }
    }

    .tl-3-section-title {
        text-align: left;
        margin-bottom: 0;
    }

    &-descr {
        margin-top: 24px;
        margin-bottom: 52px;
        color: rgb(23, 22, 28, 0.70);

        @include md {
            margin-bottom: 37px;
        }
    }

    &-img {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include xl {
            align-items: flex-end;
            gap: 20px;
        }

        @include sm {
            gap: 10px;
        }

        img {
            @include xl {
                width: 40%;
                flex-grow: 1;
            }

            &:first-child {
                margin-top: 60px;
                width: 354px;
                height: 549px;
                object-fit: cover;

                @include xxl {
                    margin-top: 0;
                }
            }

            &:last-child {
                width: 276px;
                height: 519px;
                object-fit: cover;

                @include sm {
                    display: none;
                }
            }
        }
    }
}

// 3


// 4
.tl-4-about {
    &-img {
        @include xl {
            justify-content: flex-end;
        }

        img {
            &:first-child {
                margin-top: 0;
                width: 276px;
                height: 519px;

                @include md {
                    width: calc((100% - 10px) / 2);
                }

                @include sm {
                    height: 380px;
                }

                @include xs {
                    height: 350px;
                }
            }

            &:last-child {
                margin-top: 60px;
                width: 354px;
                height: 549px;

                @include xl {
                    margin-top: 0;
                }

                @include md {
                    width: calc((100% - 10px) / 2);
                }

                @include sm {
                    height: 380px;
                }

                @include xs {
                    height: 350px;
                }
            }
        }
    }

    &-txt {
        padding-left: 80px;

        @include xl {
            padding-left: 40px;
        }

        @include lg {
            padding-left: 20px;
        }

        @include md {
            padding-left: 0;
        }

        .tl-4-section-title {
            text-align: left;
            margin-bottom: 0;
        }

        &-bottom {
            display: flex;
            align-items: center;
            gap: 40px;

            @include xxs {
                gap: 20px;
                flex-direction: column;
            }
        }
    }

    &-descr {
        margin-top: 16px;
        margin-bottom: 32px;
        line-height: 26px;
        color: rgb(23 22 28 / 70%);

        @include xl {
            margin-bottom: 28px;
        }
    }

    &-stats {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        border-top: 1px solid rgb(23 22 28 / 14%);
        margin-bottom: 47px;

        @include lg {
            gap: 20px;
        }

        @include md {
            gap: 40px;
            justify-content: flex-start;
        }

        @include xs {
            margin-bottom: 27px;
        }

        @include xxs {
            row-gap: 0;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    &-stat {
        position: relative;
        margin-top: 25px;

        @include xl {
            margin-top: 20px;
        }

        &-num {
            font-size: 80px;
            display: inline-block;
            font-weight: 700;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px rgb(17 23 32 /24%);
            line-height: 1;

            @include xl {
                font-size: 75px;
            }

            @include xs {
                font-size: 65px;
            }

            @include xxs {
                font-size: 65px;
            }
        }

        &-name {
            font-size: 17px;
            color: var(--black);
            text-transform: capitalize;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            min-width: max-content;
        }
    }

    &-support {
        display: flex;
        gap: 10px;
        align-items: center;

        >img {
            @include xl {
                width: 40px;
                height: 40px;
            }
        }

        &-txt {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: #6E6D74;
        }

        &-mail {
            font-size: 18px;
            line-height: 22px;
            color: var(--red-2);

            &:hover {
                color: var(--black);
            }
        }
    }
}

// 4


// 5
.tl-5-about {
    padding: 120px 0 170px;
    position: relative;

    @include md {
        padding: 60px 0px;
    }

    @include sm {
        padding: 60px 0 20px;
    }

    @include xxs {
        padding: 60px 0 0;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 50%;
        background-color: #F9F6F0;
        z-index: -1;
    }

    &-dialogue {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 0;
        color: var(--black);

        @include xl {
            font-size: 25px;
            line-height: 37px;
        }

        @include lg {
            font-size: 22px;
            line-height: 34px;
        }
    }

    &-txt {
        margin-bottom: 0;

        p {
            margin-bottom: 23px;
            color: var(--black);

            @include xs {
                margin-bottom: 13px;
            }
        }
    }

    &-author-name {
        font-size: 16px;
        font-weight: 500;
        position: relative;
        padding-left: 35px;
        color: var(--black);

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: var(--black);
            left: 0;
            top: 50%;
            translate: 0 -50%;
        }
    }

    &-img {
        position: relative;
        width: 100%;
        margin-top: 88px;

        @include md {
            margin-top: 48px;
        }

        @include xs {
            margin-top: 28px;
        }

        &::before {
            position: absolute;
            content: "University Campus Life";
            top: calc(100% - 90px);
            font-size: 160px;
            font-weight: 600;
            color: rgb(23 22 28 / 6%);
            width: max-content;
            left: 50%;
            translate: -50% 0;

            @media screen and (max-width: 1689px) {
                font-size: 125px;
                top: calc(100% - 65px);
            }

            @include xl {
                font-size: 105px;
                top: calc(100% - 45px);
            }

            @include lg {
                font-size: 90px;
            }

            @include md {
                font-size: 70px;
                top: calc(100% - 40px);
            }

            @include sm {
                font-size: 50px;
                top: calc(100% - 25px);
            }

            @include xs {
                font-size: 40px;
                top: calc(100% - 15px);
            }

            @include xxs {
                font-size: 27px;
                top: calc(100% - 12px);
            }
        }

        img {
            width: 100%;
            height: 540px;
            object-fit: cover;
        }
    }

    &-inner {
        padding-bottom: 270px;

        @include md {
            padding-bottom: 120px;
        }
    }
}


.tl-5-admission-form {
    position: absolute;
    right: 60px;
    bottom: -160px;
    max-width: 485px;
    background-color: var(--white);
    box-shadow: 0 10px 60px rgb(23, 22, 28, 0.10);
    padding: 50px 40px;

    @include lg {
        right: 0;
        bottom: -130px;
        max-width: 475px;
        padding: 40px 30px;
    }

    @include md {
        position: relative;
        margin: auto;
        margin-top: -130px;
        bottom: auto;
    }

    @include xs {
        margin-top: 0;
        padding: 30px 20px;
    }

    &-title {
        margin-bottom: 28px;
        font-size: 20px;
        font-weight: 600;
        color: var(--black);
    }

    .g-14 {
        --bs-gutter-x: 14px;
        --bs-gutter-y: 14px;
    }


    input,
    button,
    textarea {
        width: 100%;
        border: 1px solid rgb(23 22 28 / 10%);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--black);
            font-size: 14px;
        }
    }

    input {
        height: 40px;
        padding: 0 15px;
    }

    textarea {
        padding: 15px;
        height: 100px;
    }
}

// 5


// 6
.tl-7-about {
    background-color: #F8F2ED;

    &-content {
        background-color: var(--white);
        box-shadow: 0 10px 60px rgb(23 22 28 / 10%);
        position: relative;
        z-index: 2;
        margin-top: -100px;
    }

    &-heading {
        width: 100%;
        text-align: left;
        padding-inline: 70px;
        margin-bottom: 0;

        @include xl {
            padding-inline: 50px;
        }

        @include lg {
            padding-inline: 40px;
        }

        @include md {
            padding: 40px;
        }

        @include sm {
            padding: 30px;
        }

        @include xxs {
            padding: 20px;
        }
    }

    .tl-7-section-title {
        margin-bottom: 24px;

        @include xl {
            margin-bottom: 14px;
        }
    }

    &-descr {
        margin-bottom: 38px;

        @include lg {
            margin-bottom: 28px;
        }

        @include sm {
            margin-bottom: 20px;
        }

        @include xxs {
            font-size: 15px;
        }
    }

    &-info {
        &-cards {
            display: flex;

            @include sm {
                max-height: 450px;
            }

            @include xs {
                max-height: 400px;
            }

            @include xxs {
                max-height: 370px;
                flex-direction: column;
                gap: 12px;
            }

            >* {
                width: 50%;

                @include xxs {
                    width: 100%;
                }
            }

            .bx-wrapper {
                margin: 0;
                border: none;
                box-shadow: none;
                overflow: hidden;

                .bx-viewport {
                    overflow: visible !important;
                }
            }


            &-col {
                display: flex;
                flex-direction: column;

                .slick-slide {
                    border: none;
                }
            }
        }

        &-card {
            img {
                width: 100%;
            }
        }
    }

    &-timings {
        background-color: var(--tl-btn-bg);
        width: 100%;
        padding: 50px 35px;
        display: flex;
        flex-direction: column;
        gap: 117px;

        @include xl {
            padding: 30px 25px;
        }

        @include lg {
            padding: 25px 20px;
            gap: 60px;
        }

        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: var(--black);

            @include xl {
                font-size: 22px;
                line-height: 30px;
            }

            @include lg {
                font-size: 20px;
                line-height: 28px;
            }

            @include sm {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    &-timing {
        font-weight: 500;
        color: var(--black);

        @include sm {
            font-size: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 6px;
        }

        i {
            margin-right: 10px;
        }
    }

    &-stat-card {
        background: url(../images/tl-7/about-card-bg.jpg) no-repeat center center;
        background-size: cover;
        height: 100%;
        padding: 71.5px 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include xl {
            padding: 51.5px 40px;
        }

        @include lg {
            padding: 41.5px 30px;
        }

        @include xxs {
            padding: 25.5px 20px;
        }

        img {
            width: 80px;

            @include lg {
                width: 60px;
            }

            @include sm {
                width: 50px;
            }

            @include xs {
                width: 45px;
            }
        }

        h6 {
            display: flex;
            flex-direction: column;
            color: #808080;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 0;

            span.number {
                font-size: 100px;
                font-weight: 800;
                color: var(--white);

                @include lg {
                    font-size: 70px;
                }

                @include xs {
                    font-size: 65px;
                }

                @include xxs {
                    font-size: 50px;
                }

                i {
                    font-size: 24px;
                }
            }
        }
    }
}

// 6


// 8
.tl-8 {
    &-about {
        &-img {
            position: relative;

            @include md {
                margin-bottom: 76px;
            }
        }

        &-main-img {
            width: 100%;
            border: 1px solid #18222F;
        }

        &-sticker {
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: auto;
            right: calc(0% - 75px);
            width: 150px;
            height: 150px;
            animation: rotate-center 3s linear infinite;

            @include lg {
                right: calc(0% - 65px);
                width: 130px;
                height: 130px;
            }

            @include md {
                top: auto;
                right: auto;
                bottom: 0;
                left: 50%;
                translate: -50% 50%;
            }
        }

        &-txt {

            @include md {
                width: 100%;
                margin: auto;
            }
        }
    }

    &-feature {
        margin-bottom: 45px;

        @include lg {
            margin-bottom: 38px;
        }

        &-title {
            margin-bottom: 16px;
            font-weight: 700;
            color: #18222F;
            font-size: 18px;
            line-height: 26px;

            @include lg {
                margin-bottom: 11px;
            }
        }

        &-descr {
            margin-bottom: 0;
            color: rgb(0 0 0 / 80%);
        }
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.tl-8-courses .tl-8-course-img img {
    width: 100%;
}

// 9
.tl-9 {
    &-about {
        border-bottom: 1px solid rgb(44 44 44/20%);

        &-row {
            @include xl {
                --bs-gutter-x: 50px
            }
        }

        &-img {
            display: flex;
            justify-content: flex-end;

            img {
                max-width: 960px;
                object-fit: cover;

                @include xl {
                    height: 650px;
                }

                @include lg {
                    height: 570px;
                }

                @include md {
                    width: 100%;
                    height: 500px;
                }

                @include sm {
                    height: 400px;
                }

                @include xs {
                    height: 350px;
                }

                @include xxs {
                    height: 300px;
                }
            }
        }

        &-txt {
            @include md {
                padding: 30px 0;
            }

            @include xs {
                padding: 20px 0;
            }

            .tl-9-section-heading {
                text-align: left;
                margin-bottom: 21px;

                @include xs {
                    margin-bottom: 16px;
                }
            }
        }

        &-descr {
            color: rgb(44 44 44 / 70%);
            margin-bottom: 34px;

            @include sm {
                margin-bottom: 28px;
            }

            @include xs {
                margin-bottom: 23px;
            }
        }

        &-stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            gap: 25px;

            @include md {
                justify-content: flex-start;
                margin-bottom: 35px;
            }

            @include xs {
                margin-bottom: 30px;
            }
        }

        &-stat {
            display: flex;
            column-gap: 15px;
            align-items: center;

            @include lg {
                column-gap: 10px;
            }

            img {
                width: 74px;
                height: 74px;
                padding: 18px;
                border-radius: 50%;
                border: 1px solid rgb(44 44 44/10%);
                overflow: visible;
                flex-shrink: 0;

                @include xl {
                    width: 64px;
                    height: 64px;
                    padding: 15px;
                }

                @include lg {
                    width: 55px;
                    height: 55px;
                    padding: 13px;
                }

                @include xxs {
                    display: none;
                }
            }

            &-num {
                display: block;
                font-size: 34px;
                line-height: 1;
                font-weight: 500;
                color: var(--black-2);

                @include xl {
                    font-size: 30px;
                }

                @include lg {
                    font-size: 28px;
                }

                @include xs {
                    font-size: 26px;
                }

                @include xxs {
                    font-size: 24px;
                }
            }

            &-name {
                color: var(--black-2);
            }
        }
    }
}

.tl-7-section-spacing.pb-50 {
    padding-bottom: 50px;

    @include sm {
        padding-bottom: 40px;
    }

    @include xxs {
        padding-bottom: 30px;
    }
}

// 9

// 10
.tl-10-about-section {
    overflow: hidden;
    position: relative;

    @include md {
        padding: 60px 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 130px;
        right: 100px;
        background: url(../images/tl-10/about-shape-2.png) no-repeat center center;
        background-size: 100%;
        width: 74px;
        height: 58px;
        animation: slide-top 1.3s linear infinite alternate;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 120px;
        right: 200px;
        background: url(../images/tl-10/about-shape-1.png) no-repeat center center;
        background-size: 100%;
        width: 100px;
        height: 110px;
        animation: slide-tr 1.8s linear infinite alternate;

        @include lg {
            right: 100px;
        }

        @include md {
            content: none;
        }
    }
}

@keyframes slide-tr {
    0% {
        transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(-30px) translateX(30px);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


.tl-10-about-img {
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        top: -75px;
        left: -115px;
        width: 711px;
        height: 693px;
        z-index: -1;
        background: url(../images/tl-10/about-img-vec.png) no-repeat center center;
        background-size: 100%;
    }

    >img {
        box-shadow: 0 30px 130px rgba(23, 22, 28, 0.18);

        @include sm {
            width: 70%;
        }

        @include xs {
            width: 100%;
        }
    }

    .bottom-img {
        position: absolute;
        bottom: 0;
        right: -25px;
        box-shadow: 0 30px 130px rgba(23, 22, 28, 0.18);

        @include lg {
            top: 50%;
            translate: 0 -50%;
            bottom: auto;
            width: 55%;
            right: -40px;
        }

        @include md {
            top: auto;
            translate: 0;
            bottom: 0;
            width: auto;
            right: 0;
        }

        @include sm {
            width: 55%;
        }

        @include xxs {
            width: 50%;
        }
    }
}

.tl-10-users {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;

    @include sm {
        flex-direction: column;
        align-items: flex-start;
    }

    &-img {
        >* {
            @include xxs {
                width: 40px;
            }

            &:not(:first-child) {
                margin-left: -20px;
            }
        }


        .last-img {
            position: relative;
            line-height: 0;

            img {
                filter: brightness(0.5);
            }

            &-txt {
                font-weight: 600;
                font-size: 14px;
                color: var(--white);
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
        }
    }

    &-txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
        color: var(--black);
    }
}

.tl-10-about {
    &-txt {
        padding-left: 80px;

        @include xl {
            padding-left: 50px;
        }

        @include md {
            padding-left: 0;
            text-align: center;
        }
    }

    &-title {
        margin-bottom: 18px;

        @include sm {
            margin-bottom: 13px;
        }

        .last-word {
            &::before {
                background-image: url(../images/tl/line-2.png);
            }
        }
    }

    &-descr {
        color: rgb(23 22 28 / 70%);
        margin-bottom: 32px;

        @include sm {
            margin-bottom: 22px;
        }
    }
}

// 10

// 13
.tl-13-about {
    &-img {
        position: relative;
        z-index: 2;

        >img {
            width: 660px;
            height: 500px;
            object-fit: cover;

            @include xl {
                height: 100%;
            }

            @include md {
                width: 100%;
            }
        }
    }

    &-stat {
        background-color: var(--white);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 28px 45px;
        padding-right: 85px;
        font-size: 16px;
        color: #808080;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 1;

        @include lg {
            padding: 18px 35px;
            padding-right: 75px;
        }

        @include xxs {
            padding: 8px 25px;
            padding-right: 65px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 40%;
            height: 100%;
            background-color: var(--tl-btn-bg);
            transform: rotate(350deg);
            top: -10px;
            right: -25px;
            z-index: -1;

            @include xxs {
                right: -15px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--white);
            z-index: -1;
        }

        &-icon {
            position: absolute;
            top: 18px;
            right: 30px;
            width: 54px;
            height: 64px;
            object-fit: contain;

            @include xxs {
                top: 8px;
                width: 44px;
                height: 54px;
            }
        }

        &-number {
            font-size: 60px;
            font-weight: 800;
            color: var(--black);
            display: block;
            line-height: 1;
            margin-bottom: 10px;

            @include xxs {
                font-size: 50px;
                margin-bottom: 5px;
            }
        }
    }

    &-txt {
        margin-left: -8px;
        position: relative;
        z-index: 1;

        @include md {
            margin-left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 66px;
            height: 92px;
            top: -44px;
            right: 0;
            background: url(../images/tl-13/icon-1.png) no-repeat center center;
            background-size: 100%;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 54px;
            top: 100%;
            right: 140px;
            background: url(../images/tl-13/icon-2.png) no-repeat center center;
            background-size: 100%;
            z-index: -1;
        }
    }

    &-sub-title {
        border: 1px solid #C9C8C8;
        display: inline-block;
        padding: 0 25px;
        padding-left: 35px;
        border-radius: 20px;
        position: relative;
        font-size: 14px;
        line-height: 36px;
        height: 36px;
        font-weight: 500;
        margin-bottom: 15px;

        @include lg {
            padding: 0 15px;
            padding-left: 25px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 25px;
            top: 50%;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #5A595D;
            translate: 0 -50%;

            @include lg {
                left: 15px;
            }
        }
    }

    .tl-13-section-title {
        margin-bottom: 24px;
        text-align: left;

        @include md {
            margin-bottom: 14px;
        }
    }

    &-descr {
        color: rgb(23 22 28 / 70%);
        margin-bottom: 42px;

        @include xl {
            margin-bottom: 32px;
        }

        @include md {
            margin-bottom: 22px;
        }
    }

    &-btn {
        color: var(--tl-blue);
        font-weight: 600;

        &:hover {
            color: var(--tl-btn-bg);

            i {
                rotate: -45deg;
            }
        }

        i {
            margin-left: 5px;
            transition: rotate 0.4s ease;
        }
    }

    &-features {
        background-color: var(--black);
        position: relative;
        margin-top: 100px;

        @include xl {
            margin-top: 80px;
        }

        @include lg {
            margin-top: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: var(--tl-btn-bg);
            rotate: -1.5deg;
            width: calc(100% + 50px);
            height: calc(100%);
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            z-index: -1;
        }

        .eocjs-newsticker-container {
            height: 100px;

            @include xl {
                height: 90px;
            }

            @include lg {
                height: 70px;
            }
        }

        .eocjs-newsticker-one,
        .eocjs-newsticker-two {
            height: 100px;
            line-height: 100px;

            @include xl {
                height: 90px;
                line-height: 90px;
            }

            @include lg {
                height: 70px;
                line-height: 70px;
            }
        }
    }

    &-feature {
        font-family: var(--rosaviro);
        font-style: italic;
        text-transform: uppercase;
        font-size: 38px;
        min-width: max-content;
        color: var(--white);
        padding-left: 72px;
        margin-left: 42px;
        position: relative;

        @include lg {
            font-size: 33px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            width: 32px;
            height: 32px;
            background: url(../images/tl-13/about-ticker-vector.png) no-repeat center center;
            background-size: 100%;
        }
    }
}

// 13

// 14
.tl-14-about {
    &-img {
        position: relative;

        img {
            width: 630px;
            height: 730px;
            object-fit: cover;

            @include xl {
                height: 600px;
            }

            @include lg {
                height: 530px;
            }

            @include md {
                height: 470px;
                width: 100%;
            }

            @include sm {
                height: 400px;
            }

            @include xs {
                height: 350px;
            }

            @include xxs {
                height: 250px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background: url(../images/tl-12/banner-vector-1.png) no-repeat center center;
            background-size: 100%;
            right: calc(100% + 7px);
            bottom: 100%;
            width: 70px;
            height: 65px;
        }
    }

    &-txt {
        padding-left: 80px;

        @include xl {
            padding-left: 40px;
        }

        @include lg {
            padding-left: 10px;
        }

        @include md {
            padding-left: 0;
            text-align: center;
            padding-inline: 70px;
        }

        @include sm {
            padding-inline: 20px;
        }

        @include xxs {
            padding-inline: 0;
        }
    }

    .tl-13-about-sub-title {
        margin-bottom: 18px;
    }

    .tl-14-section-title {
        margin-bottom: 20px;
    }

    &-descr {
        color: rgba(23, 22, 28, 0.70);
        line-height: 162.5%;
        margin-bottom: 29px;

        @include lg {
            margin-bottom: 24px;
        }
    }

    &-service-list {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        row-gap: 7px;
        column-gap: 55px;
        margin-bottom: 42px;

        @include lg {
            margin-bottom: 32px;
        }

        @include md {
            justify-content: center;
        }

        @include xxs {
            grid-template-columns: repeat(1, max-content);
        }

        li {
            color: var(--black);
            font-weight: 500;
            line-height: 162.5%;
            padding-left: 12px;
            position: relative;
            text-align: left;

            &::before {
                content: "+";
                position: absolute;
                left: 0;
            }
        }
    }

    &-actions {
        display: flex;
        gap: 85px;
        border-block: 1px solid rgb(23 22 28 / 14%);
        padding: 18px 0;

        @include lg {
            gap: 55px;
        }

        @include md {
            justify-content: center;
        }

        @include xxs {
            flex-direction: column;
            gap: 25px;
        }
    }

    &-video {
        display: flex;
        align-items: center;
        gap: 12px;

        @include xxs {
            justify-content: center;
        }

        &-btn {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background-color: var(--red-3);
            text-align: center;
            line-height: 64px;
            color: var(--white);
            flex-shrink: 0;

            &:hover {
                color: var(--black);
            }
        }

        &-txt {
            font-weight: 600;
            color: var(--black);
            text-align: left;
        }
    }

    &-achievement {
        display: flex;
        align-items: center;
        gap: 10px;

        .achievement {
            &-num {
                font-weight: 900;
                font-size: 80px;
                color: rgb(23 22 28 / 14%);
                line-height: 0.6;
            }

            &-name {
                font-weight: 500;
                line-height: 125%;
                color: var(--black);
                text-transform: uppercase;
                width: 50%;
                text-align: left;
            }
        }
    }
}

// 14