/* ----- 20. Academics ----- */
.tl-5-academic {
    padding: 120px 0;

    @include md {
        padding: 60px 0;
    }
}

.tl-5-single-academic {
    position: relative;

    &-img img {
        width: 100%;
    }

    &-txt {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 13px 30px;
        background-image: linear-gradient(to right, #0D4A02, rgb(25, 88, 14, 0.10));
        color: var(--white);

        @include sm {
            padding: 13px 20px;
        }

        a {
            color: var(--white);
            opacity: 70%;
            font-size: 14px;
            transition: all 0.4s ease;

            &:hover {
                opacity: 100%;

                i {
                    rotate: -45deg;
                }
            }

            i {
                padding-left: 5px;
                transition: rotate 0.4s ease;
            }
        }
    }

    &-title {
        @include xs {
            font-size: 18px;
            margin-bottom: 3px;
        }
    }

    &-2 {
        .tl-5-single-academic-txt {
            background-image: linear-gradient(to right, #6A004D, rgb(100 100 70 / 10%));
        }
    }

    &-3 {
        .tl-5-single-academic-txt {
            background-image: linear-gradient(to right, #00109E, rgb(22 48 137 / 10%));
        }
    }

    &-4 {
        .tl-5-single-academic-txt {
            background-image: linear-gradient(to right, #4A0202, rgb(88 14 18 / 10%));
        }
    }
}