/* ----- 17. Admission ----- */
.tl-4-admission {
    padding: 120px 0 225px;

    @media screen and (max-width: 1689px) {
        padding: 120px 0 190px;
    }

    @include xl {
        padding: 120px 0 170px;
    }

    @include lg {
        padding: 120px 0 150px;
    }

    @include md {
        padding: 0 0 110px;
    }

    @include sm {
        padding: 0 0 90px;
    }

    @include xxs {
        padding: 0 0 70px;
    }

    &-form {
        right: auto;
        bottom: auto;
        top: -147px;
        left: 60px;
        max-width: 440px;

        @include md {
            top: auto;
            left: auto;
        }

        @include xs {
            max-width: 100%;
        }
    }

    &-img {
        margin-top: 45px;

        @include md {
            margin-top: 0;
        }

        &::before {
            content: "Collage Admissions";
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px rgb(23 22 28 / 16%);
            z-index: -1;
        }
    }

    &-inner {
        padding-top: 222px;

        @include md {
            padding-top: 60px;
        }
    }
}