/* ----- 05. Banner ----- */
.tl-banner {
    background: url(../images/tl/bg.png) no-repeat center center;
    background-size: cover;
    margin: 0 100px;

    @media screen and (max-width : 1749px) {
        margin: 0;
    }

    >.container {
        padding: 180px 12px;

        @include md {
            padding: 120px 12px;
        }

        @include sm {
            padding: 60px 12px;
        }
    }

    &-txt {
        font-family: var(--roboto);

        @include sm {
            text-align: center;
        }
    }

    &-title {
        font-family: var(--roboto);
        font-size: 80px;
        font-weight: 900;
        color: var(--white);
        margin-bottom: 29px;

        @include xxl {
            font-size: 70px;
        }

        @include xl {
            font-size: 60px;
        }

        @include lg {
            font-size: 55px;
        }

        @include md {
            font-size: 45px;
        }

        @include sm {
            font-size: 40px;
        }

        @include xs {
            font-size: 35px;
        }

        @include xxs {
            font-size: 30px;
        }
    }

    .last-word {
        position: relative;
        isolation: isolate;

        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 15px;
            background-image: url(../images/tl/Line.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    &-short-descr {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 43px;
    }

    &-video-btn {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        font-size: 30px;
        color: var(--white);
        position: relative;
        isolation: isolate;
        display: grid;
        place-items: center;

        @include md {
            width: 170px;
            height: 170px;
        }

        @include sm {
            width: 130px;
            height: 130px;
        }

        @include xxs {
            width: 100px;
            height: 100px;
        }

        &:hover {
            color: #09DB12;

            svg {
                transform: rotate(-45deg) translateZ(0);

                circle {
                    stroke-dashoffset: 10;
                }
            }
        }

        svg {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            fill: none;
            stroke: var(--black);
            transition: all 0.8s cubic-bezier(0.45, 0, 0.14, 1.03), stroke 10ms ease-out;
            transition-duration: 0.8s, 10ms;
            transform: rotate(-100deg);
            outline: 1px solid #ffffff7d;
            border-radius: 50%;
            transition-duration: 1.1s;

            circle {
                fill: none;
                stroke: #09DB12;
                stroke-dasharray: 950;
                stroke-dashoffset: 950;
                stroke-width: 2;
                transition: all 0.8s cubic-bezier(0.45, 0, 0.14, 1.03);
                transition-duration: 0.8s;
                transition-duration: 1.1s;
            }
        }
    }


    &-single-card {
        background: url(../images/tl/banner-card-bg-1.png) no-repeat center center;
        background-size: cover;
        padding: 28px;
        padding-left: 100px;
        color: var(--white);

        @include xl {
            padding: 23px;
            padding-left: 73px;
        }

        @include lg {
            padding: 23px;
        }

        &-2 {
            background-image: url(../images/tl/banner-card-bg-2.png);
        }

        &-3 {
            background-image: url(../images/tl/banner-card-bg-3.png);
        }

        &-4 {
            background-image: url(../images/tl/banner-card-bg-4.png);
        }

        .single-card {
            &-title {
                position: relative;
                font-size: 18px;
                font-weight: 600;

                &::before {
                    content: "";
                    position: absolute;
                    right: calc(100% + 15px);
                    height: 2px;
                    width: 30px;
                    top: 50%;
                    translate: 0 -50%;
                    background-color: var(--white);

                    @include lg {
                        content: none;
                    }
                }
            }

            &-action {
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                display: block;
                width: max-content;
                color: rgb(255 255 255 / 64%);

                i {
                    transition: rotate 0.4s ease;
                }

                &:hover {
                    color: var(--tl-btn-bg);

                    i {
                        rotate: -45deg;
                    }
                }
            }
        }
    }
}

.yellow-clr {
    .tl-banner-video-btn {
        &:hover {
            color: var(--tl-btn-bg);
        }

        svg circle {
            stroke: var(--tl-btn-bg);
        }
    }
}

// INDEX-1 BANNER ↓
.kb-13-banner-img-tag {
    position: absolute;
    display: inline-block;
    top: -10px;
    right: 70px;
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    padding: 1.5px 16px;
    padding-left: 29px;

    @include lg {
        top: -10px;
        right: 50px;
    }

    @include xs {
        top: 20px;
        right: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: 50%;
        translate: 0 -50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--white);
        z-index: 1;
        animation: fadeInOut .9s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate;
    }
}

.tl-1-banner {
    background-position-y: bottom;

    &-txt {
        @include md {
            text-align: center;
        }
    }

    &-title {
        font-size: 64px;
        line-height: 121.875%;
        font-weight: 600;
        color: var(--white);
        position: relative;

        @include xl {
            font-size: 54px;
        }

        @include lg {
            font-size: 48px;
        }

        @include md {
            font-size: 43px;
        }

        @include sm {
            font-size: 38px;
        }

        @include xs {
            font-size: 35px;
        }

        @include xxs {
            font-size: 30px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -60px;
            left: -60px;
            background: url(../images/tl-1/banner-vector.png) no-repeat center center;
            background-size: 100%;
            width: 75px;
            height: 65px;
        }
    }

    &-descr {
        color: rgb(255 255 255 / 80%);
        font-size: 17px;
        line-height: 144.444%;
        width: 80%;
        margin-bottom: 43px;

        @include lg {
            width: 90%;
        }

        @include md {
            width: 80%;
            margin-inline: auto;
        }

        @include sm {
            width: 100%;
            margin-inline: auto;
            margin-bottom: 33px;
        }
    }

    &-btns {
        display: flex;
        gap: 20px;

        @include md {
            justify-content: center;
        }
    }

    &-btn {
        &-1 {
            background-color: var(--yellow-2);
            color: var(--black);
            font-weight: 600;

            &:hover {
                color: var(--black);
            }
        }

        &-2 {
            background-color: rgba(255, 255, 255, 0.10);
            color: var(--white);
            font-weight: 600;
            border-color: transparent;

            @include md {
                height: 35px;
                line-height: 35px;
                padding: 0 15px;
            }
        }
    }

    .kb-13-banner-img-tag {
        top: 30px;
        right: 30px;
        background-color: var(--red-2);
    }

    &-img {
        width: fit-content;
        max-width: 100%;

        @include md {
            margin-inline: auto;
        }

        img {
            width: 520px;
            height: 440px;
            object-fit: cover;

            @include lg {
                height: 380px;
            }

            @include sm {
                height: auto;
            }
        }
    }

    &-bottom {
        text-align: center;

        h6 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 18px;
            color: var(--white);
            margin-bottom: 35px;
        }
    }
}

.tl-1 {
    &-members {
        display: flex;
        gap: 10px;
    }

    &-member {
        text-align: center;
        width: fit-content;

        @include sm {
            min-width: 120px !important;
        }

        @include xxs {
            min-width: 100px !important;
        }
    }
}

// INDEX-1 BANNER ↑


// INDEX-2 BANNER ↓
.tl-2-banner {
    position: relative;
    z-index: auto;

    &-slide {
        &-txt {
            background-color: rgb(17 23 32 / 50%);
            padding: 73px 145px 90px 75px;
            backdrop-filter: blur(20px);
            border: 1px solid rgb(255 255 255 / 20%);
            color: var(--white);
            width: 74%;
            transition: 0.9s ease;
            position: relative;
            top: 250px;

            @include xl {
                padding: 63px 135px 80px 65px;
            }

            @include lg {
                width: 90%;
                padding: 53px 125px 70px 55px;
            }

            @include md {
                width: 100%;
                padding: 43px 115px 60px 45px;
            }

            @include sm {
                padding: 33px 75px 50px 35px;
            }

            @include xs {
                padding: 28px 50px 30px 35px;
            }

            @include xxs {
                padding: 28px 50px 30px 25px;
            }
        }
    }

    &-title {
        font-size: 74px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 13px;
        color: var(--white);

        @include xl {
            font-size: 64px;
        }

        @include lg {
            font-size: 54px;
        }

        @include md {
            font-size: 44px;
        }

        @include sm {
            font-size: 40px;
        }

        @include xs {
            font-size: 35px;
        }

        @include xxs {
            font-size: 30px;
        }
    }

    &-descr {
        font-size: 18px;
        color: rgb(255 255 255 / 80%);
        font-weight: 300;
        margin-bottom: 35px;
    }

    .tl-2-blog-btn {
        color: var(--white);

        &-icon {
            background-color: rgb(17 23 32 / 50%);
            border-color: rgb(255 255 255 / 20%);
        }
    }

    .owl-item.active {
        .tl-2-banner-slide-txt {
            transform: translateY(0);
            top: 0;
        }
    }

    &-slider-nav-container {
        position: absolute;
        left: 50%;
        translate: -50% 0;
        z-index: 2;
        bottom: 230px;


        .tl-2-services-slider-nav {
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;

            @include xxl {
                width: calc(100% - 35px);
            }

            @include md {
                width: calc(100% + 25px);
            }

            @include xs {
                width: calc(100% + 10px);
            }

            @include xxs {
                display: flex;
            }
        }
    }

}

// INDEX-2 BANNER ↑


// 3
.tl-3-banner {
    background: url(../images/tl-3/banner-bg.png) no-repeat bottom center;
    background-size: cover;
    padding: 190px 0 227px;

    @include xxl {
        padding: 160px 0 197px;
    }

    @include xl {
        padding: 130px 0 167px;
    }

    @include lg {
        padding: 130px 0 147px;
    }

    @include md {
        padding: 150px 0 157px;
    }

    @include xxs {
        padding: 150px 0 117px;
    }

    &-txt {
        color: var(--white);
    }

    &-title {
        font-size: 64px;
        line-height: 76px;
        font-weight: 500;
        margin-bottom: 18px;
        color: var(--white);

        @include xl {
            font-size: 58px;
            line-height: 70px;
        }

        @include lg {
            font-size: 50px;
            line-height: 62px;
        }

        @include md {
            font-size: 45px;
            line-height: 57px;
        }

        @include sm {
            font-size: 40px;
            line-height: 52px;
        }

        @include xs {
            font-size: 35px;
            line-height: 47px;
            margin-bottom: 10px;
        }

        @include xxs {
            font-size: 28px;
            line-height: 40px;
        }
    }

    &-descr {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 28px;
        color: rgb(255 255 255/ 74%);
        font-weight: 400;
        padding-right: 100px;

        @include lg {
            padding-right: 70px;
        }

        @include md {
            padding-right: 0;
            margin-bottom: 30px;
        }

        @include xs {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
        }
    }

    &-main-img {
        max-width: none;

        @include xl {
            max-width: 530px;
        }

        @include lg {
            max-width: 430px;
        }

        @include md {
            max-width: 100%;
        }
    }
}

// 3


// 4
.tl-4-banner {
    position: relative;

    &-slide {
        padding: 302px 0 265px;

        @include xl {
            padding: 252px 0 215px;
        }

        @include md {
            padding: 232px 0 145px;
        }

        @include sm {
            padding: 262px 0 125px;
        }

        @include xxs {
            padding: 262px 0 145px;
        }
    }

    &-txt {
        color: var(--white);
    }

    &-sub-title {
        background-color: var(--red-2);
        display: inline-block;
        text-transform: uppercase;
        padding: 7.5px 30px;
        border-radius: 30px;
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 14px;

        @include sm {
            font-size: 14px;
        }

        @include xs {
            padding: 8px 20px 4px;
        }
    }

    &-title {
        font-size: 80px;
        line-height: 90px;
        font-weight: 500;
        margin-bottom: 16px;
        color: var(--white);

        @include xl {
            font-size: 75px;
            line-height: 85px;
        }

        @include lg {
            font-size: 65px;
            line-height: 75px;
        }

        @include md {
            font-size: 55px;
            line-height: 65px;
        }

        @include sm {
            font-size: 40px;
            line-height: 50px;
        }

        @include xs {
            font-size: 35px;
            line-height: 45px;
        }

        @include xxs {
            font-size: 32px;
            line-height: 41px;
        }
    }

    &-descr {
        font-size: 18px;
        line-height: 28px;
        color: rgb(255 255 255 / 80%);
        font-weight: 300;
        width: 75%;
        margin-bottom: 32px;

        @include sm {
            width: 100%;
        }
    }

    &-btn {
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 30px;
        padding: 0 40px;
        color: var(--white);
        height: 50px;
        line-height: 50px;
        text-align: center;

        @include lg {
            padding: 0 30px;
            color: var(--white);
            height: 45px;
            line-height: 44px;
        }

        @include md {
            padding: 0 25px;
            height: 40px;
            line-height: 40px;
        }

        &:hover {
            background-color: var(--red-2);
            border-color: var(--red-2);
            color: var(--white);

            i {
                transform: translateX(5px);
            }
        }


        i {
            padding-left: 5px;
            transition: transform 0.4s ease;
        }
    }

    &-slider-dots {
        position: absolute;
        top: 50%;
        right: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        z-index: 3;

        @include md {
            right: 50px;
        }

        @include sm {
            right: 30px;
        }

        @include xxs {
            right: auto;
            top: calc(100% - 90px);
            left: 50%;
            translate: -50% 0;
            rotate: 270deg;
        }

        .owl-dot {
            background-color: var(--white);
            width: 20px;
            height: 2px;
            transition: 0.4s ease;
            counter-increment: indexNumber;
            position: relative;

            &::before {
                content: "0" counter(indexNumber);
                position: absolute;
                right: calc(100% + 13px);
                top: 50%;
                translate: 0 -50%;
                color: var(--white);
                opacity: 0;
                transition: 0.4s ease;
            }

            &.active {
                width: 50px;
                background-color: var(--red-2);

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

// 4


// 5
.tl-5-banner {
    &-single-slide {
        padding: 325px 0 300px;
        background: url(../images/tl-5/banner-bg.png) no-repeat center center;
        background-size: cover;
        position: relative;
        isolation: isolate;

        @include xxl {
            padding: 275px 0 250px;
        }

        @include xl {
            padding: 275px 0 200px;
        }

        @include lg {
            padding: 225px 0 160px;
        }

        @include md {
            padding: 195px 0 130px;
        }

        @include xs {
            padding: 165px 0 100px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, #17161C, #0a0a0a4f);
            z-index: -1;
        }

        &-2 {
            background-image: url(../images/tl-5/banner-bg-2.jpg);
        }

        &-3 {
            background-image: url(../images/tl-5/banner-bg-3.jpg);
        }
    }

    &-txt {
        color: var(--white);

        @include xxl {
            padding-left: 40px;
        }

        @include md {
            padding: 0 30px;
            text-align: center;
        }

        @include xs {
            padding: 0;
        }
    }

    &-title {
        font-size: 80px;
        line-height: 88px;
        font-weight: 700;
        margin-bottom: 18px;
        color: var(--white);

        @include xxl {
            font-size: 75px;
            line-height: 83px;
        }

        @include xl {
            font-size: 65px;
            line-height: 73px;
        }

        @include lg {
            font-size: 55px;
            line-height: 63px;
        }

        @include md {
            font-size: 45px;
            line-height: 53px;
        }

        @include sm {
            font-size: 37px;
            line-height: 45px;
        }

        @include xs {
            font-size: 35px;
            line-height: 43px;
        }

        @include xxs {
            font-size: 30px;
            line-height: 38px;
        }
    }

    &-descr {
        font-size: 20px;
        line-height: 30px;
        color: rgb(255 255 255 / 74%);
        font-weight: 400;
        margin-bottom: 42px;

        @include xl {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &-btns {
        gap: 12px;

        @include md {
            justify-content: center;
        }

        >* {
            @include lg {
                height: 45px;
                line-height: 45px;
                font-size: 14px;
            }

            @include sm {
                height: 40px;
                line-height: 40px;
            }

            @include xs {
                height: 35px;
                line-height: 35px;
                padding: 0 15px;
                font-size: 13px;
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 95%;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        color: var(--white);

        button {
            opacity: 40%;
            visibility: visible;
            transition: all 0.4s ease;

            img {
                @include xxl {
                    width: 30px;
                }

                @include xl {
                    width: 25px;
                }

                @include md {
                    width: 20px;
                }
            }

            &:hover {
                color: var(--white);
                opacity: 100%;
            }
        }
    }

    .owl-item.active {
        .tl-5-banner {
            &-title {
                animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
            }

            &-descr {
                animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
            }

            &-btns {
                animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
            }
        }
    }
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        transform: translateZ(400px) translateY(50px);
        opacity: 0;
        filter: blur(12px);
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

// 5


// 6
.tl-6-banner {
    @include md {
        padding-top: 0;
        padding-bottom: 20px;
    }

    @include xxs {
        margin: 0;
    }

    &-post {
        &-img {
            margin-bottom: 30px;

            @include xl {
                margin-bottom: 20px;
            }

            img {
                transition: 0.4s ease;
                object-fit: cover;
                width: 100%;
                aspect-ratio: 0.98;

                @include md {
                    aspect-ratio: 16 / 5;
                }
            }
        }

        &-infos {
            .tl-6-info-pill {
                color: var(--black);
                background-color: var(--white);

                &:last-child {
                    display: none;
                }
            }
        }

        &-txt {
            width: 85%;

            @include xxl {
                width: 100%;
            }
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
            color: var(--black);
            line-height: 141.667%;

            @include xl {
                font-size: 22px;
            }

            @include lg {
                font-size: 20px;
            }

            a:hover {
                color: var(--red-2);
            }
        }

        &-btn {
            transition: color 0.4s ease, background-color 0.4s ease, transform 0s;

            &:hover {
                color: var(--red-2);
            }

            i {
                padding-left: 5px;
            }
        }
    }

    .swiper-slide {

        &,
        &-active {
            width: 25%;
        }

        &-next {
            width: calc(100% / 2 - 60px);

            @include md {
                width: 100%;
                display: block;
            }

            .tl-6-banner-post {
                position: relative;

                &-img {
                    margin-bottom: 0;

                    img {
                        width: 100%;
                        height: 670px;
                        object-fit: cover;
                        aspect-ratio: auto;

                        @include xxl {
                            height: 545px;
                        }

                        @include lg {
                            height: 430px;
                        }
                    }
                }

                &-infos {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    align-items: flex-start;

                    @include xs {
                        top: 25px;
                        left: 25px;
                    }

                    .tl-6-info-pill {
                        opacity: 1;
                        display: block;
                        border-color: var(--white);

                        &:last-child {
                            background-color: transparent;
                            color: var(--white);

                            &::before {
                                background-color: var(--white);
                            }
                        }
                    }
                }

                &-title {
                    position: absolute;
                    bottom: 20px;
                    background-color: var(--white);
                    padding: 15px 20px;
                    width: 47%;

                    @include xxl {
                        width: 70%;
                    }

                    @include xl {
                        width: 80%;
                    }
                }

                &-btn {
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    font-size: 20px;
                    width: 45px;
                    height: 45px;
                    background-color: var(--white);
                    border-radius: 50%;
                    line-height: 45px;
                    text-align: center;
                    transform: rotate(-45deg);
                    border: 1px solid transparent;
                    transition: color 0.4s ease, background-color 0.4s ease, transform 0s;

                    @include xs {
                        top: 25px;
                        right: 25px;
                    }

                    &:hover {
                        background-color: transparent;
                        color: var(--white);
                        border-color: var(--white);
                    }

                    &-txt {
                        display: none;
                    }

                    i {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.tl-6-info-pill {
    border-radius: 20px;
    position: relative;
    font-size: 14px;
    border: 1px solid #C9C8C8;
    font-weight: 500;
    color: #5A595D;
    background-color: var(--white);
    padding: 0 15px;
    height: 28px;
    line-height: 27px;
    padding-left: 24px;
    margin-bottom: 11px;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        left: 13px;
        top: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #5A595D;
        translate: 0 -50%;
    }

    &:last-child {
        display: none;
    }
}

// 6


// 7
.tl-7-banner {
    position: relative;

    &-single-slide {
        background: url(../images/tl-7/banner-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 300px 0 340px;

        @include xl {
            padding: 250px 0 290px;
        }

        @include lg {
            padding: 230px 0 270px;
        }

        @include md {
            padding: 220px 0 250px;
        }

        @include sm {
            padding: 200px 0 230px;
        }

        @include xs {
            padding: 180px 0 250px;
        }

        &-2 {
            background-image: url(../images/tl-7/banner-bg-2.jpg);
        }

        &-3 {
            background-image: url(../images/tl-7/banner-bg-3.jpg);
        }
    }

    &-txt {
        color: var(--white);
        text-align: center;
    }

    &-sub-title {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    &-title {
        font-weight: 800;
        font-size: clamp(28px, 6.67vw, 80px);
        margin-bottom: 48px;
        color: var(--white);

        @include md {
            margin-bottom: 33px;
        }

        @include sm {
            margin-bottom: 23px;
        }
    }

    &-btns {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .tl-7-def-btn-2 {
        background: transparent;
        color: white;
        border: 2px solid rgb(255 255 255 / 20%);
        line-height: 48px;

        &:hover {
            background-color: var(--tl-btn-bg);
            border-color: var(--tl-btn-bg);
            color: var(--black);
        }

        @include lg {
            line-height: 47px;
        }

        @include md {
            line-height: 37px;
        }

        @include xxs {
            line-height: 32px;
        }
    }

    &-slider-dots {
        position: absolute;
        top: calc(50% - 90px);
        top: 50%;
        z-index: 22;
        display: flex;
        flex-direction: column;
        translate: 0 -50%;
        left: 45px;
        row-gap: 15px;

        @include md {
            left: 30px;
        }

        @include xs {
            left: 20px;
        }

        @include xxs {
            left: 50%;
            flex-direction: row;
            gap: 15px;
            translate: -50% 0;
            bottom: 130px;
            top: auto;
        }

        button {
            background: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 0;
            border: 2px solid transparent;

            @include xs {
                width: 35px;
                height: 35px;
            }

            &.active {
                box-shadow: 0 6px 20px rgb(255 255 255 / 25%);
                border-color: var(--white);
            }
        }
    }
}

.slideUp {
    animation: slideUp 0.4s ease forwards;
}

@keyframes slideUp {
    0% {
        translate: 0 100%;
    }

    100% {
        translate: 0 0;
    }
}

.slideDown {
    animation: slideDown 0.4s ease forwards;
}

@keyframes slideDown {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 0 -100%;
    }
}

// 7


// 8
.tl-8-banner {
    position: relative;

    >.container {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        z-index: 2;
    }

    &-slide {
        background: url(../images/tl-8/banner-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 330px 0 285px;
        position: relative;

        @include xxl {
            padding: 300px 0 255px;
        }

        @include xl {
            padding: 260px 0 185px;
        }

        @include lg {
            padding: 240px 0 165px;
        }

        @include md {
            padding: 260px 0 165px;
        }

        @include sm {
            padding: 260px 0 125px;
        }

        @include xxs {
            padding: 300px 0 95px;
        }

        &-2 {
            background-image: url(../images/tl-8/banner-bg-2.jpg);
        }
    }

    &-txt {
        color: var(--white);

        @include xxs {
            text-align: center;
        }

        >* {
            transform: translateY(150px);
            opacity: 0;
            transition: 1s ease;

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.3s;
            }
        }
    }

    &-title {
        font-size: 80px;
        line-height: 90px;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--white);

        @include xxl {
            font-size: 75px;
            line-height: 85px;
        }

        @include xl {
            font-size: 65px;
            line-height: 80px;
        }

        @include lg {
            font-size: 60px;
            line-height: 75px;
        }

        @include md {
            font-size: 50px;
            line-height: 65px;
        }

        @include sm {
            font-size: 40px;
            line-height: 55px;
        }

        @include xs {
            font-size: 35px;
            line-height: 50px;
        }

        @include xxs {
            font-size: 30px;
            line-height: 45px;
        }
    }

    &-descr {
        margin-bottom: 43px;
        color: rgb(255 255 255 / 80%);
        font-size: 18px;
        line-height: 26px;

        @include md {
            width: 80%;
        }

        @include xs {
            width: 100%;
        }
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 30px;

        @include xxs {
            flex-direction: column;
            gap: 20px;
        }

        .tl-banner-video-btn {
            width: auto;
            height: 50px;
            display: block;
            font-size: 16px;

            @include md {
                height: 45px;
            }

            @include sm {
                height: 40px;
            }

            i {
                font-size: 14px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin-right: 14px;

                @include md {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                }

                @include sm {
                    height: 40px;
                    width: 40px;
                    line-height: 41px;
                    font-size: 12px;
                }
            }

            svg {
                width: 50px;
                height: 50px;

                @include md {
                    height: 45px;
                    width: 45px;
                }

                @include sm {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    &-slider-nav {
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        display: flex;
        flex-direction: column;
        z-index: 12;
        gap: 10px;

        @include md {
            display: none;
        }

        button {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            transition: 0.4s ease;
            background-color: var(--white);

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--white);
            }

            i {
                rotate: 315deg;
            }
        }
    }

    .owl-item.active {
        .tl-8-banner-slide .tl-8-banner-txt {
            >* {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

// 8


// 9
.tl-9 {
    &-banner {
        &-bg {
            max-width: 1720px;
            margin: auto;
        }

        &-txt {
            text-align: center;
            padding: 211px 0 230px;

            @include xl {
                padding: 180px 0 200px;
            }

            @include lg {
                padding: 140px 0 160px;
            }

            @include md {
                padding: 120px 0 140px;
            }

            @include sm {
                padding: 100px 0 120px;
            }

            @include xs {
                padding: 90px 0 110px;
            }

            @include xxs {
                padding: 80px 0 100px;
            }
        }

        &-title {
            font-size: 110px;
            line-height: 116px;
            font-family: var(--roboto);
            font-weight: 900;
            text-transform: uppercase;
            color: var(--white);
            margin-bottom: 4px;

            @include xl {
                font-size: 80px;
                line-height: 86px;
            }

            @include lg {
                font-size: 60px;
                line-height: 66px;
            }

            @include md {
                font-size: 50px;
                line-height: 56px;
            }

            @include sm {
                font-size: 45px;
                line-height: 50px;
            }

            @include xs {
                font-size: 40px;
                line-height: 45px;
            }

            @include xxs {
                font-size: 35px;
                line-height: 40px;
            }

            .colored {
                color: var(--ligh-yellow);
            }
        }

        &-descr {
            font-size: 20px;
            line-height: 28px;
            color: rgb(255 255 255/ 80%);
            width: 70%;
            margin-inline: auto;
            margin-bottom: 43px;

            @include lg {
                width: 80%;
            }

            @include md {
                width: 90%;
                font-size: 18px;
                line-height: 26px;
            }

            @include sm {
                width: 100%;
            }

            @include xs {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &-btn {
            background-color: var(--black-0);
            text-transform: uppercase;
            border-color: var(--black-0);
            color: var(--white);

            &::before {
                background-color: #918F99;
            }
        }

        &-bottom {
            margin: auto;
            padding: 55px 0;

            @media screen and (min-width : 1800px) {
                max-width: 1720px;
            }

            @include md {
                padding: 40px 12px;
            }

            @include xs {
                padding: 30px 12px;
            }

            @include xxs {
                padding: 20px 12px;
            }

            &-title {
                text-transform: uppercase;
                font-size: 40px;
                text-align: right;
                padding-right: 57px;
                margin-bottom: 0;
                color: var(--white);

                @media screen and (max-width : 1799px) {
                    padding-right: 30px;
                }

                @include xl {
                    font-size: 35px;
                }

                @include lg {
                    padding-right: 0;
                    text-align: left;
                }

                @include sm {
                    font-size: 32px;
                }

                @include xs {
                    font-size: 28px;
                }

                @include xxs {
                    font-size: 25px;
                }
            }

            &-descr {
                padding-left: 75px;
                padding-right: 40px;
                margin-bottom: 0;
                color: rgb(255 255 255/ 80%);
                line-height: 28px;

                @include xxl {
                    padding-right: 20px;
                }

                @include xl {
                    padding-left: 55px;
                }

                @include lg {
                    padding: 0;
                }
            }

            &-btn {
                width: 80px;
                height: 80px;
                display: block;
                margin-left: auto;
                background-color: #201B1B;
                color: var(--ligh-yellow);
                text-align: center;
                line-height: 80px;
                font-size: 22px;
                border: 1px solid #201B1B;

                @include xl {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                }

                @include md {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                }

                @include sm {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                }

                @include xxs {
                    margin-left: 0;
                }

                &:hover {
                    background-color: var(--black-0);
                    color: var(--ligh-yellow);
                }
            }
        }
    }
}

// 9

// 11
.tl-11-banner {
    border-top: 1px solid rgb(23 22 28 / 10%);
    padding-bottom: 120px;

    @include md {
        padding-bottom: 60px;
    }

    &-heading {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: solid rgb(23 22 28 / 10%);
            border-width: 0 1px;
            z-index: -1;
        }

        >.row {
            --bs-gutter-x: 30px;
        }
    }


    &-title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        color: var(--black-2);
        padding: 35px 0;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        isolation: isolate;

        @include xl {
            font-size: 38px;
        }

        @include lg {
            font-size: 32px;
        }

        @include md {
            font-size: 28px;
            padding: 25px 0;
        }

        @include sm {
            font-size: 25px;
            padding: 20px 0;
        }

        @include xs {
            font-size: 23px;
        }

        @include xxs {
            font-size: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            border: solid rgb(23 22 28 / 10%);
            border-width: 0 1px;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: -1;

            @include md {
                content: none;
            }
        }
    }

    &-articles {
        border-width: 0 1px;

        >.row {
            --bs-gutter-x: 30px;

            @include lg {
                --bs-gutter-x: 20px;
            }

            @include md {
                --bs-gutter-y: 30px;
            }

            @include sm {
                --bs-gutter-y: 20px;
            }

            @include xs {
                --bs-gutter-y: 15px;
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            @include md {
                flex-direction: row;
                column-gap: 30px;

                >* {
                    width: 50%;

                    @include xxs {
                        width: 100%;
                        margin: auto;
                    }
                }
            }

            @include sm {
                column-gap: 20px;
            }

            @include xs {
                column-gap: 15px;
            }

            @include xxs {
                flex-direction: column;
                row-gap: 15px;
            }
        }
    }

    &-article {
        &-img img {
            width: 100%;
        }

        &-txt {
            padding-top: 17px;
        }

        &-category {
            color: var(--kb-teal);
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &-title {
            font-size: 18px;
            line-height: 27px;
            color: var(--black-2);
            margin-top: 4px;
            margin-bottom: 13px;

            a {
                color: inherit;

                &:hover {
                    color: var(--kb-teal);
                }
            }
        }

        &-author {
            font-size: 14px;
            font-weight: 400;
            color: rgb(44 44 44 / 70%);
            font-weight: 400;
            margin-bottom: 0;
        }


        &-center {
            &-img img {
                width: 100%;
            }

            &-txt {
                background-color: #F2EDE7;
                padding: 45px;
                text-align: center;
                padding-bottom: 81px;

                @include lg {
                    padding: 45px 30px;
                }

                @include md {
                    padding: 45px 50px;
                }

                @include sm {
                    padding: 35px 30px;
                }

                @include xs {
                    padding: 30px;
                }

                @include xxs {
                    padding: 20px;
                }
            }

            &-infos {
                color: var(--kb-teal);
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 16px;

                @include sm {
                    margin-bottom: 11px;
                }
            }

            &-date {
                position: relative;
                padding-right: 15px;
                margin-right: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: rgb(44 44 44 / 60%);
                    top: 50%;
                    left: 100%;
                    translate: 0 -50%;
                    border-radius: 50%;
                }
            }

            &-title {
                font-weight: 600;
                font-size: 34px;
                line-height: 46px;
                margin-bottom: 25px;

                @include xl {
                    font-size: 32px;
                    line-height: 44px;
                }

                @include lg {
                    font-size: 28px;
                    line-height: 40px;
                }

                @include md {
                    font-size: 25px;
                    line-height: 37px;
                    width: 90%;
                    margin: auto;
                    margin-bottom: 25px;
                }

                @include sm {
                    font-size: 23px;
                    line-height: 34px;
                    margin-bottom: 20px;
                }

                @include xs {
                    font-size: 20px;
                    line-height: 30px;
                    width: 100%;
                }

                @include xxs {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 15px;
                }
            }

            &-descr {
                margin-bottom: 0;
                color: rgb(44 44 44 / 60%);

                @include md {
                    margin: auto;
                    width: 80%;
                }

                @include xs {
                    width: 100%;
                }
            }
        }
    }
}

// 11


// 12
.tl-12-banner {
    background-color: #E1EEDA;
    padding: 130px 0;
    position: relative;

    @include md {
        padding: 100px 0;
    }

    @include sm {
        padding: 80px 0;
    }

    @include xxs {
        padding: 60px 0;
    }

    &::before {
        content: url(../images/tl-12/banner-vector-4.png);
        position: absolute;
        bottom: 168px;
        left: 0;
    }

    &-title {
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        font-family: var(--roboto);
        color: var(--black-3);
        margin-bottom: 15px;
        position: relative;

        @include xl {
            font-size: 58px;
            line-height: 70px;
        }

        @include lg {
            font-size: 52px;
            line-height: 64px;
        }

        @include md {
            font-size: 48px;
            line-height: 60px;
        }

        @include sm {
            font-size: 45px;
            line-height: 57px;
        }

        @include xs {
            font-size: 42px;
            line-height: 54px;
        }

        @include xxs {
            font-size: 34px;
            line-height: 46px;
        }

        &::before {
            content: url(../images/tl-12/banner-vector-1.png);
            position: absolute;
            left: -75px;
            bottom: 100%;

            @include md {
                left: -45px;
                scale: 0.76;
            }
        }

        span.tag {
            border: 1.5px solid red;
            background-color: rgb(255 0 0 / 4%);
            font-size: 40px;
            line-height: 1;
            padding: 5px 30px;
            color: red;
            margin-bottom: 13px;
            vertical-align: bottom;
            position: relative;
            padding-left: 47px;

            @include lg {
                font-size: 35px;
                padding: 5px 25px;
                padding-left: 42px;
            }

            @include sm {
                font-size: 32px;
                padding: 3px 20px;
                padding-left: 42px;
            }

            @include xxs {
                font-size: 30px;

            }

            &::before {
                content: "";
                position: absolute;
                background-color: red;
                width: 16px;
                height: 16px;
                box-shadow: 0 8px 6px rgb(154 0 0 / 14%);
                border-radius: 50%;
                left: 24px;
                top: 50%;
                translate: 0 -50%;

                @include lg {
                    left: 18px;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    &-descr {
        font-size: 18px;
        color: rgb(44 44 44 / 80%);
        width: 86%;
        margin-bottom: 43px;

        @include lg {
            width: 100%;
        }

        @include sm {
            margin-bottom: 33px;
        }
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &-features {
        display: flex;
        align-items: center;
        background-color: #D6E7CD;
        border-left: 1px solid #DDB586;
        margin-top: 60px;
        width: max-content;

        @include sm {
            margin-top: 50px;
        }

        @include xxs {
            flex-direction: column;
            align-items: stretch;
            width: 100%;
        }
    }

    &-feature {
        padding: 11px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: 500;
        color: #2c2c2c;

        @include xs {
            padding: 11px 15px;
        }

        img {
            @include lg {
                display: none;
            }
        }

        &:not(:last-child) {
            border-right: 1px solid #DDB586;

            @include xxs {
                border-bottom: 1px solid #DDB586;
                border-right: 0;
            }
        }
    }

    &-btn-2 {
        background-color: transparent;

        &:hover {
            background-color: var(--tl-btn-bg);
        }
    }

    &-img {
        width: max-content;
        position: relative;
        z-index: 2;
        border: 6px solid var(--tl-btn-bg);
        margin-left: auto;

        @include md {
            margin: auto;
            margin-top: 70px;
            max-width: 100%;
        }

        @include xs {
            margin-top: 40px;
        }

        &::before {
            position: absolute;
            content: url(../images/tl-12/banner-vector-2.png);
            top: -70px;
            right: -15px;

            @include xs {
                top: -40px;
                right: -25px;
            }
        }

        &::after {
            position: absolute;
            content: url(../images/tl-12/banner-vector-3.png);
            bottom: 23px;
            right: -25px;
            z-index: -1;
        }

        img {
            box-shadow: 0 10px 60px rgb(0 0 0 / 20%);
            margin-top: -40px;
            margin-left: -40px;
            margin-bottom: 40px;

            @include lg {
                margin-top: -20px;
                margin-left: -20px;
                margin-bottom: 20px;
            }

            @include xs {
                margin-top: 0;
                margin-left: 0;
                margin-bottom: 0;
            }
        }

        &-tag {
            position: absolute;
            display: inline-block;
            top: -10px;
            right: 70px;
            background-color: red;
            font-size: 18px;
            font-weight: 700;
            color: var(--white);
            padding: 1.5px 16px;
            padding-left: 29px;

            @include lg {
                top: -10px;
                right: 50px;
            }

            @include xs {
                top: 20px;
                right: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 16px;
                top: 50%;
                translate: 0 -50%;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--white);
                z-index: 1;
                animation: fadeInOut .9s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate;
            }
        }
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

// 12

// 13
.tl-13-banner {
    padding: 103px 0 119px;

    @include md {
        padding: 53px 0 59px;
    }

    &-txt {
        @include md {
            text-align: center;
        }
    }

    &-title {
        font-size: 64px;
        line-height: 78px;
        color: var(--black);
        text-decoration: 3px underline var(--black);
        text-decoration-skip-ink: none;
        text-underline-offset: 6px;
        margin-bottom: 26px;
        position: relative;

        @include xl {
            font-size: 58px;
            line-height: 72px;
        }

        @include lg {
            font-size: 48px;
            line-height: 62px;
        }

        @include md {
            font-size: 42px;
            line-height: 57px;
        }

        @include sm {
            font-size: 37px;
            line-height: 52px;
        }

        @include xs {
            font-size: 32px;
            line-height: 47px;
        }

        @include xxs {
            font-size: 28px;
            line-height: 43px;
        }

        &::before {
            content: "";
            position: absolute;
            left: -60px;
            top: -35px;
            background: url(../images/tl-12/banner-vector-1.png) no-repeat center center;
            background-size: contain;
            width: 66px;
            height: 37px;
        }
    }

    &-descr {
        width: 85%;
        font-size: 18px;
        line-height: 1.45;
        color: rgb(23 22 28 / 80%);
        margin-bottom: 43px;

        @include lg {
            width: 95%;
            margin-bottom: 33px;
        }

        @include md {
            width: 90%;
            margin-inline: auto;
        }

        @include sm {
            width: 100%;
        }

        @include xs {
            font-size: 16px;
        }
    }

    &-img img {
        box-shadow: 0 10px 60px rgb(0 0 0 / 20%);
    }

    &-search-form {
        width: 550px;
        display: flex;
        align-items: center;
        background-color: var(--white);
        box-shadow: 0 1px 2px rgb(23 22 28 / 14%);
        border-radius: 50px;

        @include lg {
            width: 500px;
        }

        @include md {
            margin-inline: auto;
        }

        @include xs {
            width: 100%;
        }

        @include xxs {
            flex-direction: column;
            align-items: stretch;
            border-radius: 25px;
        }

        input {
            height: 65px;
            padding-inline: 25px;
            width: 100%;
            border-radius: 50px;

            @include md {
                height: 55px;
            }

            @include xxs {
                padding-inline: 15px;
            }
        }

        button {
            min-width: max-content;
            background-color: var(--black);
            height: 50px;
            color: var(--white);
            border-radius: 30px;
            padding: 0 30px;
            margin-right: 8px;
            transition: 0.4s ease;

            @include md {
                height: 40px;
            }

            @include xxs {
                margin: 5px;
                margin-top: 0;
            }

            &:hover {
                color: var(--black);
                background-color: #F2EFE8;
            }
        }
    }
}

// 13


// 14
.tl-14-banner {
    position: relative;

    &-slider {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &,
        * {
            height: 100%;
        }
    }

    &-slide {
        object-fit: cover;
    }

    &-txt {
        padding: 240px 0 260px;

        @include xl {
            padding: 200px 0 220px;
        }

        @include lg {
            padding: 160px 0 180px;
        }

        @include md {
            padding: 130px 0 150px;
        }

        @include sm {
            padding: 100px 0 120px;
        }
    }

    &-title {
        color: var(--white);
        text-align: center;
        font-size: 74px;
        font-weight: 700;
        line-height: 121.622%;
        margin-bottom: 17px;

        @include xl {
            font-size: 64px;
        }

        @include lg {
            font-size: 54px;
        }

        @include md {
            font-size: 44px;
        }

        @include sm {
            font-size: 38px;
        }

        @include xs {
            font-size: 35px;
        }

        @include xxs {
            font-size: 30px;
        }
    }

    &-descr {
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-size: 18px;
        line-height: 144.444%;
        width: 70%;
        margin-inline: auto;
        margin-bottom: 40px;

        @include lg {
            width: 90%;
        }

        @include xxs {
            width: 100%;
        }
    }

    &-search-form {
        border-radius: 50px;
        background: var(--white);
        box-shadow: 0px 1px 2px 0px rgba(23, 22, 28, 0.14);
        height: 65px;
        display: flex;
        align-items: center;
        max-width: 550px;
        padding: 10px;
        margin-inline: auto;
        padding-left: 25px;

        @include md {
            height: 55px;
            max-width: 480px;
            padding: 8px;
            padding-left: 20px;
        }

        @include xs {
            height: 50px;

        }

        .tl-14-def-btn {
            @include md {
                height: 40px;
                line-height: 39px;
            }

            @include xs {
                height: 35px;
                line-height: 34px;
            }
        }
    }

    &-search-field {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    &-slider-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 60px;
        visibility: hidden;

        @include md {
            padding: 0 30px;
        }

        @include sm {
            padding: 0 20px;
        }

        @include xxs {
            display: none;
        }

        button {
            background-color: var(--white);
            width: 55px;
            height: 55px;
            border-radius: 50%;
            transition: 0.4s ease;
            visibility: visible;

            @include sm {
                width: 45px;
                height: 45px;
            }

            &:hover {
                background-color: var(--red-3);
                color: var(--white);
            }
        }
    }
}

// 14