/* ----- 12. Blogs ----- */
.tl-blog {
    @include md {
        padding: 60px 0;
    }
}

.tl-blog-heading {
    @include xxs {
        flex-direction: column;
        row-gap: 10px;
    }

    .tl-section-title {
        margin-bottom: 0;

        .last-word {
            &::before {
                background-image: url(../images/tl/line-2.png);
            }
        }
    }
}

.tl-blog-inner-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(23, 22, 28, 0.10);
    margin-bottom: 60px;
    margin-top: 21px;

    @include lg {
        margin-bottom: 40px;
    }

    @include md {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

.tl-single-blog {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid rgb(23 22 28 / 10%);
    align-items: center;

    @include xl {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 16px;
    }

    @include lg {
        gap: 15px;
        padding: 15px;
        padding-bottom: 8px;
    }

    &-img {
        flex-shrink: 0;
    }

    &-date {
        color: rgba(10, 10, 10, 0.61);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    &-title {
        font-size: 18px;
        font-weight: 600;
        color: #0a0a0a;
        line-height: 26px;

        a {
            transition: 0.4s ease;

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-descr {
        font-size: 14px;
        line-height: 18px;
        color: rgb(10, 10, 10, 0.7);
        margin-bottom: 35px;

        @include xl {
            margin-bottom: 20px;
        }
    }

    &-btn {
        font-weight: 600;
        font-size: 15px;
        color: var(--black);

        &:hover {
            color: var(--tl-btn-bg);

            i {
                transform: rotate(-45deg);
            }
        }

        i {
            padding-left: 5px;
            transition: transform 0.4s ease;
        }
    }
}

//  1
.tl-1-blogs {
    clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);

    .tl-1-section-heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xxs {
            flex-direction: column;
            row-gap: 15px;
        }
    }

    &-row {
        --bs-giutter-x: 30px;
    }
}

.tl-1-blog {
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0 10px 80px rgb(23 22 28 / 10%);
    transition: 0.3s ease;

    @include xxs {
        padding: 20px;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &-img {
        width: 100%;
        height: 340px;
        object-fit: cover;
        margin-bottom: 32px;

        @include xs {
            margin-bottom: 22px;
        }

        @include xxs {
            height: 190px;
        }
    }

    &-info {
        display: flex;
        gap: 20px;
        margin-bottom: 16px;

        &>h6 {
            font-size: 15px;
            color: rgba(23, 22, 28, 0.6);
            transition: 0.4s ease;
            margin-bottom: 0;

            i {
                font-size: 16px;
                color: var(--black);
                margin-right: 4px;
                transition: 0.4s ease;
            }
        }
    }

    &-title {
        font-weight: 600;
        color: var(--black);
        line-height: 150%;
        margin-bottom: 25px;

        @include sm {
            margin-bottom: 17px;
        }

        @include xs {
            font-size: 20px;
        }

        a:hover {
            color: var(--blue-2);
        }
    }

    &-btn {
        font-size: 15px;
        font-weight: 500;

        color: var(--black);

        &:hover {
            color: var(--blue-2);
        }

        i {
            padding-left: 5px;
        }
    }
}

// 2

// 2
.tl-2-blogs {
    .tl-2-section-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xs {
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 24px;
        }
    }

    &-slider-nav {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            font-size: 25px;
            color: #8B8B8D;
            transition: 0.4s ease;

            &:hover {
                color: var(--black);
            }
        }
    }
}

.tl-2-blog {
    border: 1px dashed rgba(24, 34, 47, 0.30);
    padding: 30px;
    transition: 0.4s ease;

    @include xl {
        padding: 20px;
    }

    &:hover {
        border-color: rgb(232 79 44 / 60%);
    }

    &-img img {
        aspect-ratio: unset;
        height: 270px;
        width: 100%;
        object-fit: cover;

        @include lg {
            height: 210px;
        }

        @include xs {
            height: 190px;
        }
    }

    &-txt {
        padding-top: 30px;
    }

    &-infos {
        display: flex;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: rgba(44, 44, 44, 0.7);

        li:first-child {
            padding-right: 20px;
            margin-right: 15px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                background-color: rgba(44, 44, 44, 0.6);
                border-radius: 50%;
            }
        }
    }

    &-title {
        margin-bottom: 11px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: var(--black-2);

        a:hover {
            color: var(--kb-orange);
        }
    }

    &-descr {
        margin-bottom: 22px;
        color: rgb(44 44 44 / 70%);
    }

    &-btn {
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        gap: 15px;
        font-weight: 600;
        transition: 0.4s ease;
        color: var(--black);

        @include sm {
            gap: 10px;
        }

        &:hover {
            color: var(--kb-orange);

            .tl-2-blog-btn-icon {
                background-color: var(--kb-orange);
            }
        }

        &-icon {
            transition: 0.4s ease;
            width: 45px;
            height: 45px;
            line-height: 44px;
            background-color: var(--black);
            border-radius: 50%;
            text-align: center;
            color: var(--white);
            border: 1px solid rgb(24 34 47 / 30%);

            @include sm {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
    }
}

// 2


// 3
.tl-3-single-blog {
    padding: 24px;
    border: 1px solid rgb(23, 22, 28, 0.14);
    border-radius: 10px;

    @include xl {
        padding: 20px;
    }

    @include lg {
        padding: 15px;
    }

    &-img {
        position: relative;
        margin-bottom: 32px;

        @include xl {
            margin-bottom: 22px;
        }

        img {
            width: 100%;
            border-radius: 6px;
        }
    }

    &-tag {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: var(--tl-btn-bg);
        padding: 0 15px;
        height: 25px;
        line-height: 27px;
        border-radius: 30px;
        font-weight: 500;
        font-size: 14px;

        @include xl {
            top: 15px;
            right: 15px;
        }
    }

    &-info {
        display: flex;
        column-gap: 30px;
        margin-bottom: 14px;


        @include lg {
            justify-content: space-between;
        }

        @include md {
            justify-content: flex-start;
        }

        @include xxs {
            justify-content: space-between;
        }
    }

    &-single-info {
        font-size: 15px;
        color: rgb(23, 22, 28, 0.60);
        display: flex;
        align-items: center;
        column-gap: 6px;
        row-gap: 3px;

        @include lg {
            flex-direction: column;
        }

        @include md {
            flex-direction: row;
        }

        @include xxs {
            flex-direction: column;
        }

        i {
            color: #4F5EC7;
        }
    }

    &-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 17px;
        color: var(--black);

        @include lg {
            font-size: 18px;
            line-height: 28px;
        }

        @include xxs {
            font-size: 16px;
            line-height: 26px;
        }

        a {
            transition: 0.4s ease;
            color: inherit;

            &:hover {
                color: #4F5EC7;
            }
        }
    }

    &-descr {
        font-size: 16px;
        line-height: 24px;
        color: rgb(23, 22, 28, 0.70);
        margin-bottom: 30px;

        @include xl {
            margin-bottom: 20px;
        }

        @include xxs {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &-btn {
        transition: 0.4s ease;
        line-height: 1;
        vertical-align: bottom;
        font-weight: 600;

        @include xxs {
            font-size: 14px;
        }

        &:hover {
            color: #4F5EC7;
        }

        i {
            padding-left: 8px;
        }
    }
}

// 3


// 4
.tl-4 {
    &-blogs {
        padding-bottom: 157px;

        @include lg {
            padding-bottom: 147px;
        }

        @include md {
            padding-bottom: 127px;
        }

        @include sm {
            padding-bottom: 107px;
        }

        @include xs {
            padding-bottom: 60px;
        }

        >.container>.row {
            @include md {
                --bs-gutter-y: 90px
            }

            @include xs {
                --bs-gutter-y: 20px;
            }
        }
    }

    &-blog {
        display: flex;
        border: 1px solid rgba(23, 22, 28, 0.1);
        align-items: center;
        padding: 25px;
        gap: 30px;
        margin-bottom: 44px;

        @include xl {
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }

        @include lg {
            padding: 20px;
        }

        @include xs {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 5px;
        }

        &-img {
            margin-bottom: -70px;
            position: relative;
            flex-shrink: 0;

            @include xs {
                margin-bottom: 0;
                width: 100%;
            }

            img {
                width: 275px;
                height: 320px;
                object-fit: cover;

                @include xl {
                    width: 265px;
                }

                @include lg {
                    width: 210px;
                    height: 300px;
                }

                @include md {
                    width: 260px;
                }

                @include sm {
                    width: 100%;
                }

                @include xxs {
                    width: 100%;
                }
            }
        }

        &-category {
            position: absolute;
            background-color: var(--red-2);
            font-weight: 400;
            left: 20px;
            top: 20px;
            padding: 0 15px;
            color: var(--white);
            font-size: 15px;
            display: inline-block;
            height: 28px;
            line-height: 28px;
        }

        .tl-single-blog {
            &-date {
                color: rgb(23 22 28 / 70%);
                display: block;
                margin-bottom: 10px;
            }

            &-title {
                font-size: 20px;
                line-height: 28px;
                color: var(--black);
                margin-bottom: 10px;

                a:hover {
                    color: var(--red-2);
                }
            }

            &-descr {
                font-size: 15px;
                line-height: 22px;
                color: rgb(23 22 28 / 70%);
                margin-bottom: 30px;
            }

            &-btn {
                &:hover {
                    color: var(--red-2);

                    i {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}

// 4


// 5
.tl-5-blogs {
    padding: 120px 0;

    @include md {
        padding: 60px 0;
    }
}

.g-30 {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;

    @include md {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }
}

.tl-5-single-blog {
    &:hover {
        color: var(--red);

        .tl-5-single-blog-arrow {
            padding-left: 14px;

            &::before {
                background-color: var(--red);
            }

            i {
                color: var(--red);
            }
        }
    }

    &-img {
        height: 330px;
        object-fit: cover;
    }

    &-txt {
        border-bottom: 1px solid rgb(10 10 10 / 10%);
        padding-bottom: 25px;

        @include md {
            padding-bottom: 19px;
        }

        @include sm {
            padding-bottom: 15px;
        }
    }

    &-arrow {
        position: relative;
        transition: all 0.4s ease;
        color: var(--black);

        &:hover {
            color: var(--red);
        }

        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: 0;
            height: 2px;
            width: 15px;
            background-color: var(--black);
            z-index: -1;
        }
    }
}

// 5


// 9
.tl-9 {
    &-blogs {
        .tl-9-section-heading {
            text-align: left;
        }
    }

    &-blog {
        border: 1px solid rgb(44 44 44 / 14%);
        padding: 40px;

        @include xl {
            padding: 30px;
        }

        @include lg {
            padding: 20px;
        }

        .tl-9-event-img img {
            height: 260px;
        }

        .tl-6-latest-article-title a:hover {
            color: var(--ligh-yellow);
        }

        &-author {
            font-size: 14px;
            color: rgba(44, 44, 44, 0.7);
        }
    }
}

// 9

// 10
.tl-10-blog {
    @include md {
        padding: 60px 0;
    }
}

.tl-10-blog-heading {
    @include xxs {
        flex-direction: column;
        row-gap: 10px;
    }

    .tl-10-section-title {
        margin-bottom: 0;

        .last-word {
            &::before {
                background-image: url(../images/tl/line-2.png);
            }
        }
    }
}

.tl-10-blog-inner-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(23, 22, 28, 0.10);
    margin-bottom: 60px;
    margin-top: 21px;

    @include lg {
        margin-bottom: 40px;
    }

    @include md {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

.tl-10-single-blog {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid rgb(23 22 28 / 10%);
    align-items: center;

    @include xl {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 16px;
    }

    @include lg {
        gap: 15px;
        padding: 15px;
        padding-bottom: 8px;
    }

    &-img {
        flex-shrink: 0;
    }

    &-date {
        color: rgba(10, 10, 10, 0.61);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    &-title {
        font-size: 18px;
        font-weight: 600;
        color: #0a0a0a;
        line-height: 26px;

        a {
            transition: 0.4s ease;

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-descr {
        font-size: 14px;
        line-height: 18px;
        color: rgb(10, 10, 10, 0.7);
        margin-bottom: 35px;

        @include xl {
            margin-bottom: 20px;
        }
    }

    &-btn {
        font-weight: 600;
        font-size: 15px;
        color: var(--black);

        &:hover {
            color: var(--tl-btn-bg);

            i {
                transform: rotate(-45deg);
            }
        }

        i {
            padding-left: 5px;
            transition: transform 0.4s ease;
        }
    }
}

// 10


// 12
.tl-12-blogs {
    background: center center no-repeat;
    background-size: cover;
    background-color: rgb(225 238 218);

    &-txt {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 30px;

        @include lg {
            padding-right: 0;
            gap: 40px;
            align-items: center;
        }
    }

    &-heading {
        width: 85%;
        margin-right: auto;
        position: relative;

        @include xl {
            width: 95%;
        }

        &::before {
            content: "";
            position: absolute;
            width: 75px;
            height: 40px;
            background: url(../images/tl-12/banner-vector-1.png) no-repeat center center;
            background-size: contain;
            transform: rotate(0deg);
            top: -50px;
            left: -60px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            right: 0;
            background: url(../images/tl-12/blog-vector.png) no-repeat center center;
            background-size: 100%;
            width: 65px;
            height: 65px;
        }

        >a {
            font-weight: 500;
            color: var(--black-3);

            &:hover {
                color: var(--tl-btn-bg);
            }

            i {
                padding-left: 5px;
            }
        }
    }

    .tl-12-section-title {
        text-align: left;
        margin-bottom: 18px;
    }

    .tl-12-section-descr {
        color: rgb(44 44 44 / 70%);
        margin-bottom: 32px;
    }

    &-slider {
        &-nav {
            display: flex;
            gap: 8px;

            button {
                width: 50px;
                height: 50px;
                border: 1px solid rgb(44 44 44 / 14%);
                font-size: 20px;

                @include md {
                    width: 45px;
                    height: 45px;
                }

                @include xs {
                    width: 40px;
                    height: 40px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: var(--tl-btn-bg);
                    border-color: var(--tl-btn-bg);
                }

                i {
                    font-weight: 300;
                }
            }
        }
    }

    &-slide {
        &.slick-slide {
            border: none;
        }

        &.slick-current {
            .tl-12-blog {
                border-top: 1px solid transparent;
            }
        }
    }
}

.tl-12-blog {
    display: flex;
    border-radius: 0;
    border-width: 1px 0 0 1px;
    padding: 30px;
    gap: 30px;
    align-items: center;

    @include lg {
        border-width: 0 1px 1px 1px;
    }

    @include md {
        padding: 20px;
        gap: 20px;
    }

    @include sm {
        flex-direction: column;
        align-items: normal;
    }

    @include xxs {
        padding: 20px 15px;
        gap: 15px;
    }


    .tl-3-single-blog {
        &-img {
            margin-bottom: 0;
            min-width: fit-content;

            img {
                width: 240px;
                height: 180px;
                border-radius: 0;
                object-fit: cover;

                @include sm {
                    width: 100%;
                    height: 220px;
                }
            }
        }

        &-tag {
            left: 10px;
            top: 10px;
            right: auto;
            border-radius: 0;
            color: var(--black-3);
            line-height: 26px;
        }

        &-info {
            color: rgb(44 44 44 / 60%);
            margin-bottom: 10px;

            i {
                color: rgb(44 44 44 / 60%);
                font-size: 18px;
            }

            @include lg {
                justify-content: flex-start;
            }

            @include xxs {
                justify-content: center;
            }
        }

        &-single-info {
            @include lg {
                flex-direction: row;
            }

            @include xxs {
                flex-direction: column;
            }
        }

        &-title {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 21px;

            @include md {
                font-size: 20px;
                line-height: 28px;
            }

            @include xxs {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 15px;
            }

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-btn {
            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }
}

// 12

// 13
.tl-13-blogs {
    .tl-13-section-title {
        margin-bottom: 0;
    }

    &-slider {
        &-nav {
            display: flex;
            gap: 20px;

            button {
                font-size: 25px;
                color: #8B8B8D;
                transition: 0.4s ease;

                &:hover {
                    color: var(--black);
                }
            }
        }

        .owl-stage-outer {
            padding-right: 30px;
            padding-bottom: 30px;
            margin-right: -30px;
            margin-bottom: -30px;
        }
    }

    .tl-13-course {
        .tl-9-class-category {
            &:hover {
                background-color: var(--white);
                color: rgba(44, 44, 44, 0.7);
            }
        }

        .tl-9-program-btn {
            position: relative;
            z-index: 1;
            color: var(--black);

            &:hover {
                color: var(--black);

                i {
                    padding-left: 9px;
                    rotate: 0deg;
                }
            }

            i {
                padding-left: 0;
                transition: padding-left 0.4s ease;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                translate: 0 -100%;
                height: 2px;
                width: 10px;
                background-color: var(--black);
                z-index: -1;
            }
        }
    }
}

// 13

// 14
.tl-14-blog {
    padding: 0;
    gap: 0;
    position: relative;
    border: none;
    box-shadow: 0 0 0 transparent;
    transition: 0.4s ease;
    background-color: var(--white);
    z-index: 1;
    flex-direction: row;
    align-items: center;

    @include xs {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
    }

    &::before {
        position: absolute;
        content: "";
        border-top: 3px solid var(--red-3);
        inset: 0;
        width: 0;
        height: 3px;
        background-color: var(--red-3);
        bottom: auto;
        transition: 0.4s ease;
        margin: auto;
        z-index: 2;
    }

    &:hover {
        box-shadow: 0 4px 10px rgb(23 22 28 / 14%);

        &::before {
            width: 100%;
        }
    }

    .tl-single-blog {
        &-img {
            @include xxs {
                width: 100%;
            }

            img {
                width: 260px;
                height: 300px;
                object-fit: cover;

                @include sm {
                    width: 230px;
                    height: 280px;
                }

                @include xxs {
                    width: 100%;
                }
            }
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
            color: var(--black);
            line-height: 141.667%;
            margin-bottom: 34px;

            @include sm {
                font-size: 22px;
            }

            @include xxs {
                font-size: 20px;
                margin-bottom: 24px;
            }

            a:hover {
                color: var(--red-3);
            }
        }

        &-btn:hover {
            color: var(--red-3);
        }
    }

    &-txt {
        padding: 40px;

        @include xl {
            padding: 30px;
        }

        @include sm {
            padding: 25px;
        }

        @include xs {
            padding: 0;
            padding-top: 20px;
        }
    }

}

.tl-11-latest-article-infos.tl-14-blog-infos {
    text-transform: capitalize;
    margin-bottom: 8px;

    li:first-child {
        padding-right: 15px;
        margin-right: 10px;
    }
}

// 14

// inner
.tl-inner-blog-body {
    background-color: var(--tl-1-bg-coffee);
}