/* ----- 19. Campus ----- */
.tl-4-campus-txt {
    background-color: #00825A;
    padding: 0 80px;
    height: 100%;
    display: grid;
    justify-items: start;
    align-content: center;

    @media screen and (max-width: 1715px) {
        padding: 55px;
    }

    @include xxs {
        padding: 35px;
    }

    .tl-5-section-title {
        color: var(--white);
        text-align: left;


        @media screen and (max-width: 1595px) {
            font-size: 40px;
            line-height: 45px;
        }

        @include xl {
            font-size: 40px;
            line-height: 45px;
        }

        @include md {
            font-size: 35px;
            line-height: 40px;
        }

        @include sm {
            font-size: 32px;
            line-height: 37px;
        }

        @include xs {
            font-size: 28px;
            line-height: 33px;
        }

        @include xxs {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .tl-def-btn-2 {
        color: var(--white);
        border-color: var(--white);
        transition: all 0.4s ease;

        &:hover {
            color: var(--tl-btn-bg);
            border-color: var(--tl-btn-bg);

            i {
                color: var(--tl-btn-bg);
            }
        }

        i {
            color: var(--white);
        }
    }
}

// 5
.tl-5-campus {
    &-img {
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include md {
                height: 300px;
            }
        }
    }

    &-txt {
        background-color: #36348E;
        padding: 0 75px;

        @media screen and (max-width: 1715px) {
            padding: 55px;
        }

        @include xxs {
            padding: 35px;
        }
    }
}

// 5

// 10

.tl-10-campus-section {
    background: url(../images/tl-10/campus-life-bg.png) no-repeat center center;
    background-size: 100% 53%;
    background-position-y: top;
    margin: 0 100px;
    position: relative;
    background-color: #F2F4F9;
    z-index: 1;

    @media screen and (max-width: 1749px) {
        margin: 0;
    }

    @include md {
        padding: 60px 0;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 47%;
        background-color: var(--white);
        z-index: -1;
    }

    >.container>.row {
        --bs-gutter-x: 20px;

        @include xxs {
            --bs-gutter-x: 15px;
        }
    }

    &-title {
        margin-bottom: 12px;

        .last-word {
            &::before {
                background-image: url(../images/tl/line-2.png);
            }
        }
    }

    &-single-img {
        img {
            width: 100%;
        }
    }

    &-txt {
        margin-top: 40px;

        p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            color: var(--black);

            @include xl {
                font-size: 16px;
                line-height: 24px;
            }

            @include md {
                text-align: center;
            }
        }
    }
}

// 10