/* ----- 29. Categories ----- */
.tl-7-categories {
    &-heading {
        margin-left: 0;
        text-align: left;
    }

    &-row {
        display: flex;
        align-items: center;

        @include md {
            flex-direction: column;
        }
    }

    .nav.nav-tabs {
        flex-direction: column;
        border: none;
        box-shadow: 0 10px 60px rgb(23 22 28 / 10%);

        @include md {
            flex-direction: row;
            background-color: rgb(0 0 0/ 10%);
            gap: 1px;
        }

        >* {
            @include md {
                flex: 40%;
            }

            @include xxs {
                flex: 100%;
            }
        }
    }

    .nav-item {
        .nav-link {
            border: none;
            min-width: 440px;
            color: #000;
            padding: 45px;
            text-align: left;
            position: relative;
            z-index: 1;
            background-color: var(--white);
            border-radius: 0;
            height: auto;
            text-transform: capitalize;

            @include xl {
                padding: 35px;
            }

            @include lg {
                padding: 25px;
                min-width: 350px;
            }

            @include md {
                min-width: auto;
                width: 100%;
                padding: 25px 20px;
            }

            @include sm {
                padding: 15px 20px;
            }

            @include xxs {
                padding: 15px;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                left: auto;
                width: 0;
                background-color: var(--tl-btn-bg);
                z-index: -1;
                transition: 0.4s ease;
            }

            &::after {
                content: none;
            }

            &.active {
                &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }

        &:not(:last-child) {
            border-bottom: 2px solid rgb(0 0 0/ 10%);
        }

    }

    .tab-pane {
        overflow: hidden;

        img {
            animation: slide-right 0.4s forwards;
        }
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

.tl-7-cate {
    &-sub-title {
        color: rgb(0 0 0/ 70%);
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;

        @include md {
            font-size: 14px;
            margin-bottom: 2px;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
        display: block;
        line-height: 1;

        @include lg {
            font-size: 25px;
        }

        @include md {
            font-size: 23px;
        }

        @include sm {
            font-size: 20px;
        }

        @include xxs {
            font-size: 18px;
        }
    }
}

// INDEX-12
.tl-12-subjects {
    &-row {
        >.row {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 30px;

            @include lg {
                --bs-gutter-x: 20px;
                --bs-gutter-y: 20px;
            }

            @include xs {
                --bs-gutter-y: 12px;
            }
        }
    }
}

.tl-12-subj {
    padding: 50px 45px;
    background-color: #F2F4F8;

    @include xl {
        padding: 30px 25px;
    }

    &:hover {
        .kb-long-arrow-btn .arrow {
            width: 32px;
        }
    }

    &-2 {
        background-color: #F8F2F2;
    }

    &-3 {
        background-color: #E8F6EB;
    }

    &-4 {
        background-color: #F8F6F2;
    }

    &-5 {
        background-color: #F4F8F2;
    }

    &-6 {
        background-color: #E8F6F5;
    }

    &-7 {
        background-color: #F7F2F8;
    }

    img {
        margin-bottom: 56px;
        height: 50px;
        object-fit: contain;

        @include md {
            margin-bottom: 46px;
        }

        @include xs {
            margin-bottom: 36px;
        }

        @include xxs {
            margin-bottom: 31px;
        }
    }

    &-title {
        margin-bottom: 6px;
        color: var(--black-3);
    }

    a:hover {
        color: var(--tl-btn-bg);
    }

    &-descr {
        color: var(--black-3);
        margin-bottom: 62px;

        @include md {
            margin-bottom: 52px;
        }

        @include xs {
            margin-bottom: 42px;
        }

        @include xxs {
            margin-bottom: 37px;
        }
    }
}

.kb-long-arrow-btn {
    display: block;
    width: max-content;
    height: 12px;
    line-height: 4px;

    &:hover {
        .arrow {
            background-color: var(--tl-btn-bg);

            &::after {
                border-color: var(--tl-btn-bg);
            }
        }
    }

    .arrow {
        height: 2px;
        width: 16px;
        background-color: var(--black-3);
        position: relative;
        transition: 0.4s ease;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            left: calc(100% - 8px);
            width: 8px;
            height: 8px;
            border: solid var(--black-3);
            border-width: 0 2px 2px 0;
            top: 50%;
            translate: 0 -50%;
            rotate: 315deg;
            transition: 0.4s ease;
        }
    }
}


// 13
.tl-13-categories {
    &-row {
        --bs-gutter-x: 30px;
        --bs-gutter-y: 30px;

        @include xxs {
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }
    }

    .tl-3-single-program {
        border-radius: 0;
        border: 1px solid rgb(23 22 28/ 14%);
        box-shadow: 6px 6px 0 rgb(23 22 28/ 14%);

        @include xl {
            padding: 18px 20px;
        }

        @include lg {
            padding: 18px 15px;
            gap: 10px;
        }

        &:hover {
            background-color: var(--white);
            color: var(--black);
            border-color: var(--black);
            box-shadow: 6px 6px 0 var(--tl-btn-bg);

            .tl-3-single-program-icon img {
                filter: invert(0);
            }
        }

    }
}

// 13

// 14
.tl-14-categories-row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;

    @include lg {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    @include md {
        --bs-gutter-x: 15px;
        --bs-gutter-y: 15px;
    }
}

.tl-14-category {
    border: 1px solid rgb(44 44 44 / 10%);
    box-shadow: 0 0 0 transparent;
    transition: 0.4s ease;

    &:hover {
        background-color: var(--white);
        border-color: transparent;
        box-shadow: 0 -3px 0 var(--red-3);
        color: var(--black);

        .tl-3-single-program-icon img {
            filter: none;
        }

    }

}

// 14