/* ----- 27. Classes ----- */
.tl-7-classes-row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;

    @include lg {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    @include xxs {
        --bs-gutter-x: 12px;
        --bs-gutter-y: 12px;
    }
}

.tl-7-class {
    position: relative;
    z-index: 1;

    &:hover {
        &::before {
            height: 100%;
        }

        .tl-7-class-descr {
            line-height: 1.6;
            opacity: 1;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0/ 50%);
        z-index: 0;
        height: 0;
        top: auto;
        transition: 0.4s ease;
    }

    &-img img {
        width: 100%;

        @include lg {
            min-height: 450px;
            object-fit: cover;
        }

        @include xs {
            max-height: 350px;
            min-height: 300px;
        }
    }

    &-txt {
        position: absolute;
        inset: 0;
        padding: 70px 60px;
        color: var(--white);

        @include xl {
            padding: 50px 45px;
        }

        @include lg {
            padding: 35px 30px;
        }

        @include sm {
            padding: 30px 25px;
        }
    }

    &-icon img {
        width: 80px;
        object-fit: contain;
        object-position: top;
        margin-bottom: 40px;

        @include lg {
            width: 70px;
            margin-bottom: 30px;
        }
    }

    &-name {
        font-weight: 700;
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 12px;

        @include xl {
            font-size: 32px;
            line-height: 36px;
        }

        @include lg {
            font-size: 28px;
            line-height: 34px;
        }

        @include md {
            font-size: 25px;
            line-height: 32px;
        }
    }

    &-descr {
        font-size: 15px;
        line-height: 24px;
        line-height: 0;
        overflow: hidden;
        color: rgb(255 255 255 / 70%);
        font-weight: 400;
        transition: 0.4s ease;
        opacity: 0;
    }

    &-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 50%;
        color: var(--white);
        text-align: center;
        line-height: 50px;

        &:hover {
            background-color: var(--white);
            color: var(--black);
        }
    }
}

// 9
.tl-9 {
    &-class {
        position: relative;

        @include lg {
            padding: 20px;
        }

        &-tag {
            padding: 5px 15px;
            background-color: #9428EA;
            position: absolute;
            right: 0;
            top: 28px;
            font-weight: 700;
            color: var(--white);
            line-height: 1;

            @include xl {
                top: 18px;
            }

            @include lg {
                top: 12px;
            }
        }

        &-img {
            margin-bottom: 50px;

            @include xl {
                margin-bottom: 30px;
            }

            @include lg {
                margin-bottom: 20px;
            }
        }

        &-infos {
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 20px;

            @include lg {
                margin-bottom: 15px;
            }
        }

        &-category {
            font-size: 15px;
            font-weight: 400;
            color: rgb(44 44 44 / 70%);
            text-transform: capitalize;
            border: 1px solid rgb(44 44 44 / 14%);
            padding: 2px 11px;
            &:hover {
                background-color: #9428EA;
                color: #fff;
            }
        }

        &-duration {
            display: flex;
            align-items: center;
            color: rgba(44, 44, 44, 0.6);

            img {
                margin-right: 5px;
            }
        }
    }

    &-classes {
        .owl-nav {
            position: absolute;
            top: 50%;
            width: calc(100% + 160px);
            display: flex;
            justify-content: space-between;
            left: 50%;
            translate: -50% 0;
            visibility: hidden;

            @media screen and (max-width: 1499px) {
                width: calc(100% + 70px);
            }

            button.owl-prev,
            button.owl-next {
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid rgb(44 44 44 / 14%);
                visibility: visible;
                color: var(--black-2);
                background-color: var(--white);

                &:hover {
                    background-color: var(--ligh-yellow);
                    border-color: var(--ligh-yellow);
                }
            }
        }

        .owl-item .tl-9-class-duration img {
            width: 16px;
        }
    }
}

// 9