/* ----- 16. Consult ----- */
.tl-3-consult {
    background-color: rgba(79, 94, 199, 0.1);

    .tl-3-section-title {
        text-align: left;
    }

    &-img img {
        max-width: 740px;

        @include xl {
            max-width: 700px;
        }

        @include lg {
            max-width: 650px;
        }

        @include md {
            max-width: 100%;
        }
    }

    &-form {
        background-color: var(--white);
        border: 1px solid var(--black);
        padding: 70px 60px;

        @include lg {
            padding: 60px 50px;
        }

        @include md {
            margin-top: -300px;
        }

        @include sm {
            padding: 50px 40px;
        }

        @include xs {
            padding: 35px;
            margin-top: -250px;
        }

        @include xxs {
            padding: 30px;
            margin-top: 0;
        }

        .input-field-container {
            &::before {
                width: 15px;
                height: 15px;
                top: 2px;
            }

            >* {
                @include sm {
                    font-size: 14px;
                }
            }
        }

        .tl-3-def-btn {
            &:hover {
                color: var(--black);
            }
        }
    }
}

// 5
.tl-5-consult {
    padding-bottom: 120px;
    margin: 0 160px;
    display: flex;

    @media screen and (max-width: 1549px) {
        margin: 0 60px;
    }

    @include xl {
        margin: 0;
    }

    @include md {
        flex-direction: column;
        padding-bottom: 60px;
    }

    &-img {
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &-form-container {
        background-color: #F9F6F0;
        padding: 120px;

        @media screen and (max-width : 1749px) {
            padding: 80px;
        }

        @media screen and (max-width: 1499px) {
            padding: 60px;
        }

        @include xl {
            padding: 50px;
        }

        @include lg {
            padding: 40px;
            width: 130%;
        }

        @include md {
            width: 100%;
        }

        @include xxs {
            padding: 25px;
        }
    }

    &-sub-title {
        color: var(--black);
    }

    .tl-5-section-title {
        text-align: left;
    }

    &-form {
        >.row {
            --bs-gutter-y: 48px;

            @include md {
                --bs-gutter-y: 1.5rem;
            }
        }

        .input-field-container {
            position: relative;
            display: inline-block;
            width: 100%;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                background: url(../images/tl-5/form-icon-1.png) no-repeat center center;
                background-size: contain;
                width: 20px;
                height: 20px;
            }

            &-address {
                &::before {
                    background-image: url(../images/tl-5/form-icon-2.png);
                }
            }

            &-number {
                &::before {
                    background-image: url(../images/tl-5/form-icon-3.png);
                }
            }

            &-subject {
                &::before {
                    background-image: url(../images/tl-5/form-icon-4.png);
                }
            }

            &-ques {
                &::before {
                    background-image: url(../images/tl-5/form-icon-5.png);
                }
            }

            >* {
                width: 100%;
                border: none;
                border-bottom: 1px solid rgb(10 10 10/ 14%);
                background-color: transparent;
                padding: 20px 15px;
                padding-top: 0;
                padding-left: 35px;
                vertical-align: top;

                @include sm {
                    padding: 10px 15px;
                    padding-top: 0;
                    padding-left: 35px;
                }

                &:focus {
                    outline: none;
                }
            }

            textarea {
                vertical-align: top;
                height: 80px;
            }
        }

    }

}

// 5