/* ----- 30. Contact ----- */
.tl-7-contact {
    padding: 120px 0;

    @include md {
        padding: 60px 0;
    }

    &-heading {
        text-align: left;
        width: 100%;
    }

    .tl-7-section-title {
        position: relative;

        &::before {
            content: "Contact us";
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.5px rgb(0 0 0/ 14%);
            font-size: clamp(25px, 4.5vw, 80px);
            position: absolute;
            top: -20px;
            left: -98px;

            @include xxl {
                left: 0;
            }
        }
    }

    &-form {

        input,
        textarea {
            width: 100%;
            border: 1px solid rgb(0 0 0/ 10%);
            padding: 0 20px;
            height: 50px;

            @include lg {
                padding: 0 15px;
                height: 45px;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            padding-block: 12px;
            height: 200px;
        }

        .tl-7-def-btn {
            &:hover {
                color: var(--black);
            }
        }
    }

    iframe {
        max-width: 100%;
        width: 550px;
        aspect-ratio: 1;
        margin-left: 85px;

        @include xl {
            margin-left: 45px;
            width: 500px;
        }

        @include lg {
            margin-left: 15px;
            width: 440px;
        }

        @include md {
            margin-left: 0;
            width: 100%;
            aspect-ratio: 2;
        }

        @include xxs {
            aspect-ratio: 1;
        }
    }
}

// 8
.tl-8-contact {
    .tl-3-consult-form {
        background-color: #F5F5F5;
    }

    .tl-3-def-btn {
        border-radius: 0;
    }
}

// 8