/* ----- 35. Countries ----- */
.tl-13-countries {
    background-color: var(--white);
    border: 1px solid rgb(23 22 28 / 14%);
    box-shadow: 6px 6px 0 rgb(23 22 28 / 14%);

    &-bg {
        background-image: linear-gradient(180deg, #f2efe8 50%, var(--white) 0);
    }
}

.tl-13-country {
    text-align: center;
    padding: 30px 0;

    @include lg {
        width: 180px !important;
    }

    @include sm {
        width: 150px !important;
        padding: 20px 0;
    }

    @include xxs {
        width: 140px !important;
        padding: 10px 0;
    }

    >.fi {
        width: 74px;
        height: 74px;
        border: 6px solid var(--white);
        border-radius: 50%;
        box-shadow: 0 4.57px 6.86px rgb(66 71 76 / 18%);
        margin-bottom: 12px;

        @include sm {
            width: 64px;
            height: 64px;
        }

        @include xxs {
            width: 64px;
            height: 64px;
            margin-bottom: 8px;
        }
    }

    &-name {
        font-weight: 600;
        color: var(--black);
        margin-bottom: 0;

        @include xxs {
            font-size: 18px;
        }
    }
}