/* ----- 08. Courses ----- */
.tl-1 {
    &-courses {
        clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);

        .tl-1-section-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include xxs {
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
            }
        }

        .tl-2-blogs-slider-nav button {
            @include sm {
                font-size: 22px;
            }

            @include xs {
                font-size: 20px;
            }
        }
    }

    &-course {
        border: 1px solid var(--white);
        background-color: var(--white);
        padding: 30px;

        @include lg {
            padding: 20px;
        }

        @include sm {
            padding: 20px;
        }

        &:hover {
            .tl-1-course-img img {
                scale: 1.07;
            }
        }

        &-img {
            position: relative;
            margin-bottom: 24px;
            overflow: hidden;

            @include sm {
                margin-bottom: 14px;
            }

            img {
                width: 100%;
                height: 270px;
                object-fit: cover;
                transition: 0.4s ease;

                @include lg {
                    height: 200px;
                }

                @include sm {
                    height: 160px;
                }

                @include xs {
                    height: 230px;
                }
            }
        }

        &-price {
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 1.5px 15px;
            font-weight: 600;
            font-size: 14px;
            background-color: var(--blue-2);
            color: var(--white);

            @include sm {
                right: 10px;
                top: 10px;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            color: var(--black-3);
            margin-bottom: 24px;

            @include sm {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 14px;
            }

            a:hover {
                color: var(--blue-2);
            }
        }

        &-stats {
            display: flex;
            gap: 25px;
            color: rgba(44, 44, 44, 0.6);
            font-size: 14px;
            margin-bottom: 0;
            line-height: 1;
        }

        &-author {
            font-size: 15px;
            font-weight: 500;
            color: #5D5C60;
            margin-bottom: 10px;

            @include sm {
                margin-bottom: 3px;
            }

            >a {
                color: var(--blue-2);
            }
        }
    }
}

// 2
.tl-2-course {
    &-img {
        position: relative;
        margin-bottom: 24px;

        @include sm {
            margin-bottom: 14px;
        }

        img {
            width: 100%;
            height: 230px;
            object-fit: cover;

            @include sm {
                height: 190px;
            }
        }
    }

    &-price {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: var(--kb-orange);
        color: var(--white);
        font-weight: 700;
        font-size: 18px;
        padding: 1px 15px 0px;

        @include lg {
            right: 10px;
            top: 10px;
        }

        @include sm {
            font-size: 16px;
        }
    }

    &-title {
        margin-bottom: 6px;

        a:hover {
            color: var(--kb-orange);
        }
    }

    &-descr {
        margin-bottom: 22px;
        color: rgba(44, 44, 44, 0.7);

        @include lg {
            margin-bottom: 12px;
        }
    }

    &-infos {
        display: flex;
        gap: 20px;
        border-top: 1px dashed rgb(24 34 47 / 30%);
        padding-top: 20px;
        margin-bottom: 30px;

        @include lg {
            padding-top: 15px;
            margin-bottom: 25px;
        }
    }

    &-info {
        display: flex;
        gap: 5px;

        @include lg {
            flex-direction: column;
            flex: 1;
        }

        >h6 {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
        }

        &-key {
            color: var(--kb-orange);
        }
    }
}

// 2


// 8
.tl-8 {
    &-courses {
        background-color: #F5F5F5;

        &-heading {
            display: flex;
            align-items: center;
            margin-bottom: 49px;
            justify-content: space-between;

            @include xl {
                margin-bottom: 34px;
            }

            @include xxs {
                flex-direction: column;
                margin-bottom: 19px;
            }
        }

        .tl-8-section-title {
            margin-bottom: 0;


            @include xxs {
                text-align: center;
            }
        }

        &-slider {
            box-shadow: 0 2px 4px rgb(23 22 28 / 10%);
            background-color: var(--white);

            .owl-item .tl-8-course-part img {
                width: 52px;
            }

            &-nav {
                margin-top: 10px;
                display: flex;
                gap: 8px;

                button {
                    background: none;
                    color: #8B8B8D;
                    transition: 0.4s ease;
                    font-size: 20px;
                    padding: 1px 6px;

                    &:hover {
                        color: var(--black);
                    }
                }
            }
        }
    }

    &-course {
        background-color: var(--white);
        padding: 40px;
        display: flex;
        gap: 40px;
        align-items: center;

        @include lg {
            padding: 30px;
            gap: 30px;
        }

        @include md {
            flex-direction: column;
        }

        @include xxs {
            padding: 15px;
            gap: 15px;
        }

        >* {
            flex-shrink: 0;
            flex-grow: 0;

            @include xl {
                flex-basis: 40%;
                flex-grow: 1;
            }
        }

        &-img {
            align-self: stretch;

            img {
                height: 100%;
                object-fit: cover;
                width: 550px;

                @include md {
                    max-height: 400px;
                    height: 400px;
                    width: 100%;
                }

                @include sm {
                    height: 350px;
                }

                @include xs {
                    height: 250px;
                }
            }
        }

        &-txt {
            flex-shrink: 1;
            padding-right: 70px;

            @include xxl {
                padding-right: 40px;
            }

            @include lg {
                padding-right: 0;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 23px;

            @include lg {
                margin-bottom: 18px;
            }
        }

        &-price {
            font-size: 30px;
            font-weight: 600;
            border: 1px solid rgba(10, 10, 10, 0.14);
            color: #0a0a0a;
            line-height: 1.3;
            padding: 1.5px 25px;

            @include lg {
                font-size: 25px;
                padding: 1.5px 20px;
            }

            @include sm {
                font-size: 22px;
            }

            @include xxs {
                padding-inline: 15px;
                font-size: 20px;
            }
        }

        &-level {
            color: rgb(10 10 10 / 60%);
            font-weight: 500;

            i {
                font-size: 25px;

                @include sm {
                    font-size: 23px;
                }
            }
        }

        &-title {
            font-size: 40px;
            font-weight: 700;
            color: #0a0a0a;

            @include xl {
                font-size: 35px;
            }

            @include lg {
                font-size: 30px;
            }

            @include md {
                font-size: 28px;
            }

            @include sm {
                font-size: 25px;
            }

            @include xxs {
                font-size: 22px;
            }
        }

        &-descr {
            border-bottom: 1px solid rgb(10 10 10 / 10%);
            padding-bottom: 26px;
            margin-bottom: 30px;
            color: var(--black);

            @include lg {
                padding-bottom: 21px;
                margin-bottom: 25px;
            }

            @include sm {
                padding-bottom: 16px;
                margin-bottom: 20px;
            }
        }

        &-parts {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 38px;

            @include lg {
                margin-bottom: 33px;
            }

            @include sm {
                margin-bottom: 23px;
            }

            @include xxs {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }
        }

        &-part {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
                width: 52px;
                height: 52px;
                object-fit: contain;

                @include xxs {
                    width: 42px;
                    height: 42px;
                }
            }

            &-txt {
                font-weight: 600;
                color: #18222F;
                font-size: 18px;
                line-height: 22px;
            }

            &-title {
                margin-bottom: 3px;
            }

            &-duration {
                margin-bottom: 0;
            }
        }
    }
}

// 8

// 9
.tl-10-course {
    @include md {
        padding-bottom: 60px;
    }
}

.tl-10-course-row {
    display: flex;
    align-items: flex-start;

    @include lg {
        flex-wrap: wrap;
        align-items: stretch;

        >* {
            flex: 50%;
            flex-grow: 0;
        }
    }

    @include sm {
        justify-content: center;

        >* {
            flex: auto;
            flex-grow: 0;
        }
    }
}


.tl-10-single-course {
    padding: 65px 45px;
    background: url(../images/tl-10/service-1.png) no-repeat center center;
    background-size: cover;

    @include xl {
        padding: 45px 35px;
    }

    @include md {
        padding: 35px 25px;
    }

    @include xxs {
        padding: 25px;
    }

    &-title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 40px;
        color: var(--white);
        margin-bottom: 28px;

        @include xl {
            font-size: 24px;
        }

        @include lg {
            font-size: 22px;
        }

        @include xxs {
            font-size: 20px;
            margin-bottom: 18px;
        }
    }

    &-descr {
        margin-bottom: 60px;
        color: rgb(255, 255, 255, 0.60);

        @include lg {
            margin-bottom: 30px;
        }

        @include xxs {
            margin-bottom: 20px;
        }
    }

    &-2 {
        background-image: url(../images/tl-10/service-2.png);
    }

    &-3 {
        background-image: url(../images/tl-10/service-3.png);
    }
}

.course-subjects {
    margin-bottom: 76px;
    overflow: hidden;

    @include lg {
        margin-bottom: 41px;
    }

    @include xxs {
        margin-bottom: 31px;
    }

    li {
        position: relative;
        overflow: hidden;
        padding-left: 16px;
        color: var(--white);

        @include xxs {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 13px;

            @include xs {
                margin-bottom: 8px;
            }

            @include xxs {
                margin-bottom: 5px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--tl-btn-bg);
        }
    }
}

.course-type {
    color: var(--tl-btn-bg);
    margin-bottom: 0;
    line-height: 1;

    i {
        color: var(--white);
        padding-right: 5px;
    }
}

.tl-10-course-btn {
    width: 180px;
    height: 180px;
    background-color: var(--black);
    display: grid;
    place-items: center;
    transition: all .4s ease;
    flex-shrink: 0;
    flex-basis: 180px;

    @include md {
        width: 160px;
        height: 160px;
        flex-basis: 160px;
    }

    @include sm {
        width: 150px;
        height: 150px;
        flex-basis: 150px;
    }

    @include xxs {
        width: 130px;
        flex-basis: 130px;
        height: 130px;
    }

    &:hover {
        background-color: rgb(226, 226, 226);

        img {
            filter: invert(1);
        }
    }

    img {
        transition: filter .4s ease;

        @include md {
            width: 70px;
        }

        @include sm {
            width: 65px;
        }

        @include xxs {
            width: 55px;
        }
    }
}

// 9

// 12
.tl-12 {
    &-courses {
        background-color: #E1EEDA;

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include sm {
                flex-direction: column;
                gap: 10px;
            }

            &-right {
                gap: 50px;
                flex-shrink: 0;

                @include md {
                    gap: 30px;
                }
            }
        }

        .tl-12-section-title {
            text-align: left;

            @include sm {
                text-align: center;
            }
        }

        &-slider-prev,
        &-slider-next {
            font-size: 22px;
            color: #8B8B8D;

            &:hover {
                color: var(--black-3);
            }
        }

        &-slider {
            &-pagination {
                font-weight: 500;
                font-size: 24px;
                color: #62696C;

                @include xxs {
                    font-size: 22px;
                }

                .swiper-pagination-current {
                    font-size: 64px;
                    color: var(--black-3);
                    line-height: 1;

                    @include md {
                        font-size: 54px;
                    }

                    @include xxs {
                        font-size: 44px;
                    }
                }
            }

            &-nav {
                display: flex;
                gap: 20px;
            }
        }
    }

    &-course {
        background-color: var(--white);
        padding: 30px;

        @include xl {
            padding: 25px;
        }

        @include lg {
            padding: 20px;
        }

        &-img {
            position: relative;
            margin-bottom: 24px;

            @include lg {
                margin-bottom: 15px;
            }

            img {
                width: 100%;
            }
        }

        &-price {
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: var(--tl-btn-bg);
            padding: 1.5px 15px;
            color: var(--black-3);
            font-weight: 600;
            font-size: 14px;

            @include xxs {
                right: 10px;
                top: 10px;
            }
        }

        &-info {
            display: flex;
            gap: 25px;
            margin-bottom: 15px;
            align-items: center;

            @include xl {
                gap: 15px;
            }
        }

        &-category {
            margin-bottom: 0;
            border: 1px solid rgb(44 44 44 / 14%);
            text-transform: capitalize;
            color: rgb(44 44 44 / 60%);
            font-size: 15px;
            padding: 3.5px 15px;

            @include lg {
                font-size: 14px;
                padding: 3.5px 12px;
            }
        }

        &-ratings {
            font-size: 14px;
            color: rgb(44 44 44 / 60%);
        }

        &-stars {
            font-size: 12px;
            color: #FFA121;
        }

        &-stats {
            display: flex;
            gap: 25px;
            margin-bottom: 10px;
            color: rgb(44 44 44 / 60%);
            font-size: 14px;
        }

        &-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            color: var(--black-3);
            margin-bottom: 6px;

            @include xl {
                font-size: 18px;
                line-height: 28px;
            }

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-descr {
            color: rgb(44 44 44 / 70%);
            margin-bottom: 20px;

            @include xs {
                font-size: 14px;
            }
        }

        &-btn {
            font-weight: 500;
            color: var(--black-3);
            line-height: 10px;
            vertical-align: bottom;

            &:hover {
                color: var(--tl-btn-bg);
            }

            i {
                padding-left: 3px;
            }
        }
    }
}

// 12

// 13
.tl-13-courses {
    .tl-13-section-title {
        margin-bottom: 0;
    }

    &-slider {
        .owl-stage-outer {
            padding-bottom: 30px;
            padding-right: 30px;
            margin-bottom: -30px;
            margin-right: -30px;

            @include lg {
                padding-bottom: 20px;
                padding-right: 20px;
                margin-bottom: -20px;
                margin-right: -20px;
            }
        }

        &-nav {
            display: flex;
            gap: 20px;

            button {
                font-size: 25px;
                color: #8B8B8D;
                transition: 0.4s ease;

                &:hover {
                    color: var(--black);
                }
            }
        }
    }
}

.tl-13-course {
    padding: 40px;
    border: 1px solid rgb(23 22 28 / 14%);
    box-shadow: 6px 6px 0 rgb(23 22 28 / 14%);
    background-color: var(--white);
    transition: 0.4s ease;

    @include xl {
        padding: 30px;
    }

    @include lg {
        padding: 20px;
    }

    &:hover {
        box-shadow: 6px 6px 0 var(--tl-btn-bg);
        border-color: var(--black);
    }

    img.tl-9-class-img {
        width: 100%;
    }

    .tl-9-class {
        &-tag {
            background-color: var(--black);
        }

        &-img {
            width: 330px;
            height: 240px;
            object-fit: cover;
            margin-bottom: 35px;

            @include xl {
                margin-bottom: 25px;
            }

            @include lg {
                height: 200px;
                margin-bottom: 15px;
            }

        }

        &-category {
            border-radius: 30px;
            padding: 3px 15px 2px;
            padding-left: 25px;
            position: relative;
            border-color: rgb(23 22 28 / 20%);

            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: rgb(23 22 28 / 70%);
                left: 15px;
                top: 50%;
                translate: 0 -50%;
            }
        }

        &-infos {
            margin-bottom: 13px;
        }
    }

    &-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 14px;

        @include lg {
            font-size: 18px;
            line-height: 28px;
        }

        a:hover {
            color: var(--tl-btn-bg);
        }
    }

    .tl-12-course-stat {
        &-icon {
            color: rgb(23 22 28 / 90%);
        }

        &-txt {
            color: rgb(23 22 28 / 80%);
        }
    }

    &-actions {
        padding-top: 22px;
        margin-top: 26px;
        border-top: 1px solid rgb(23 22 28 / 14%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include md {
            padding-top: 12px;
            margin-top: 16px;
        }

        .tl-9-program-btn {
            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }
}

// 13

// 14
.tl-14-courses {
    .owl-stage-outer {
        padding: 10px;
        margin: -10px;
    }
}

.tl-14-course {
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 rgb(23 22 28 / 14%);
    transition: 0.4s ease;

    &:hover {
        box-shadow: 0 4px 10px rgb(23 22 28 / 14%);

        &::before {
            width: 100%;
        }
    }

    &::before {
        position: absolute;
        content: "";
        border-top: 3px solid var(--red-3);
        inset: 0;
        width: 0;
        transition: 0.4s ease;
        margin: auto;
        z-index: -1;
    }

    .tl-12-course {
        &-img {
            margin-bottom: 30px;

            @include xl {
                margin-bottom: 20px;
            }

            img {
                width: 100%;
                height: 214px;
                max-width: 100%;
                object-fit: cover;
            }
        }

        &-title {
            a:hover {
                color: var(--red-3);
            }
        }

        &-price {
            width: 50px;
            height: 50px;
            line-height: 52px;
            text-align: center;
            border-radius: 50%;
            padding: 0;
            color: var(--white);
            background-color: var(--red-3);
            font-size: 16px;

            @include xl {
                width: 40px;
                height: 40px;
                line-height: 42px;
                font-size: 14px;
            }
        }

        &-category {
            border-radius: 20px;
        }

        &-descr {
            margin-bottom: 32px;

            @include xl {
                margin-bottom: 22px;
            }
        }

        &-btn {
            &:hover {
                color: var(--red-3);
            }
        }
    }

    &-footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;

        @include xl {
            flex-direction: column;
            row-gap: 10px;
        }

        @include lg {
            flex-direction: row;
        }

        @include md {
            flex-direction: column;
        }

        &::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 1px;
            background-color: rgb(23 22 28 / 14%);
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }

        .tl-12-course-stats {
            margin-bottom: 0;
        }
    }
}

// 14

// INNER COURSE
.tl-inner-courses {
    @include xl {
        padding: 80px 0;
    }

    @include md {
        padding: 60px 0;
    }
}

.tl-5-section-title.mtm-15 {
    margin-top: -15px;
}