/* ----- 13. CTA ----- */
.tl-2-cta {
    position: relative;
    z-index: 1;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgb(232 79 44 / 80%);
    }

    .tl-2-section-title {
        font-size: 64px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--white);
        margin-bottom: 12px;

        @include lg {
            font-size: 58px;
        }

        @include md {
            font-size: 50px;
        }

        @include sm {
            font-size: 45px;
        }

        @include xs {
            font-size: 40px;
        }

        @include xxs {
            font-size: 35px;
        }
    }

    &-descr {
        color: rgb(255 255 255 / 70%);
        width: 45%;
        margin: auto;
        margin-bottom: 34px;

        @include xl {
            width: 50%;
        }

        @include lg {
            width: 60%;
        }

        @include md {
            width: 80%;
        }

        @include sm {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    &-btn {
        background-color: #111720;
        height: 45px;
        line-height: 42px;
        padding: 0 40px;
        color: var(--white);
        border: 1px solid #111720;

        &:hover {
            background-color: transparent;
            color: var(--white);
        }
    }
}

// 3
.tl-3-cta {
    padding: 60px 80px;
    background: url(../images/tl-3/cta-bg.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    margin-top: -120px;
    box-shadow: 0 30px 80px rgb(30, 30, 30, 0.30);

    @include xl {
        padding: 60px 70px;
    }

    @include lg {
        padding: 60px;
    }

    @include md {
        padding: 50px;
    }

    @include sm {
        padding: 40px;
    }

    @include xxs {
        padding: 30px;
    }

    .tl-3-section-title {
        margin-bottom: 20px;
        color: var(--white);
        text-align: left;
    }

    &-descr {
        margin-bottom: 0;
        color: rgb(255 255 255/ 70%);
    }

    &-inner {
        margin-top: 0;
        margin-bottom: 120px;

        @include md {
            margin-bottom: 60px;
        }
    }
}

// 3


// 7 
.tl-7-cta {
    background-image: linear-gradient(to bottom, #fff 50%, #000 0);

    &-bg {
        background: url(../images/tl-7/cta-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 68px 80px;

        @include xl {
            padding: 58px 70px;
        }

        @include md {
            padding: 48px 50px;
        }

        @include sm {
            padding: 38px 40px;
        }

        @include xxs {
            padding: 28px 30px;
        }

        >.row {
            --bs-gutter-y: 25px;
        }
    }

    &-title {
        margin-bottom: 0;
        font-size: 40px;
        font-weight: 700;
        color: var(--white);

        @include lg {
            font-size: 35px;
        }

        @include md {
            font-size: 32px;
        }

        @include sm {
            font-size: 30px;
        }

        @include xs {
            font-size: 28px;
        }

        @include xxs {
            font-size: 25px;
        }
    }

    &-descr {
        margin-bottom: 0;
        margin-left: 40px;
        font-size: 18px;
        line-height: 30px;
        color: rgb(255 255 255 / 70%);

        @include xl {
            margin-left: 0;
        }
    }

    &-inner {
        background-image: linear-gradient(to bottom, #f8f2ed 50%, #000 0);
    }
}

// 7 


// 8
.tl-8-cta {
    background-image: linear-gradient(to bottom, #f5f5f5 50%, #fff 0);

    .tl-7-cta {
        &-bg {
            background-image: url(../images/tl-8/cta-bg.jpg);

            @include xl {
                padding: 58px 70px;
            }

            @include md {
                padding: 48px 50px;
            }

            @include sm {
                padding: 38px 40px;
            }

            @include xxs {
                padding: 28px 30px;
            }

            >.row {
                --bs-gutter-y: 25px;
            }
        }

        &-title {
            @include lg {
                font-size: 35px;
            }

            @include md {
                font-size: 32px;
            }

            @include sm {
                font-size: 30px;
            }

            @include xs {
                font-size: 28px;
            }

            @include xxs {
                font-size: 25px;
            }
        }

        &-descr {
            margin-left: 20px;

            @include xl {
                margin-left: 0;
            }
        }
    }

    &-inner {
        background-image: linear-gradient(to bottom, #f5f5f5 50%, #000 0);
    }
}

// 8

// 12
.tl-12-cta-banner {
    background: url(../images/tl-12/cta-bg-1.jpg) no-repeat center center;
    background-size: cover;
    padding-inline: 60px;
    display: flex;
    align-items: flex-end;

    @include xl {
        padding-inline: 45px;
    }

    @include lg {
        padding-inline: 25px;
    }

    @include md {
        padding-inline: 45px;
    }

    @include sm {
        padding-inline: 35px;
    }

    @include xs {
        padding-inline: 30px;
    }

    @include xxs {
        flex-direction: column;
        align-items: center;
        padding-inline: 25px;
    }

    >* {
        flex-basis: 50%;
        flex-grow: 1;
    }

    &-2 {
        background-image: url(../images/tl-12/cta-bg-2.png);

        .tl-12-cta-banner-title::before {
            content: url(../images/tl-12/cta-vector-2.png);
        }
    }

    &-txt {
        padding-block: 55px;

        @include xl {
            padding-block: 50px;
        }

        @include xxs {
            padding-block: 30px;
        }
    }

    &-sub-title {
        font-size: 14px;
        line-height: 24px;
        color: rgb(44 44 44 / 70%);
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: var(--black-3);
        margin-bottom: 22px;
        position: relative;

        @include xl {
            font-size: 22px;
            line-height: 30px;
        }

        @include lg {
            font-size: 20px;
            line-height: 28px;
        }

        &::before {
            content: url(../images/tl-12/cta-vector-1.png);
            position: absolute;
            left: calc(100% - 27px);
            top: -18px;
        }
    }

    .tl-def-btn {
        height: 40px;
        line-height: 40px;
    }

    &-img {
        text-align: end;
    }
}

// 12

// 14
.tl-14-cta {
    .container {
        @media screen and (min-width: 1920px) {
            max-width: 1920px;
        }

        padding: 0;
    }

    &-row {
        --bs-gutter-x: 94px;

        @media screen and (max-width: 1919px) {
            --bs-gutter-x: 44px;
        }

        @include lg {
            --bs-gutter-x: 14px;
        }
    }

    &-img {
        img {
            max-width: 1055px;
            margin-right: 26px;

            @include xl {
                max-width: 775px;
            }

            @include lg {
                max-width: 700px;
            }

            @include md {
                max-width: 100%;
                margin-right: 0;
                padding-top: 24px;
            }

            @include sm {
                padding-top: 18px;
            }

            @include xs {
                padding-top: 0;
            }
        }
    }

    &-txt {
        position: relative;
        padding: 0;
        padding-right: 200px;

        @media screen and (max-width: 1919px) {
            padding-right: 0;
        }

        @include md {
            padding-block: 25px;
        }

        @include sm {
            padding-block: 20px;
        }

        @include xs {
            padding: 20px;
        }
    }

    &-title {
        color: var(--white);
        font-size: 40px;
        font-weight: 500;
        line-height: 125%;
        margin-bottom: 20px;

        @media screen and (max-width: 1919px) {
            font-size: 38px;
        }

        @include lg {
            font-size: 34px;
        }

        @include md {
            font-size: 30px;
        }

        @include sm {
            font-size: 26px;
        }

        @include xs {
            font-size: 24px;
        }

        @include xxs {
            font-size: 22px;
        }
    }

    &-descr {
        color: rgba(255, 255, 255, 0.70);
        line-height: 150%;
        margin-bottom: 38px;

        @include md {
            margin-bottom: 28px;
        }
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 30px;

        @include xxs {
            gap: 20px;
        }
    }

    &-btn-2 {
        color: var(--white);
        font-weight: 500;
        font-size: 15px;

        i {
            padding-left: 5px;
        }

        &:hover {
            color: var(--red-3);
        }
    }

    &-vectors img {
        position: absolute;

        &:first-child {
            top: -70px;
            left: -38px;
        }

        &:nth-child(2) {
            top: -25px;
            right: 90px;

            @media screen and (max-width: 1919px) {
                top: -45px;
                right: -10px;
            }
        }

        &:nth-child(3) {
            top: 100%;
            right: 230px;

            @media screen and (max-width: 1919px) {
                right: 90px;
            }
        }
    }
}

// 14