/* ----- 15. Events ----- */
.tl-3-events {
    &-cards {
        >.row {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 30px;

            @include md {
                --bs-gutter-x: 20px;
                --bs-gutter-y: 20px;

            }
        }
    }

    &-btn {
        padding: 0 50px;
        width: max-content;
        margin: auto;
        margin-top: 70px;
        display: block;

        @include xl {
            margin-top: 55px;
        }

        @include sm {
            margin-top: 45px;
        }

        &:hover {
            color: var(--black);
        }
    }
}

.tl-3-single-event {
    padding: 45px;
    border: 1px solid rgb(23, 22, 28, 0.14);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.4s ease;

    @include xl {
        padding: 35px;
        gap: 25px;
    }

    @include lg {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 25px;
    }

    @include md {
        padding: 25px;
        padding-bottom: 15px;
    }

    @include xxs {
        padding: 20px;
        padding-bottom: 10px;
        gap: 15px;
    }

    &:hover {
        color: var(--white);
        background-color: #4F5EC7;
        border-color: rgb(255 255 255/ 30%);

        .tl-3-single-event {
            &-info>h6 {
                color: rgb(255 255 255/ 70%);

                i {
                    color: var(--white);
                }
            }

            &-date {
                border-color: rgb(255 255 255/ 30%);

                .date {
                    color: var(--white);
                }

                .month-year {
                    color: var(--white);
                }

                &::before,
                &::after {
                    background-color: rgb(255 255 255/ 30%);
                }
            }

            &-title a {
                color: var(--white);
                transition: 0.4s ease;

                &:hover {
                    color: var(--tl-btn-bg);
                }
            }
        }
    }

    &-date {
        border: 2px solid rgb(23, 22, 28, 0.16);
        border-radius: 30px;
        padding: 23px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        transition: border 0.4s ease;
        min-width: 138px;

        @include md {
            padding: 15px;
            min-width: 122px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -11px;
            height: 22px;
            left: 25%;
            width: 2px;
            background-color: rgb(23, 22, 28, 0.16);
            transition: 0.4s ease;
        }

        &::after {
            left: 75%;
        }

        .date {
            font-size: 60px;
            font-weight: 600;
            line-height: 1;
            text-align: center;
            color: var(--black);
            transition: 0.4s ease;

            @include xl {
                font-size: 55px;
            }

            @include md {
                font-size: 45px;
            }

            @include xxs {
                font-size: 40px;
            }
        }

        .month-year {
            line-height: 1;
            text-align: center;
            color: var(--black);
            transition: 0.4s ease;
        }
    }

    &-info {
        display: flex;
        gap: 20px;
        margin-bottom: 16px;

        @include md {
            margin-bottom: 10px;
        }

        @include xxs {
            flex-direction: column;
            gap: 10px;
        }

        >h6 {
            font-size: 15px;
            color: rgb(23, 22, 28, 0.60);
            transition: 0.4s ease;
            margin-bottom: 0;

            @include xxs {
                font-size: 14px;
            }

            i {
                color: var(--black);
                margin-right: 4px;
                transition: 0.4s ease;
            }
        }
    }

    &-title {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
        font-weight: 600;
        color: var(--black);

        @include md {
            font-size: 20px;
            line-height: 30px;
        }

        @include xs {
            font-size: 18px;
            line-height: 28px;
        }

        @include xxs {
            font-size: 16px;
            line-height: 26px;
        }

        a {
            transition: 0.1s ease;
            color: inherit;
        }
    }
}

// 7
.tl-7-events {
    background-color: #000;

    &-heading {
        width: 100%;
        text-align: left;
    }

    .tl-7-section {
        &-sub-title {
            color: rgb(255 255 255 / 70%);
        }

        &-title {
            color: var(--white);
        }
    }

    &-inner {
        background-color: #292929;
    }
}

.tl-7-event {
    &-img img {
        width: 100%;
        aspect-ratio: 1.14;
        object-fit: cover;
    }

    &-infos {
        padding-top: 30px;

        @include sm {
            justify-content: space-between;
        }

        @include xs {
            flex-direction: row;
        }
    }

    &-title {
        &.tl-6-latest-article-title {
            margin-bottom: 0;
        }

        a {
            color: var(--white);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }
}

.tl-3-single-event-info.tl-7-event-infos>h6 {
    color: rgb(255 255 255 / 60%);

    i {
        color: var(--white);

        @include sm {
            display: none;
        }
    }
}

// 7


// 9
.tl-9 {
    &-events-slider {
        &-nav {
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            @include xs {
                justify-content: center;
            }

            button {
                background: none;
                font-size: 25px;
                padding: 0;
                color: #8B8B8D;
                transition: 0.4s ease;

                @include sm {
                    font-size: 22px;
                }

                &:hover {
                    color: var(--black-2);
                }
            }
        }

        &-timeline {
            .timeline-step {
                position: relative;
                height: 60px;
                border-top: 4px solid rgb(44 44 44 / 8%);
                margin-top: 6px;
                width: 100%;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: #9428EA;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -10px;
                    border: 4px solid #9428EA;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    translate: -50% 0;
                    width: 2px;
                    height: 60px;
                    background-color: #9428EA;
                }

                &.clicked {

                    &::before,
                    &::after {
                        background-color: var(--black-2);
                    }

                    &::before {
                        border-color: var(--ligh-yellow);
                    }
                }
            }
        }
    }

    &-event {
        padding: 40px;
        border: 1px solid rgb(44 44 44/ 14%);

        @include xl {
            padding: 30px;
        }

        @include lg {
            padding: 20px;
        }

        @include xxs {
            padding: 15px;
        }

        &-img img {
            width: 100%;
            height: 270px;
            object-fit: cover;
        }

        &-txt {
            padding-top: 30px;

            @include xl {
                padding-top: 20px;
            }
        }

        .tl-3-single-event-info {
            @include xl {
                margin-bottom: 10px;
            }

            >h6 {
                color: rgb(44 44 44 / 70%);
                display: flex;
                gap: 5px;

                i {
                    color: var(--black-2);
                }
            }
        }

        .tl-6-latest-article-title {
            margin-bottom: 16px;

            a:hover {
                color: var(--ligh-yellow);
            }
        }

        &-btn {
            i {
                padding-left: 5px;
            }

            &:hover {
                color: var(--ligh-yellow);
            }
        }
    }
}

.tl-3-section-spacing.pb-50 {
    padding-bottom: 50px;

    @include md {
        padding-bottom: 40px;
    }

    @include sm {
        padding-bottom: 30px;
    }
}

// 9

// 12
.tl-12 {
    &-events {
        background-color: #E1EEDA;
    }

    &-event {
        background-color: var(--white);

        &-img {
            position: relative;

            img {
                width: 100%;
            }
        }

        &-date {
            position: absolute;
            right: 0;
            top: 30px;
            background-color: #FF0000;
            padding: 5px 15px 4px;
            color: var(--white);
            font-size: 14px;
            font-weight: 700;

            @include lg {
                padding-inline: 10px;
            }
        }

        &-txt {
            padding: 30px;

            @include xl {
                padding: 20px;
            }

            @include xxs {
                padding: 15px;
            }
        }

        &-location {
            font-weight: 500;
            font-size: 15px;
            color: rgb(44 44 44 / 70%);
            margin-bottom: 12px;

            @include lg {
                margin-bottom: 10px;
            }

            @include xxs {
                margin-bottom: 8px;
                font-size: 14px;
            }

            i {
                color: #FF0000;
                padding-right: 5px;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 30px;
            color: var(--black-3);
            margin-bottom: 22px;

            @include lg {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 16px;
            }

            @include xxs {
                font-size: 16px;
                line-height: 26px;
            }

            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        .tl-def-btn {
            height: 45px;
            line-height: 45px;

            @include lg {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }

            @include xxs {
                height: 35px;
                line-height: 35px;
            }
        }
    }
}

// 12

// 13
.tl-13-event {
    background-color: var(--white);
    box-shadow: 6px 6px 0 rgb(23 22 28 / 14%);
    transition: 0.4s ease;

    &:hover {
        border-color: var(--black);
        box-shadow: 6px 6px 0 var(--tl-btn-bg);
    }

    .tl-11-latest-article {
        &-title {
            a:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-img img {
            width: 100%;
        }
    }

    &-btn {
        font-weight: 500;

        &:hover {
            color: var(--tl-btn-bg);
        }

        i {
            padding-left: 5px;
        }
    }
}

// 13