/* ----- 32. FAQ ----- */
.tl-8-faq {
    background-color: #f5f5f5;

    &-img img {
        width: 100%;
        padding-right: 80px;

        @include lg {
            padding-right: 40px;
        }

        @include md {
            padding-right: 0;
            padding-bottom: 30px;
        }
    }
}

.tl-8-accordion {
    &-item {
        box-shadow: 0 2px 4px rgb(23 22 28 / 10%);
        background-color: var(--white);

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-header {
            padding: 30px;
            display: grid;
            grid-template-columns: auto 20px;
            align-items: center;
            cursor: pointer;

            @include lg {
                padding: 22px;
            }

            @include xs {
                padding: 18px;
            }

            @include xxs {
                padding: 15px;
            }
        }

        &-title {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 500;
            color: #18222F;

            @include xxs {
                font-size: 16px;
            }
        }

        &-expand-icon {
            width: 16px;
            height: 16px;
            position: relative;
            display: block;
            justify-self: end;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--black);
                transition: 0.4s ease;
                inset: 0;
                margin: auto;
            }

            &::after {
                transform: rotate(90deg);
            }
        }

        &-body {
            padding-inline: 30px;
            margin-bottom: 0;
            line-height: 0;
            overflow: hidden;
            transition: 0.4s ease;
            opacity: 0;
            color: rgb(0 0 0 / 70%);

            @include lg {
                padding-inline: 22px;
            }

            @include xs {
                padding-inline: 18px;
            }

            @include xxs {
                padding-inline: 15px;
            }
        }

        &.open {
            .tl-8-accordion-item {
                &-expand-icon::after {
                    transform: rotate(180deg);
                }

                &-body {
                    line-height: 1.4;
                    padding-block: 0 30px;
                    opacity: 1;

                    @include lg {
                        padding-block: 0 22px;
                    }

                    @include xs {
                        padding-block: 0 18px;
                    }

                    @include xxs {
                        padding-block: 0 15px;
                    }
                }
            }
        }
    }
}