/* ----- 34. Fees ----- */
.tl-10-fees-section {
    margin: 0 100px;
    background: url(../images/tl-10/fees-bg.png) no-repeat center center;
    background-size: cover;
    background-color: #F1F3FF;

    @media screen and (max-width: 1749px) {
        margin: 0;
    }

    @include md {
        padding: 60px 0;
    }
}

.tl-10-fees {

    &-img {
        margin-bottom: 26px;
    }

    &-title {
        margin-bottom: 21px;
    }

    &-txt {
        .tl-10-about-descr {
            margin-bottom: 22px;
        }
    }
}

.tl-10-tution-details {
    gap: 30px;

    @include lg {
        gap: 15px;
    }

    @include xs {
        flex-direction: column;
        align-items: center;
    }

    >* {
        width: 50%;

        @include xs {
            width: 80%;
        }

        @include xxs {
            width: 100%;
        }
    }
}

.tl-10-single-package {
    padding: 60px 45px;
    background: url(../images/tl-10/tution-bg-1.png) no-repeat center center;
    background-size: cover;
    color: var(--white);

    @include xl {
        padding: 30px 20px;
    }

    &-2 {
        background-image: url(../images/tl-10/tution-bg-2.png);

        .tl-10-single-package-year {
            color: var(--tl-btn-bg);
        }
    }

    &-year {
        font-size: 14px;
        color: #09DB12;
        font-weight: 500;
    }

    &-title {
        font-weight: 700;
        font-size: 26px;
        border-bottom: 1px solid rgb(255, 255, 255, 0.14);
        width: max-content;
        margin-bottom: 52px;
        padding-bottom: 5px;

        @include lg {
            margin-bottom: 27px;
            font-size: 22px;
        }

        @include sm {
            font-size: 20px;
            margin-bottom: 22px;
        }

        @include xs {
            font-size: 18px;
        }
    }
}

.tl-10-tution-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
    text-transform: capitalize;

    @include sm {
        font-size: 14px;
    }

    &:not(:last-child) {
        margin-bottom: 17px;

        @include sm {
            margin-bottom: 12px;
        }
    }

    &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background-color: var(--tl-btn-bg);
        border-radius: 50%;
        left: 0;
    }
}

.tl-10-tution-total-price {
    margin-top: 50px;
    border-top: 1px solid rgb(255, 255, 255, 0.14);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    @include lg {
        margin-top: 25px;
    }

    @include sm {
        font-size: 14px;
        margin-top: 20px;
        padding-top: 15px;
    }

    .total-title {
        text-transform: uppercase;
    }
}