/* ----- 33. Footer ----- */
.tl-footer {
    background: url(../images/tl-10/footer-bg.png) no-repeat center center;
    background-size: cover;
    color: rgb(255, 255, 255, 0.6);

    &-top {
        padding: 120px 0;

        @include md {
            padding: 60px 0;
        }
    }

    &-widget {
        &-title {
            font-weight: 700;
            color: var(--white);
            font-size: 20px;
            margin-bottom: 25px;
        }
    }

    &-descr {
        margin-top: 23px;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 27px;
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--white);
            color: var(--black);
            display: inline-block;
            text-align: center;
            display: grid;
            place-items: center;

            &:hover {
                background-color: var(--tl-btn-bg);
            }
        }
    }

    &-links {
        display: flex;
        gap: 13px;
        flex-direction: column;

        a {
            color: rgba(255, 255, 255, 0.6);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-map-btn {
        border: 1px solid rgb(255, 255, 255, 0.10);
        padding: 12px 20px;
        color: var(--white);
    }

    &-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 30px 0;

        @include md {
            padding: 15px 0;
        }

        p {
            @include md {
                font-size: 14px;
            }
        }
    }
}

a.tl-footer-number {
    color: var(--white);
    font-weight: 500;
}

// 1

.tl-1-footer {
    background: var(--black);
    color: rgba(23, 22, 28, 0.6);

    &-descr {
        margin-bottom: 28px;
        color: rgb(255 255 255 / 60%);
    }

    &-socials {
        display: flex;
        column-gap: 45px;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            column-gap: 10px;

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid rgb(255 255 255 / 14%);
                color: rgb(255 255 255 / 60%);

                &:hover {
                    background-color: var(--blue-2);
                    border-color: var(--blue-2);
                    color: var(--white);
                }
            }
        }
    }

    &-bottom {
        &-actions {
            display: flex;
            justify-content: flex-end;
            gap: 25px;

            @include sm {
                justify-content: center;
            }

            a {
                border-left: 1px solid rgb(255 255 255 / 50%);
                padding-left: 25px;
                color: rgb(255 255 255 / 50%);
                font-size: 15px;
                line-height: 1;
                vertical-align: middle;

                &:hover {
                    color: var(--white);
                }
            }

            li {
                &:first-child {
                    a {
                        padding-left: 0;
                        border-left: 0;
                    }
                }
            }
        }
    }

    .tl-footer-links {
        a {
            &:hover {
                color: var(--blue-2);
            }
        }
    }
}

.tl-1-nwsltr {
    &-form {
        display: flex;
        height: 53px;
        background-color: #1F1E26;
        border-bottom: 1px solid rgb(255 255 255 / 20%);
        padding: 0 25px;
        margin-bottom: 16px;

        @include sm {
            padding: 0 15px;
        }
    }

    &-mail-input {
        width: 100%;
        color: var(--white);

        &::placeholder {
            color: rgb(255 255 255 / 60%);
        }
    }

    &-btn {
        color: var(--white);
    }

    &-txt {
        color: rgb(255 255 255 / 60%);
        margin-bottom: 0;
    }
}

.tl-1-copyright-txt {
    font-size: 15px;
    color: rgb(255 255 255 / 50%);

    @include sm {
        text-align: center;
    }
}

// 2
.tl-2 {
    &-footer {
        &-heading {
            padding: 50px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include xl {
                padding: 30px 0;
            }

            @include sm {
                flex-direction: column;
                gap: 15px;
            }
        }

        &-subs-form {
            border: 1px solid rgb(255 255 255/ 14%);
            width: 520px;
            max-width: 100%;
            display: flex;
            align-items: center;

            @include xxs {
                flex-direction: column;
            }

            input {
                height: 60px;
                padding: 5px;
                padding-left: 25px;
                color: rgb(255 255 255/ 80%);
                width: 100%;
                background-color: transparent;
                border: none;

                @include sm {
                    height: 50px;
                }

                @include xs {
                    padding-left: 15px;
                    height: 40px;
                }

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgb(255 255 255/ 60%);
                }
            }

            button {
                background-color: var(--kb-orange);
                border-color: var(--kb-orange);
                color: var(--white);
                height: 50px;
                padding-inline: 50px;
                margin-right: 5px;
                min-width: max-content;
                font-weight: 500;
                text-transform: capitalize;

                @include sm {
                    height: 40px;
                }

                @include xxs {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }

        &-widgets {
            border-block: 1px dashed rgb(255 255 255 / 14%);
        }

        &-widget {
            border-left: 1px dashed rgb(255 255 255 / 14%);
            padding: 75px 50px;
            display: grid;
            height: 100%;
            align-content: start;
            justify-content: center;

            @include xl {
                padding: 55px 30px;
            }

            @include lg {
                padding: 45px 20px;
                justify-content: start;
            }

            @include xs {
                padding: 35px 20px;
            }

            @include xxs {
                padding: 30px 20px;
            }

            &-2 {
                @include md {
                    border-right: 1px dashed rgb(255 255 255 / 14%);
                }
            }

            &-1,
            &-2 {
                @include md {
                    border-bottom: 1px dashed rgb(255 255 255 / 14%);
                }
            }

            &-1 {
                @include xxs {
                    border-right: 1px dashed rgb(255 255 255 / 14%);
                }
            }

            &-3 {
                @include xxs {
                    border: 1px dashed rgb(255 255 255 / 14%);
                    border-width: 0 1px 1px 1px;
                }
            }

            &.tl-2-footer-address {
                border-right: 1px dashed rgb(255 255 255 / 14%);
            }

            &-title {
                text-transform: uppercase;
                font-size: 20px;
                color: var(--white);
                margin-bottom: 27px;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                color: rgb(255 255 255 / 60%);

                &:hover {
                    color: var(--kb-orange);
                }
            }
        }

        &-bottom {
            p {
                margin-bottom: 0;
                color: rgb(255 255 255 / 60%);
                font-size: 15px;
                text-align: center;
                padding-block: 30px;
            }
        }
    }
}

.tl-2-footer .tl-2-footer-links a:hover {
    color: var(--kb-orange);
}

// 2


// 3
.tl-3-footer {
    background: var(--white);
    color: rgb(23, 22, 28, 0.60);

    &-links a {
        color: rgb(23, 22, 28, 0.60);

        &.tl-footer-number {
            color: rgb(23, 22, 28, 0.60);
        }
    }

    &-widget {
        .logo {
            margin-bottom: 39px;
        }

        &-title {
            color: var(--black);
        }
    }

    &-bottom {
        border-color: rgb(23, 22, 28, 0.10);
    }
}


.tl-3-nwsltr {
    &-txt {
        margin-bottom: 23px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .tl-3-def-btn {
            &:hover {
                color: var(--black);
            }
        }
    }

    &-mail-input {
        padding: 0 25px;
        height: 50px;
        border: 1.5px solid rgb(10 10 10 / 10%);
        border-radius: 40px;

        @include sm {
            height: 40px;
        }

        &:focus {
            outline: none;
        }
    }
}


.tl-3-footer-socials {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    @include sm {
        justify-content: center;
    }

    a {
        background-color: rgba(23, 22, 28, 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        display: grid;
        place-items: center;
        color: var(--black);

        &:hover {
            background-color: var(--tl-btn-bg);
        }
    }
}

// 3


// 4
.tl-4-footer {
    background: var(--white);
    color: rgb(23 22 28 / 60%);

    &-descr {
        color: rgb(44 44 44 / 70%);
        margin-bottom: 28px;
    }

    &-widget-title {
        color: var(--black);
    }

    &-links a {
        color: rgb(23 22 28 / 60%);

        &:hover {
            color: var(--red-2);
        }
    }

    &-socials {
        display: flex;
        column-gap: 45px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        border: none;

        ul {
            display: flex;
            column-gap: 10px;

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: rgb(44 44 44 / 06%);

                &:hover {
                    color: var(--white);
                    background-color: var(--red-2);
                    border-color: var(--red-2);
                }
            }
        }
    }

    &-article {
        display: flex;
        column-gap: 20px;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-date {
            font-size: 13px;
            font-weight: 500;
            color: rgba(44, 44, 44, 0.7);
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 5px;

            @include xxs {
                margin-bottom: 3px;
            }
        }

        &-title {
            font-size: 16px;
            line-height: 26px;
            color: var(--black-2);
            margin-bottom: 0;

            a:hover {
                color: var(--red-2);
            }

            @include lg {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &-bottom {
        border-color: rgb(23 22 28 / 10%);
    }

    &-inner {
        background-color: #f4f4f4;
    }
}

// 5
.tl-5-footer {
    background: #F9F6F0;

    &-top {
        @include lg {
            padding: 70px 0;
        }
    }

    &-widget-title {
        color: #0A0A0A;
    }

    &-socials {
        justify-content: flex-start;

        a {
            transition: all 0.4s ease;
            background-color: rgb(10 10 10 / 10%);

            &:hover {
                background-color: var(--red);
                color: var(--white);
            }
        }
    }

    &-links {
        a {
            color: rgb(10 10 10/ 60%);

            &:hover {
                color: var(--red);
            }

            &.tl-footer-number {
                color: rgba(10, 10, 10, 0.6);

                &:hover {
                    color: var(--red);
                }
            }
        }
    }

    &-address {
        color: rgb(10 10 10/ 60%);
    }

    &-descr {
        color: rgb(10 10 10 / 60%);
        margin-top: 23px;
        margin-bottom: 27px;
    }

    &-gallery {
        display: flex;
        gap: 10px;

        img {
            width: 90px;
            height: 80px;
            object-fit: cover;
        }
    }

    &-bottom {
        border-color: rgb(10 10 10 / 10%);
    }
}

.tl-5-copyright-txt {
    color: rgb(10 10 10 / 50%);
}

// 5


// 6 
.tl-6-footer {
    background: #0a0a0a;
    color: rgba(255, 255, 255, 0.6);

    .tl-5-footer-descr {
        color: rgba(255, 255, 255, 0.6);
    }

    &-socials {
        justify-content: flex-start;

        a {
            background-color: var(--white);
            color: var(--black);

            &:hover {
                background-color: var(--red-2);
                color: var(--white);
            }
        }
    }

    &-map-btn {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 12px 20px;
    }

    .tl-footer-links a:hover {
        color: var(--red-2);
    }
}

// 6 


// 7
.tl-7-footer {
    color: rgb(255 255 255 / 60%);
    background: #000;

    .tl-3-nwsltr-mail-input {
        border: 1.5px solid rgb(255 255 255 / 25%);
        background: transparent;
        color: var(--white);
    }

    .tl-3-def-btn:hover {
        color: var(--white);
    }

    .tl-footer-socials {
        justify-content: flex-end;

        @include sm {
            justify-content: center;
        }

        a {
            border: 1px solid rgb(255 255 255 / 20%);
            color: var(--white);
            background: transparent;

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
            }
        }
    }
}

// 7


// 8
.tl-8-footer {
    .tl-8-nwsltr-mail-input {
        color: rgb(255 255 255 / 60%);
    }

    .tl-3-def-btn {
        &:hover {
            color: var(--white);
        }
    }

    .tl-footer-socials {
        @include sm {
            justify-content: center;
        }
    }
}

// 8


// 9
.tl-9-footer {
    &-subs-form {
        button {
            background-color: var(--ligh-yellow);
            border-color: var(--ligh-yellow);
            color: var(--black);
        }
    }

    &-widgets {
        border-block: 1px solid rgb(255 255 255 / 20%);
    }

    .tl-2-footer {
        &-widget {
            border-left: 1px solid rgb(255 255 255 / 20%);

            &-1,
            &-2 {
                @include md {
                    border-bottom-style: solid;
                }
            }

            &-1 {
                @include xxs {
                    border-right-style: solid;
                }
            }

            &-2 {
                @include md {
                    border-right-style: solid;
                }
            }

            &-3 {
                @include xxs {
                    border-style: solid;
                }
            }

            &.tl-9-footer-address {
                border-right: 1px solid rgb(255 255 255 / 20%);
            }
        }

    }

    &-links a {
        &:hover {
            color: var(--ligh-yellow);
        }
    }
}

.tl-4-footer-article {
    .tl-4-footer-article-img {
        width: 70px;
    }
}

.tl-9-footer.tl-footer a.tl-footer-number:hover {
    color: var(--ligh-yellow);
}

// 11
.tl-11-footer {
    background: var(--white);
    color: rgb(23 22 28 / 60%);

    &-descr {
        color: rgb(44 44 44 / 70%);
        margin-bottom: 28px;
    }

    &-widget-title {
        color: var(--black);
    }


    &-links a {
        color: rgb(23 22 28 / 60%);
    }

    &-socials {
        padding: 0;
        border: none;

        ul a {
            border: none;
            background-color: rgb(44 44 44 / 06%);
        }
    }

    &-articles {
        padding: 0;
        border: none;
    }
}

// 11

// 13 
.tl-13-footer {
    color: rgba(255, 255, 255, 0.6);
    background: var(--black-0);
}

// 13 

// 14
.tl-14-footer {
    &-socials {
        ul a:hover {
            background-color: var(--red-3);
            border-color: var(--red-3);
        }
    }

    .tl-14-footer-links a {
        &:hover {
            color: var(--red-3);
        }
    }
}

// 14