/* ----- 04. Header ----- */
.tl-header {
    position: relative;
    padding: 30px 0;

    @include lg {
        padding: 20px 0;
    }

    .tl-def-btn {
        height: 45px;
        line-height: 45px;
        min-width: max-content;

        i {
            padding-left: 0;
            padding-right: 5px;
        }
    }

    .navbar-nav li {
        margin: 0;
        padding: 0;
    }
}

.tl-nav-menu>ul {
    display: flex;
    gap: 45px;
    font-weight: 500;
    color: var(--black);

    @include xl {
        gap: 35px;
    }

    @include lg {
        gap: 25px;
    }
}

.tl-nav-item {
    padding: 15px 0;

    a {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: all 0.4s ease;

        &:hover {
            color: var(--tl-btn-bg);
        }

        @include lg {
            font-size: 14px;
        }
    }

}

.tl-nav-menu {
    .tl-dropdown {
        position: relative;

        &:hover {
            .tl-submenu {
                opacity: 1;
                top: 100%;
                visibility: visible;
                pointer-events: auto;

                &-2 {
                    opacity: 0;
                    visibility: hidden;
                    top: 10px;
                }
            }
        }

        &-2 {
            position: relative;

            a {
                justify-content: space-between;
            }

            &:hover {
                .tl-submenu-2 {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    top: 0;
                    border-top: 4px solid #f4b826;
                }
            }
        }
    }
}

.tl-nav-menu {
    .tl-submenu {
        position: absolute;
        width: max-content;
        border-top: 4px solid var(--tl-btn-bg);
        background-color: var(--white);
        box-shadow: 0 13px 29px rgba(0, 0, 0, 0.1);
        padding: 15px 0;
        min-width: 240px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        top: calc(100% + 10px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease, pointer-events 0s;
        z-index: 11;
        pointer-events: none;

        @include md {
            position: static;
        }

        >li {
            padding: 0 20px;
        }

        a {
            color: var(--black);

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        &-2 {
            left: 100%;
            border-top-width: 0px;
            top: 10px;
        }
    }
}

.tl-nav-search-form {
    background: rgba(23, 22, 28, 0.06);
    display: flex;
    height: 45px;
    width: 100%;
}

.tl-nav-search {
    padding: 0 15px;
    width: 100%;
    padding-right: 0;
    border: none;
    background-color: #f1f1f1;

    &:focus {
        outline: none;
    }
}

.tl-searh-btn {
    height: 45px;
    line-height: 45px;
    padding-right: 15px;
}

.tl-header-actions {
    gap: 10px;
}

.tl-hamburger {
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 24px;
    background: linear-gradient(145deg, #dade1c, #9428EA);
    color: #fff;
    padding: 0;
}

// INDEX-1 HEADER 
.tl-1-header {
    padding: 0;
    border-bottom: 1px solid #383630;

    &-top {
        text-align: center;
        padding: 7px 0;

        p {
            margin-bottom: 0;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: var(--black);
            line-height: 1;
            margin-right: 15px;

            @include sm {
                line-height: 1.5;
            }
        }

        a {
            font-size: 13px;
            background-color: var(--red-2);
            border-radius: 30px;
            padding: 0 15px;
            height: 25px;
            line-height: 24px;
            color: var(--white);
            font-weight: 500;
            border: 1px solid var(--red-2);

            &:hover {
                background-color: transparent;
                color: var(--black);
            }
        }
    }

    &-btn {
        background-color: var(--blue-2);
        color: var(--white);
        border-color: var(--blue-2);
    }

    .kb-16-header-actions>a:first-child {
        color: var(--white);

        &:hover {
            color: var(--tl-btn-bg);
        }
    }
}

.tl-1-nav-menu {
    .tl-nav-item>a {
        color: var(--white);

        &:hover {
            color: var(--tl-btn-bg);
        }
    }
}

.tl-1-header {
    .tl-1-nav-menu .tl-nav-item>a:hover {
        color: var(--blue-2);
    }

    .tl-nav-menu .tl-submenu a:hover {
        color: var(--blue-2);
    }

    .tl-nav-menu .tl-submenu {
        border-color: var(--blue-2);
    }

    .tl-nav-menu .tl-dropdown-2:hover .tl-submenu-2 {
        border-color: var(--blue-2);
    }
}

.tl-2-header {
    .tl-1-nav-menu .tl-nav-item>a:hover {
        color: var(--kb-orange);
    }

    .tl-nav-menu .tl-submenu a:hover {
        color: var(--kb-orange);
    }

    .tl-nav-menu .tl-submenu {
        border-color: var(--kb-orange);
    }

    .tl-nav-menu .tl-dropdown-2:hover .tl-submenu-2 {
        border-color: var(--kb-orange);
    }

    .tl-nav-item a:hover {
        color: var(--kb-orange);
    }

    .tl-4-bottom-header .tl-nav-item>a:hover {
        color: var(--kb-orange);
    }
}

.tl-4-header,
.tl-6-bottom-header {
    .tl-1-nav-menu .tl-nav-item>a:hover {
        color: var(--red-2);
    }

    .tl-nav-menu .tl-submenu a:hover {
        color: var(--red-2);
    }

    .tl-nav-menu .tl-submenu {
        border-color: var(--red-2);
    }

    .tl-nav-menu .tl-dropdown-2:hover .tl-submenu-2 {
        border-color: var(--red-2);
    }

    .tl-nav-item a:hover {
        color: var(--red-2);
    }

    .tl-4-bottom-header .tl-nav-item>a:hover {
        color: var(--red-2);
    }
}

.tl-header-5 {
    .tl-1-nav-menu .tl-nav-item>a:hover {
        color: var(--red);
    }

    .tl-nav-menu .tl-submenu a:hover {
        color: var(--red);
    }

    .tl-nav-menu .tl-submenu {
        border-color: var(--red);
    }

    .tl-nav-menu .tl-dropdown-2:hover .tl-submenu-2 {
        border-color: var(--red);
    }

    .tl-nav-item a:hover {
        color: var(--red);
    }

    .tl-4-bottom-header .tl-nav-item>a:hover {
        color: var(--red);
    }
}

.tl-9-header {
    .tl-1-nav-menu .tl-nav-item>a:hover {
        color: var(--ligh-yellow);
    }

    .tl-nav-menu .tl-submenu a:hover {
        color: var(--ligh-yellow);
    }

    .tl-nav-menu .tl-submenu {
        border-color: var(--ligh-yellow);
    }

    .tl-nav-menu .tl-dropdown-2:hover .tl-submenu-2 {
        border-color: var(--ligh-yellow);
    }

    .tl-nav-item a:hover {
        color: var(--ligh-yellow);
    }

    .tl-4-bottom-header .tl-nav-item>a:hover {
        color: var(--ligh-yellow);
    }
}

.kb-16-header-actions {
    gap: 25px;

    >a:first-child {
        font-weight: 500;
        color: var(--black);
    }
}

// INDEX-1 HEADER 


// INDEX-2 HEADER
.tl-2-header {
    padding: 25px 0;

    .kb-searh-open-btn-11 {
        color: var(--black-4);
    }
}

// INDEX-2 HEADER


// INDEX-3 HEADER
.kb-header-9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.10);

    .tl-3-def-btn {
        height: 45px;
        line-height: 45px;
        padding: 0 30px;

        @include lg {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            padding: 0 20px;
        }
    }

    .tl-submenu {
        @include md {
            min-width: 0;
        }
    }
}

.tl-3-nav-item>a {
    color: var(--white);
}

.tl-3-nav-search-form {
    background: none;

    @include lg {
        height: 40px;
    }
}

.tl-3-nav-search {
    background: rgb(255 255 255/ 06%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 25px;
    color: var(--white);

    @include lg {
        padding-left: 15px;
    }

    &::placeholder {
        color: rgb(255 255 255/ 70%);
        font-weight: 300;
        font-size: 15px;
    }
}

.kb-searh-btn-9 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: rgb(255 255 255/ 06%);
    color: var(--white);
    padding-right: 25px;

    @include lg {
        height: 40px;
        line-height: 40px;
        padding-right: 15px;
    }
}

// INDEX-3 HEADER


// INDEX-4 HEADER
.tl-4 {
    &-header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 10;

        .tl-8-top-header {
            background-color: #00825A;
        }

        &-inner {
            position: relative;
            background-color: var(--black-5);
            border-bottom: 1px solid #383630;

            .tl-4-bottom-header {
                padding-bottom: 25px;
            }
        }
    }

    &-bottom-header {
        padding-top: 25px;

        .logo img {
            width: 114px;
        }

        .tl-nav-item>a {
            color: var(--white);
            font-weight: 400;

            &:hover {
                color: var(--tl-btn-bg);
            }
        }

        .tl-4-def-btn {
            height: 45px;
            line-height: 45px;
        }
    }

    &-nav-menu {
        padding: 0 20px;
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 30px;
        background-color: rgb(17 23 32 / 10%);
        backdrop-filter: blur(15px);
        width: fit-content;
        max-width: 100%;

        .tl-nav-item {
            padding: 8.5px 0;
        }
    }

    &-nav-search-form {
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 30px;
        background-color: rgb(17 23 32 / 10%);
        backdrop-filter: blur(15px);

        input {
            background: none;
            color: var(--white);
        }

        button {
            background: none;
            color: var(--white);
        }
    }
}

// INDEX-4 HEADER


// INDEX-5 HEADER
.tl-header-5 {
    position: absolute;
    width: 100%;
    background-color: var(--white);
    z-index: 2;
    padding: 15px 25px;
    top: 35px;
    left: 0;

    @include xl {
        padding: 15px 20px;
    }

    @include lg {
        top: 20px;
    }

    @include md {
        padding: 10px 15px;
    }

    @include xs {
        top: 0;
    }

    .tl-5-def-btn {
        background-color: black;
        border-color: black;
        color: white;
        height: 45px;
        line-height: 45px;

        @include lg {
            padding: 0 25px;
        }
    }

    &-inner {
        position: relative;
        top: 0;
    }
}

// INDEX-5 HEADER


// INDEX-6 HEADER
.kb-10 {
    &-bottom-header {
        border-block: 1px solid rgb(23 22 28 / 10%);
    }
}

.kb-10-top-header-socials {
    display: flex;
    gap: 10px;

    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: rgb(23 22 28 / 70%);
        text-align: center;
        line-height: 40px;
        border: 1px solid rgb(23 22 28 / 14%);

        &:hover {
            background-color: var(--kb-teal);
            color: var(--white);
            border-color: var(--kb-teal);
        }
    }
}

.tl-6-top-header {
    &-socials {
        a:hover {
            background-color: var(--red-2);
            border-color: var(--red-2);
        }
    }

    &-btn {
        background-color: transparent;
        color: var(--black);
        border: 1px solid var(--black);
        box-shadow: inset 0 -4px 0 var(--black);

        &:hover {
            box-shadow: inset 0 -4px 0 var(--white);
            background-color: var(--black);
        }
    }
}

// INDEX-6 HEADER


// INDEX-7 HEADER
.tl-7-header-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 33;
}

.tl-nav-menu-7>ul {
    border: 1px solid rgb(255 255 255 / 20%);
    width: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 40px;
    gap: 0;

    @include lg {
        padding: 0;
    }
}

.tl-7-nav-item {
    padding: 0;
}

.tl-7-nav-item>a {
    border-radius: 40px;
    height: 40px;
    padding: 0 22.5px;
    color: var(--white);

    @include lg {
        padding: 0 17.5px;
        height: 38px;
    }

    @include md {
        height: auto;
        border-radius: 0;
    }

    i {
        font-size: 13px;
    }

    &:hover {
        color: var(--black);
        background: var(--white);
        padding: 0 35px;
        padding: 0 22.5px;
    }
}

.kb-header-actions-11 {
    gap: 30px;
    align-items: center;

    @include lg {
        gap: 20px;
    }
}

.kb-searh-open-btn-11 {
    background: none;
    padding: 0;
    color: var(--white);
    width: 18px;
    height: 50px;

    &:hover {
        color: var(--tl-btn-bg);
    }
}

.tl-7-search-form-modal {
    display: flex;
    position: absolute;
    padding: 10px 15px;
    min-width: 300px;
    border-radius: 30px;
    background: #ffffff59;
    border: 1px solid rgb(255 255 255 / 60%);
    backdrop-filter: blur(51px);
    top: calc(100% + 10px);
    right: calc(100% - 70px);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    z-index: 2;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: 0.2s ease;
    }

    &-2 {
        background: rgb(0 0 0 / 10%);
        border: 1px solid rgb(0 0 0 / 30%);
    }

    input {
        outline: 0;
        border: 0;
        background: none;
        color: var(--black);
        width: 100%;

        &::placeholder {
            color: var(--black);
        }
    }

    button {
        background-color: transparent;
    }
}


.tl-7-header-inner {
    background-color: var(--black-5);
    border-bottom: 1px solid #383630;
}

// INDEX-7 HEADER


// INDEX-8 HEADER
.tl-8 {
    &-header {
        position: absolute;
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: 999;
    }

    &-top-header {
        background-color: var(--kb-teal);
        color: var(--white);
        padding: 10px 0;

        @include md {
            padding: 15px 0;
        }

        >.container>.row {
            --bs-gutter-y: 15px;
        }

        &-contacts {
            display: flex;
            align-items: center;

            @include md {
                justify-content: center;
            }

            @include sm {
                flex-wrap: wrap;
                row-gap: 15px;
            }

            li {
                padding-inline: 24px;
                border-left: 1px solid rgb(255 255 255 / 10%);
                line-height: 1;
                font-size: 14px;
                color: rgb(255 255 255 / 80%);

                &:first-child {
                    padding-left: 0;
                    border-left: 0;
                }

                i {
                    padding-right: 8px;
                    color: var(--white);
                }
            }
        }

        a {
            color: rgb(255 255 255 / 80%);
            font-size: 14px;
        }

        &-socials {
            display: flex;
            justify-content: flex-end;
            column-gap: 20px;
            line-height: 1;

            @include md {
                justify-content: center;
            }

            a {
                color: rgb(255 255 255 / 30%);

                &:hover {
                    color: var(--white);
                }
            }
        }
    }

    &-bottom-header {
        border-block: 1px solid rgb(255 255 255 / 20%);
        padding: 23px 0;

        .logo img {
            width: 114px;
        }

        .tl-nav-item>a {
            color: var(--white);
        }
    }
}

// INDEX-8 HEADER


// INDEX-9 HEADER
.tl-9 {
    &-header {
        padding: 25px 0;

        >.container {
            @media screen and (min-width : 1800px) {
                max-width: 1744px;
            }
        }

        .tl-def-btn {
            background-color: #9428EA;
            border-color: #9428EA;
            color: var(--white);
        }
    }

    &-nav-item {
        >a {
            color: #d3d3d3;

            &:hover {
                color: var(--white);
            }
        }
    }
}

// INDEX-9 HEADER

// INDEX-13 HEADER
.tl-13-header {
    border-bottom: 1px solid rgb(23 22 28 / 14%);

    @include xl {
        padding: 20px 0;
    }
}

.tl-13-header-actions {
    gap: 25px;

    >a:first-child {
        font-weight: 500;
        color: var(--black);
    }
}

// INDEX-13 HEADER


/* Sidebar Information CSS */

.muske-sidebar-info-content-331 {
    li {
        color: #c6c6c6;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        a {
            color: #c6c6c6;

            &:hover {
                color: #dfe31c;
            }
        }
    }
}

.muske-sidebar-info-social-331 {
    margin-top: 30px;

    a {
        color: #c6c6c6;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #413b60;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:hover {
            color: #1b133f;
            background: #fff;
        }
    }
}