/* ----- 18. Innovations ----- */
.tl-4 {
    &-innovs {
        &-heading {
            .tl-4-section-title {
                margin-bottom: 10px;
            }

            &-txt {
                text-align: center;
                margin: auto;
                width: 35%;
                margin-bottom: 63px;
                line-height: 26px;
                color: rgb(23 22 28 / 70%);

                @include xl {
                    margin-bottom: 53px;
                }

                @include lg {
                    margin-bottom: 43px;
                    width: 45%;
                }

                @include md {
                    width: 65%;
                    margin-bottom: 33px;
                }

                @include sm {
                    width: 75%;
                    margin-bottom: 28px;
                }

                @include xs {
                    width: 85%;
                }

                @include xxs {
                    width: 100%;
                }
            }
        }
    }

    &-innov {
        &:hover {
            &::before {
                height: 0;
            }
        }

        &::before {
            height: 100%;
            background-color: var(--black);
            bottom: auto;
        }

        .tl-7-class {
            &-img {
                img {
                    @include lg {
                        min-height: 430px;
                    }

                    @include md {
                        min-height: 405px;
                    }
                    @include sm {
                        min-height: 400px;
                    }
                    @include xxs {
                        min-height: 300px;
                    }
                }
            }

            &-txt {
                padding: 40px 35px;

                @include sm {
                    padding: 30px 25px;
                }
            }

            &-icon img {
                margin-bottom: 23px;

                @include sm {
                    width: 60px;
                }

                @include xxs {
                    margin-bottom: 23px;
                }
            }

            &-name {
                font-size: 30px;
                line-height: 34px;
                font-weight: 700;
                width: 80%;

                @include lg {
                    font-size: 25px;
                    line-height: 30px;
                }

                @include md {
                    width: 75%;
                }

                @include sm {
                    font-size: 22px;
                    line-height: 27px;
                }

                @include xxs {
                    width: 100%;
                }
            }

            &-descr {
                font-size: 16px;
                line-height: 1.6;
                opacity: 1;
                margin-bottom: 40px;
            }

            &-btn {
                width: auto;
                height: auto;
                line-height: normal;
                border: none;
                text-decoration: 1px underline transparent;
                text-underline-offset: 2px;

                &:hover {
                    color: var(--white);
                    background: none;
                    text-decoration-color: var(--white);

                    i {
                        transform: translateX(5px);
                    }
                }

                i {
                    transition: transform 0.4s ease;
                }
            }
        }
    }
}