/* ----- 22. Latest Articles ----- */
.tl-6-latest {
    &-articles {
        text-align: center;

        &-row {
            --bs-gutter-x: 30px;

            @include lg {
                --bs-gutter-x: 20px;
            }
        }
    }

    &-article {
        text-align: left;

        &-img img {
            object-fit: cover;
            margin-bottom: 30px;
            width: 100%;
            // height: 270px;
            aspect-ratio: 16 / 10.5;

            @include xl {
                margin-bottom: 20px;
            }

            @include sm {
                margin-bottom: 15px;
            }
        }


        &-title {
            font-size: 22px;
            line-height: 145.455%;
            color: var(--black-2);
            font-weight: 600;
            margin-bottom: 11px;

            @include lg {
                font-size: 20px;
            }

            @include sm {
                font-size: 18px;
            }

            &:hover {
                color: var(--red-2);
            }
        }

        &-infos {
            font-weight: 400;
            text-transform: capitalize;
            color: #5A595D;
            margin-bottom: 0;
            display: flex;
            font-size: 14px;

            li:first-child {
                padding-right: 20px;
                margin-right: 15px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    background-color: rgba(44, 44, 44, 0.6);
                    border-radius: 50%;
                }
            }
        }

        &-center {
            .tl-6-latest-article-img img {
                // height: 370px;
                aspect-ratio: 16 / 14.4;


                @include md {
                    aspect-ratio: 16 / 10.5;
                }
            }
        }
    }
}

// INDEX-11
.tl-11 {
    &-latest-articles {
        background-color: #F2EDE7;

        &-heading-btn {
            font-weight: 600;

            &:hover {
                color: var(--kb-teal);
            }

            @include xxs {
                font-size: 14px;
            }
        }
    }

    &-latest-article {
        &-img img {
            width: 100%;
            aspect-ratio: 1.14;
            // height: 364px;
            object-fit: cover;
        }

        &-txt {
            padding-top: 30px;

            @include xl {
                padding-top: 25px;
            }

            @include lg {
                padding-top: 20px;
            }
        }

        &-infos {
            display: flex;
            margin-bottom: 6px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            color: rgb(44 44 44 / 70%);

            li:first-child {
                padding-right: 20px;
                margin-right: 15px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    background-color: rgb(44 44 44 / 60%);
                    border-radius: 50%;
                }
            }
        }

        &-title {
            font-weight: 600;
            font-size: 22px;
            line-height: 32px;
            color: var(--black-2);
            margin-bottom: 16px;

            a:hover {
                color: var(--kb-teal);
            }

            @include xl {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 8px;
            }


            @include lg {
                font-size: 18px;
                line-height: 28px;
            }

            @include xxs {
                font-size: 16px;
                line-height: 26px;
            }
        }

        &-author {
            font-size: 14px;
            color: rgb(44 44 44 / 70%);
        }
    }
}