/* ----- 26. Members ----- */
.tl-6-members .owl-nav button.owl-prev,
.tl-6-members .owl-nav button.owl-next {
    &:hover {
        background-color: var(--red-2);
        border-color: var(--red-2);
    }
}

.tl-6 {
    &-members {
        border: 1px solid rgb(44 44 44 / 20%);
        border-left: 0;
        position: relative;

        .owl-nav {
            position: absolute;
            width: calc(100% + 50px);
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            display: flex;
            justify-content: space-between;
            visibility: hidden;

            button.owl-prev,
            button.owl-next {
                visibility: visible;
                width: 50px;
                height: 50px;
                border: 1px solid rgb(44 44 44 / 20%);
                background-color: var(--white);
                transition: 0.4s ease;

                &:hover {
                    color: var(--white);
                    background-color: var(--red-2);
                    border-color: var(--red-2);
                }
            }
        }
    }

    &-member {
        border-left: 1px solid rgb(44 44 44 / 20%);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100px;
            object-fit: contain;

            @include sm {
                height: 80px;
            }

            @include xxs {
                height: 70px;
            }
        }
    }
}

// 7
.tl-7-membership {
    background-color: #F8F2ED;

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        background-color: #F8F2ED;

        &:hover {
            background-color: var(--tl-teal);
            border-color: var(--tl-teal);
        }
    }

    &.yellow-clr {

        .owl-nav button.owl-prev,
        .owl-nav button.owl-next {
            &:hover {
                background-color: var(--tl-btn-bg);
                border-color: var(--tl-btn-bg);
            }
        }
    }
}

// 7


// 9
.tl-9 {
    &-membership {
        padding: 80px 0;

        @include xl {
            padding: 60px 0;
        }

        @include lg {
            padding: 40px 0;
        }

        @include md {
            padding: 30px 0;
        }

        @include xxs {
            padding: 25px 0;
        }
    }

    &-members {
        border: none;

        .owl-nav button.owl-prev,
        .owl-nav button.owl-next {
            background-color: transparent;

            &:hover {
                background-color: var(--ligh-yellow);
                border-color: var(--ligh-yellow);
                color: var(--black-2);
            }
        }
    }

    &-member {
        border: none;
        aspect-ratio: auto;
    }
}

// 9

// 11
.tl-11 {
    &-members {
        border: 1px solid rgb(44 44 44 / 20%);
        border-left: 0;
        position: relative;

        .owl-nav {
            position: absolute;
            width: calc(100% + 50px);
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            display: flex;
            justify-content: space-between;
            visibility: hidden;

            button.owl-prev,
            button.owl-next {
                visibility: visible;
                width: 50px;
                height: 50px;
                border: 1px solid rgb(44 44 44 / 20%);
                background-color: var(--white);
                transition: 0.4s ease;

                &:hover {
                    background-color: var(--tl-teal);
                    color: var(--white);
                    border-color: var(--tl-teal);
                }
            }
        }
    }

    &-member {
        border-left: 1px solid rgb(44 44 44 / 20%);
        // width: 260px;
        // height: 260px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        // @include sm {
        //     width: 130px;
        //     height: 130px;
        // }

        // @include xs {
        //     width: 115px;
        //     height: 115px;
        // }

        // @include xxs {
        //     width: 100px;
        //     height: 100px;
        // }

        img {
            height: 100px;
            object-fit: contain;

            @include sm {
                height: 80px;
            }

            @include xxs {
                height: 70px;
            }
        }
    }
}

// 11

// 12
.tl-12-members .owl-nav button {

    &.owl-prev,
    &.owl-next {
        &:hover {
            background-color: var(--tl-btn-bg);
            border-color: var(--tl-btn-bg);
        }
    }
}

// 12

// 13
.tl-13-members .owl-nav button.owl-prev,
.tl-13-members .owl-nav button.owl-next {
    box-shadow: 0px 0px 0 transparent;

    &:hover {
        background-color: var(--white);
        color: var(--black);
        border-color: var(--black);
        box-shadow: 3px 3px 0 var(--tl-btn-bg);
    }
}

// 13