/* ----- 21. News ----- */
.tl-6-news {
    position: relative;
    overflow: hidden;
    padding: 75px 0;
    z-index: 1;

    @include xl {
        padding: 55px 0;
    }

    @include lg {
        padding: 45px 0;
    }

    @include xs {
        padding: 35px 0;
    }

    &::before {
        content: attr(data-txt);
        position: absolute;
        inset: 0;
        top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--rosaviro);
        z-index: -1;
        font-style: italic;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgb(22 23 28 / 10%);
        font-size: 210px;
        line-height: 88.095%;
        font-size: clamp(127px, 10.9vw, 210px);
        text-align: center;
    }

    &-slider {
        @include xxl {
            padding: 0 50px;
        }

        @include xxs {
            padding: 0 30px;
        }
    }

    &-slide {
        display: flex;
        align-items: center;
        gap: 20px;

        @include xxs {
            flex-direction: column;
        }

        img {
            width: 110px;
            height: 120px;
            object-fit: cover;
        }

        &-txt {
            @include xxs {
                text-align: center;
            }
        }

        &-title {
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 0;
            color: var(--black);

            @include xxl {
                font-size: 18px;
            }

            a {
                background-image: linear-gradient(to right, var(--black), var(--black));
                background-size: 0% 1px;
                display: inline;
                background-repeat: no-repeat;
                background-position: 0 20px;

                &:hover {
                    background-size: 100% 1px;
                    color: var(--black);
                }
            }
        }

        .tl-6-info-pill {
            background-color: transparent;
        }
    }
}

.tl-6-slider-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    width: calc(100% + 120px);
    visibility: hidden;
    @include xxl {
        width: calc(100% + 20px); 
    }
    @include xl {
        width: calc(100% + 20px); 
    }
    @include lg {
        width: calc(100% + 0px); 
    }
    @include xs {
        width: calc(100% + 0px); 
    }
    @include xxs {
        width: calc(100% - 24px); 
    }
    button {
        visibility: visible;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: var(--white);
        font-size: 16px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: var(--red-2);
            color: var(--white);
        }
    }
}