/* ----- 24. Popular Articles ----- */
.tl-6-pop-articles {
    overflow: hidden;
    display: flex;
    gap: 30px;

    @include lg {
        flex-direction: row;
        align-items: flex-start;
    }

    @include md {
        flex-direction: column;
        align-items: center;
    }

    .tl-6-section-title {
        padding-left: 0;

        &::before {
            content: none;
        }
    }

    &-left-col {
        width: 95%;

        @include xl {
            width: 65%;
        }

        @include md {
            width: 100%;
        }
    }
}

.tl-6-pop-article {
    display: flex;
    align-items: center;
    gap: 30px;

    @include lg {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    @include md {
        flex-direction: row;
        align-items: center;
    }

    @include sm {
        flex-direction: column;
        align-items: flex-start;
    }

    @include xs {
        flex-direction: column;
        align-items: flex-start;
    }

    &:hover .tl-long-arrow-btn .arrow {
        width: 32px;
        background-color: var(--red-2);

        &::before {
            border-color: var(--red-2);
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(44, 44, 44, 0.1);
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    &-img {
        flex-shrink: 0;
        width: 410px;

        @include xl {
            width: 360px;
        }

        @include lg {
            width: 100%;
        }

        @include md {
            width: 360px;
        }

        @include sm {
            width: 100%;
        }

        img {
            width: 100%;
            aspect-ratio: 1.41;
            object-fit: cover;
        }
    }

    &-txt {
        padding: 0;
    }

    &-infos {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 14px;

        .tl-6-info-pill:last-child {
            display: inline-block;
        }

        @include lg {
            margin-bottom: 4px;
        }
    }

    &-title {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        color: var(--black-2);

        @include xxs {
            font-size: 20px;
        }
    }

    &-descr {
        color: rgba(44, 44, 44, 0.6);
        margin-bottom: 23px;

        @include lg {
            margin-bottom: 18px;
        }
    }

    &-btn i {
        margin-left: 0;
    }

    &-category {
        background-color: var(--black);
        color: var(--white);

        &:hover {
            color: var(--white);
        }

        &::before {
            background-color: var(--white);
        }
    }
}

.tl-long-arrow-btn {
    display: block;
    width: max-content;
    height: 12px;
    line-height: 4px;

    .arrow {
        height: 2px;
        width: 16px;
        background-color: var(--black-3);
        position: relative;
        transition: 0.4s ease;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            left: calc(100% - 8px);
            width: 8px;
            height: 8px;
            border: solid var(--black-3);
            border-width: 0 2px 2px 0;
            top: 50%;
            translate: 0 -50%;
            rotate: 315deg;
            transition: 0.4s ease;
        }
    }
}

.tl-6-sidebar {
    border: 1px solid #DFDEDF;
    flex-grow: 1;

    @include xl {
        width: 35%;
    }

    @include lg {
        width: 45%;
    }

    @include md {
        width: 55%;
    }

    @include sm {
        width: 75%;
    }

    @include xs {
        width: 100%;
    }

    &-area {
        padding: 45px 30px;

        @include xs {
            padding: 20px;
        }

        &-title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 27px;
            font-weight: 600;
            color: var(--black-2);

            @include xl {
                margin-bottom: 22px;
            }

            @include md {
                font-size: 18px;
            }

            @include xxs {
                margin-bottom: 15px;
            }
        }

        &-articles {
            border: 1px solid rgb(44 44 44 / 10%);
            border-width: 1px 0 1px 0;

            @include xl {
                padding: 25px;
            }

            @include xxs {
                padding: 15px;
            }
        }

        &-article {
            display: flex;
            column-gap: 20px;
            align-items: center;

            @include xxs {
                row-gap: 6px;
                column-gap: 15px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .tl-6-info-pill {
                font-size: 13px;
                height: 26px;
                line-height: 25px;
                margin-bottom: 9px;
            }

            &-title {
                font-size: 18px;
                line-height: 133.333%;
                font-weight: 600;
                color: var(--black-2);
                margin-bottom: 6px;

                @include lg {
                    font-size: 16px;
                    line-height: 24px;
                }

                @include xxs {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            &-img {
                width: 110px;
                height: 120px;
                object-fit: cover;
                flex-shrink: 0;

                @include xxs {
                    width: 90px;
                }
            }

            &-date {
                text-transform: capitalize;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 13px;
                font-weight: 500;
                color: rgba(44, 44, 44, 0.7);

                i {
                    font-size: 15px;
                }
            }
        }
    }

    &-categories {
        border-bottom: 1px solid rgba(44, 44, 44, 0.1);

        &-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include xxs {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &-category {
        background: url(../images/tl-6/category-1.jpg) no-repeat center center;
        background-size: cover;
        padding: 20px 25px;
        border: none;
        color: var(--white);
        align-items: center;
        display: flex;
        justify-content: space-between;

        @include xxs {
            padding: 20px 15px;
        }

        &:hover {
            color: var(--white);
        }

        &:nth-child(2) {
            background-image: url(../images/tl-6/category-2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/tl-6/category-3.jpg);
        }

        &-quantity {
            background-color: var(--white);
            color: var(--black);
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            padding: 6px 12px 4px;
        }
    }

    &-socials {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            @include xxs {
                grid-template-columns: repeat(1, 1fr);
            }

            a {
                width: 100%;
                height: 55px;
                border: none;
                background-color: var(--kb-teal);
                color: var(--white);
                padding: 0 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                line-height: normal;

                @include xl {
                    padding: 0;
                }

                @include xs {
                    height: 45px;
                }

                i {
                    font-size: 25px;
                }

                &.tl-6-sidebar {
                    &-tw {
                        background-color: #1C9CEA;
                    }

                    &-fb {
                        background-color: #1E4297;
                    }

                    &-lk {
                        background-color: #0963BC;
                    }

                    &-pi {
                        background-color: #DF0022;
                    }
                }
            }
        }
    }

    &-ad {
        padding: 40px;
        text-align: center;

        @include lg {
            padding: 30px;
        }

        @include xxs {
            padding: 20px;
        }
    }
}

// 11
.tl-11-pop {
    &-articles {
        overflow: hidden;
        display: flex;
        gap: 30px;

        @include lg {
            flex-direction: column;
            align-items: center;
        }

        &.tl-11-section-spacing {
            @include lg {
                padding: 60px 0;
            }
        }

        &-left-col {
            width: 95%;

            @include lg {
                width: 100%;
            }
        }

        .tl-11-section-heading {
            padding-bottom: 0;
            align-items: flex-end;

            @include xl {
                flex-direction: column;
                row-gap: 15px;
                align-items: center;
            }

            @include lg {
                flex-direction: row;
                align-items: flex-end;
            }

            @include md {
                flex-direction: column;
                align-items: center;
            }
        }

        .tl-11-section-title {
            padding-bottom: 22px;

            @include xl {
                position: relative;
                padding-bottom: 15px;
            }


            &::before {
                @include xl {
                    left: 50%;
                    translate: -50% 0;
                }

                @include lg {
                    left: 0;
                    translate: 0;
                }

                @include md {
                    left: 50%;
                    translate: -50% 0;
                }
            }
        }


        &-filtering-btns {
            display: flex;
            flex-wrap: wrap;

            @include xxs {
                justify-content: center;
                gap: 5px;
            }

            button {
                background: none;
                border: 1px solid rgb(23 22 28 / 10%);
                border-width: 1px 0 0 1px;
                padding: 0 24px;
                height: 35px;
                line-height: 35px;
                font-weight: 500;
                font-size: 15px;
                transition: 0.4s ease;

                @include xxs {
                    padding: 0 14px;
                    font-size: 14px;
                    border-width: 1px;
                }

                &:last-child {
                    border-width: 1px 1px 0 1px;
                }

                &.mixitup-control-active {
                    background-color: var(--kb-teal);
                    color: var(--white);

                }
            }
        }
    }

    &-article {
        display: flex;
        align-items: center;
        border: 1px solid rgb(44 44 44 / 10%);

        @include sm {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &-img {
            flex-shrink: 0;

            img {
                width: 296px;
                max-width: 100%;
                // height: 316px;
                aspect-ratio: 0.936;
                object-fit: cover;

                @include xl {
                    width: 266px;
                }

                @include lg {
                    width: 296px;
                }

                @include md {
                    width: 266px;
                }

                @include xxs {
                    width: 100%;
                }
            }
        }

        &-infos {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 14px;
        }

        &-category {
            background-color: #36348E;
            padding: 0 15px;
            color: var(--white);
            font-size: 15px;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            font-weight: 300;
        }

        &-date {
            font-size: 14px;
            font-weight: 400;
            color: var(--black-2);

            i {
                font-size: 16px;
                margin-right: 5px;
            }
        }

        &-txt {
            padding: 34px;

            @include xl {
                padding: 30px;
            }

            @include xxs {
                padding: 15px;
            }
        }

        &-title {
            font-size: 24px;
            line-height: 32px;
            color: var(--black-2);

            @include xl {
                font-size: 20px;
                line-height: 28px;
            }

            @include lg {
                font-size: 18px;
                line-height: 26px;
            }

            @include xxs {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &-descr {
            color: rgb(44 44 44 / 60%);
            margin-bottom: 23px;

            @include xxs {
                font-size: 14px;
            }
        }

        &-btn {
            font-weight: 500;
            vertical-align: bottom;

            @include xl {
                font-size: 15px;
            }

            @include md {
                font-size: 14px;
            }

            i {
                margin-left: 5px;
            }
        }
    }
}

.tl-11-sidebar {
    flex-grow: 1;
    padding-top: 23px;

    @include xl {
        width: 35%;
    }

    @include lg {
        width: 45%;
    }

    @include md {
        width: 55%;
    }

    @include sm {
        width: 75%;
    }

    @include xs {
        width: 100%;
    }

    &-area {
        &:not(:last-child) {
            margin-bottom: 44px;

            @include sm {
                margin-bottom: 34px;
            }

            @include xxs {
                margin-bottom: 24px;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 27px;
            font-weight: 600;
            color: var(--black-2);

            @include xl {
                margin-bottom: 22px;
            }

            @include md {
                font-size: 18px;
            }

            @include xxs {
                margin-bottom: 15px;
            }
        }

        &-articles {
            border: 1px solid rgb(44 44 44 / 10%);
            padding: 46px 30px;

            @include xl {
                padding: 25px;
            }

            @include xxs {
                padding: 15px;
            }
        }

        &-article {
            display: flex;
            column-gap: 20px;
            align-items: center;

            @include xxs {
                flex-direction: column;
                text-align: center;
                row-gap: 6px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &-date {
                font-size: 13px;
                font-weight: 500;
                color: rgb(44 44 44 / 70%);
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 9px;

                @include xxs {
                    margin-bottom: 3px;
                }
            }

            &-title {
                font-size: 18px;
                line-height: 26px;
                color: var(--black-2);
                margin-bottom: 0;

                a:hover {
                    color: var(--kb-teal);
                }

                @include lg {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    &-categories-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @include xxs {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-category {
        border: 1px solid rgb(44 44 44 / 10%);
        padding: 13px 20px;
        color: rgb(44 44 44 / 60%);
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: var(--kb-teal);
            border-color: var(--kb-teal);
            color: var(--white);
        }
    }

    &-magazine-cover {
        img {
            width: 100%;
        }
    }

    &-socials {
        display: flex;
        border: 1px solid rgb(44 44 44 / 10%);
        padding: 20px 30px;
        column-gap: 45px;
        align-items: center;
        justify-content: space-between;

        @include lg {
            padding: 20px;
        }

        @include xxs {
            flex-direction: column;
            row-gap: 10px;
            padding: 15px;
        }

        .tl-11-sidebar-area-title {
            margin-bottom: 0;
        }

        ul {
            display: flex;
            column-gap: 10px;

            a {
                border: 1px solid rgb(23 22 28 / 10%);
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;

                &:hover {
                    color: var(--white);
                    background-color: var(--kb-teal);
                    border-color: var(--kb-teal);
                }
            }
        }
    }
}

// 11