/* ----- 31. Pricing ----- */
.tl-8-pricing {
    background-color: #F5F5F5;

    .tl-8-section-title {
        text-align: center;
    }
}

.tl-8-single-pricing {
    padding: 50px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgb(23 22 28/ 10%);
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include xl {
        padding: 40px;
    }

    @include lg {
        padding: 30px;
    }

    @include xxs {
        padding: 25px;
    }

    &-tag {
        position: absolute;
        padding-block: 5px 3px;
        padding-inline: 110px;
        text-transform: uppercase;
        text-align: center;
        background-color: var(--tl-btn-bg);
        transform: rotate(45deg);
        right: -113px;
        top: 33px;
        font-size: 14px;
        color: #18222F;
        font-weight: 500;
        z-index: -1;
    }

    &-heading {
        border-bottom: 1px solid rgba(24, 34, 47, 0.10);
        margin-bottom: 49px;

        @include xl {
            margin-bottom: 44px;
        }

        @include lg {
            margin-bottom: 34px;
        }
    }

    &-title {
        font-size: 22px;
        font-weight: 700;
        color: var(--black);
    }

    &-sub-title {
        color: #535353;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &-price {
        color: #535353;
        margin-bottom: 9px;
        line-height: inherit;

        @include xl {
            margin-bottom: 4px;
        }

        span.number {
            font-size: 60px;
            font-weight: 700;
            color: #18222F;

            @include xl {
                font-size: 50px;
            }

            @include lg {
                font-size: 45px;
            }

            @include md {
                font-size: 40px;
            }

            @include xs {
                font-size: 35px;
            }

            @include xxs {
                font-size: 30px;
            }
        }
    }

    &-features {
        li {
            position: relative;
            padding-left: 28px;
            font-size: 15px;
            color: var(--black);

            &:not(:last-child) {
                margin-bottom: 13px;
            }

            &.disabled-feature {
                opacity: 30%;
            }

            &::before {
                content: "\f00c";
                position: absolute;
                left: 0;
                top: 2px;
                font-family: 'Font Awesome 6 Sharp';
                font-size: 14px;
            }
        }
    }

    .tl-def-btn {
        margin-top: 51px;
        display: block;
        background: none;
        border-color: rgba(24, 34, 47, 0.14);
    }

    &-pop {
        .tl-def-btn {
            background-color: var(--tl-btn-bg);
            border-color: var(--tl-btn-bg);
        }
    }
}

// 9
.tl-9 {
    &-single-pricing {
        display: flex;
        align-items: center;
        padding: 0;
        box-shadow: none;
        background-color: #F3F1F1;
        border: 1px solid rgb(44 44 44 / 14%);

        @include xxs {
            width: 90%;
            margin-inline: auto;
        }

        &-img img {
            height: 100%;
            width: 100px;
            object-fit: cover;

            @include lg {
                display: none;
            }
        }

        &-txt {
            padding: 30px;
            margin: auto;

            @include xl {
                padding: 20px;
            }

            @include lg {
                padding: 30px;
            }

            @include md {
                padding: 20px;
            }

            .tl-def-btn {
                @include lg {
                    margin-top: 35px;
                    height: 45px;
                    line-height: 45px;
                }

                @include md {
                    margin-top: 25px;
                }

                &::before {
                    background-color: rgb(218 222 28 / 30%);
                }
            }

            .tl-9-def-btn {
                background-color: var(--ligh-yellow);
                border-color: var(--ligh-yellow);
                text-transform: capitalize;

                &::before {
                    background-color: rgba(241, 241, 241, 0.3647058824);
                }
            }

            .tl-8-single-pricing {

                &-features {
                    margin-bottom: 10px;
                }

                &-heading {
                    @include lg {
                        margin-bottom: 30px;
                    }

                    @include md {
                        margin-bottom: 20px;
                    }
                }

                &-price {
                    margin-bottom: 27px;

                    @include lg {
                        margin-bottom: 22px;
                    }

                    @include md {
                        margin-bottom: 17px;
                    }

                    span.number {
                        line-height: 1;
                        font-size: 50px;

                        @include md {
                            font-size: 45px;
                        }
                    }
                }

                &-title {
                    font-size: 20px;
                    color: var(--black-2);
                }

                &-sub-title {
                    font-size: 17px;
                    line-height: 1;
                    margin-bottom: 38px;

                    @include lg {
                        margin-bottom: 33px;
                    }

                    @include md {
                        margin-bottom: 23px;
                    }
                }
            }
        }
    }
}

// 9