/* ----- 14. PROGRAMS ----- */

.tl-3-programs {
    padding: 120px 0 240px;
    background-color: rgb(79, 94, 199, 0.10);

    @include md {
        padding: 60px 0 180px;
    }

    &-pills {
        >.row {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 30px;

            @include xl {
                --bs-gutter-x: 20px;
                --bs-gutter-y: 20px;
            }
        }
    }
}

.tl-3-single-program {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--white);
    padding: 20px 40px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgb(23, 22, 28, 0.10);
    transition: all 0.4s ease;

    @include xl {
        padding: 18px 30px;
    }

    @include lg {
        padding: 15px 30px;
    }

    &:hover {
        color: var(--white);
        background-color: #4F5EC7;
        box-shadow: none;

        .tl-3-single-program-icon img {
            filter: invert(1);
        }
    }

    &-title {
        margin-bottom: 0;

        @include lg {
            font-size: 18px;
        }

        @include md {
            font-size: 16px;
        }
    }

    &-icon {
        img {
            transition: 0.4s ease;
            width: 35px;
            height: 35px;
            object-fit: contain;

            @include xl {
                width: 30px;
                height: 30px;
            }

            @include lg {
                width: 25px;
                height: 25px;
            }
        }
    }
}

// 4 
.tl-4 {
    &-programs {
        &-row {
            --bs-gutter-x: 30px;

            @include xl {
                --bs-gutter-x: 20px;
            }
        }
    }

    &-program {
        &-heading {
            background-color: #00825A;
            display: flex;
            align-items: center;
            padding: 16px 25px;
            gap: 20px;

            @include xl {
                padding: 16px 15px;
            }

            @include lg {
                gap: 15px;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: var(--white);

            @include lg {
                margin-bottom: 5px;
            }
        }

        &-sub-title {
            margin-bottom: 0;
            color: rgb(255 255 255 / 80%);
        }

        &-img {
            width: 100%;
            height: 290px;
            object-fit: cover;
            margin-bottom: 25px;

            @include xxs {
                height: 260px;
                margin-bottom: 20px;
            }
        }

        &-descr {
            color: rgb(44 44 44 / 70%);
        }

        &-btn {
            color: var(--black);
            font-weight: 500;

            &:hover {
                color: var(--red-2);

                i {
                    transform: translateX(5px);
                }
            }

            i {
                transition: transform 0.4s ease;
            }
        }
    }
}

// 4 


// 9
.tl-9 {
    &-program {
        border: 1px solid rgb(44 44 44/14%);
        padding: 40px;

        @include xl {
            padding: 30px;
        }

        @include lg {
            padding: 25px;
        }

        &:hover {
            .tl-9-program-icon {
                opacity: 1;
            }
        }

        &-img {
            margin-bottom: 35px;
            position: relative;
            isolation: isolate;
            width: fit-content;
            max-width: 100%;
            margin-inline: auto;

            @include xl {
                margin-bottom: 28px;
            }

            @include lg {
                margin-bottom: 23px;
            }

            img:first-child {
                width: 332px;
                // height: 332px;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 1px solid rgb(44 44 44/ 14%);
                padding: 20px;

                @include lg {
                    padding: 15px;
                }
            }
        }

        &-icon {
            position: absolute;
            inset: 0;
            margin: auto;
            background-color: var(--white);
            border-radius: 50%;
            width: 70%;
            padding: 53px;
            overflow: visible;
            opacity: 0;
            transition: 0.5s ease-in-out;
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: var(--black-2);
            margin-bottom: 5px;

            @include lg {
                font-size: 22px;
                line-height: 30px;
            }

            a:hover {
                //color: rgb(44 44 44 / 60%);
                color: var(--ligh-yellow)
            }
        }

        &-descr {
            color: rgb(44 44 44 / 60%);
            line-height: 24px;
        }

        &-btn {
            font-weight: 600;
            color: var(--black-2);

            &:hover {
                color: var(--ligh-yellow);

                i {
                    rotate: -45deg;
                }
            }

            i {
                transition: rotate 0.4s ease;
                padding-left: 3px;
            }
        }

        &-txt {
            text-align: center;
        }
    }
}

.tl-9-class.tl-9-program {
    >img {
        width: 100%;
        object-fit: cover;
    }
}