/* ----- 06. Services ----- */
.tl-1 {
    &-services {
        &-row {
            --bs-gutter-x: 30px;

            @include xl {
                --bs-gutter-x: 25px;
            }

            @include lg {
                --bs-gutter-x: 20px;
            }

            @include md {
                --bs-gutter-y: 20px;
            }
        }
    }

    &-service {
        background-color: var(--white);
        border: none;
        box-shadow: 0 10px 80px rgb(23 22 28 / 10%);
        padding: 45px;

        @include lg {
            padding: 35px;
        }

        @include sm {
            padding: 25px;
        }

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 47px;

            @include lg {
                margin-bottom: 37px;
            }

            @include md {
                margin-bottom: 27px;
            }
        }

        &-title {
            font-size: 22px;
            line-height: 28px;
            width: 100%;
            color: var(--black-4);
            margin-bottom: 12px;
            font-weight: 600;

            @include sm {
                font-size: 20px;
            }

            a:hover {
                color: var(--blue-2);
            }
        }

        &-icon {
            width: 90px;
            height: 90px;
            line-height: 84px;
            background-color: rgb(23 22 28 / 4%);
            border: 1px solid rgb(23 22 28 / 10%);
            border-radius: 50%;
            border-top-left-radius: 0;
            text-align: center;

            @include lg {
                width: 80px;
                height: 80px;
                line-height: 74px;
            }

            @include md {
                width: 70px;
                height: 70px;
                line-height: 64px;
            }
        }

        &-order-numb {
            font-family: var(--rosaviro);
            font-size: 108px;
            color: rgb(23 22 28 / 8%);
            font-weight: normal;
            font-style: italic;
            -webkit-text-fill-color: currentColor;
            -webkit-text-stroke: 0;
            line-height: 1;

            @include lg {
                font-size: 88px;
            }

            @include md {
                font-size: 78px;
            }
        }

        &-descr {
            font-size: 15px;
            line-height: 1.6;
            color: rgba(24, 34, 47, 0.7);
            margin-bottom: 43px;

            @include lg {
                margin-bottom: 33px;
            }

            @include md {
                margin-bottom: 23px;
            }
        }

        &-btn {
            height: 40px;
            border: 1px solid rgb(23 22 28 / 10%);
            min-width: 70px;
            border-radius: 30px;
            text-align: center;
            line-height: 40px;

            &:hover {
                background-color: var(--blue-2);
                color: var(--white);
            }
        }
    }
}

// INDEX-2 SERVICE ↓
.tl-2-services {
    .tl-2-section {
        &-heading {
            width: 45%;
            margin-inline: auto;
            text-align: center;

            @include xl {
                width: 50%;
            }

            @include lg {
                width: 55%;
            }

            @include md {
                width: 75%;
            }

            @include sm {
                width: 100%;
            }
        }

        &-title {
            font-size: 44px;
            margin-bottom: 10px;

            @include xl {
                font-size: 42px;
                line-height: 52px;
            }

            @include lg {
                font-size: 35px;
                line-height: 45px;
            }

            @include sm {
                font-size: 30px;
                line-height: 40px;
            }

            @include xxs {
                font-size: 26px;
                line-height: 36px;
            }
        }
    }

    &-slider-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 290px);
        translate: -50% -50%;
        visibility: hidden;
        z-index: 2;

        @media screen and (max-width: 1800px) {
            width: calc(100% + 50px);
        }

        @include sm {
            width: 100%;
        }

        @include xxs {
            display: none;
        }

        button {
            width: 54px;
            height: 54px;
            background-color: var(--white);
            box-shadow: 0 1px 3px rgb(24 34 47 / 14%);
            rotate: -45deg;
            visibility: visible;

            @include xl {
                width: 50px;
                height: 50px;
            }

            &:hover {
                box-shadow: 0 0 0 transparent;
                background-color: var(--kb-orange);
                color: var(--white);
            }
        }
    }
}

.tl-2-service {
    padding: 70px 45px;
    border: 1px dashed rgb(24 34 47 / 30%);
    transition: 0.4s ease;

    @include xl {
        padding: 60px 35px;
    }

    @include lg {
        padding: 50px 25px;
    }

    @include md {
        padding: 40px 25px;
    }

    @include xs {
        padding: 30px 25px;
    }

    &:hover {
        border-color: rgb(232 79 44 / 60%);
    }

    &-heading {
        margin-bottom: 20px;
    }

    &-icon {
        border: 1px solid rgb(24 34 47 / 14%);
        border-radius: 50%;
        text-align: center;
        width: 74px;
        height: 74px;
        line-height: 70px;
    }

    &-title {
        width: 65%;

        a:hover {
            color: var(--kb-orange);
        }
    }

    &-descr {
        margin-bottom: 37px;
    }
}

// INDEX-2 SERVICE ↑


// 8
.tl-8 {
    &-services {
        background-color: #f5f5f5;

        &-row {
            display: flex;

            @include sm {
                flex-wrap: wrap;
            }
        }
    }

    &-service {
        padding: 80px 65px 73px;
        border-right: 1px solid rgb(24 34 47 / 30%);
        color: #18222F;
        transition: all 0.3s linear 0s;
        @include xl {
            padding: 65px 50px 58px;
        }

        @include lg {
            padding: 40px 40px 35px;
        }

        @include md {
            padding: 40px 40px 35px;
        }

        @include sm {
            border-right: 0;
            border-bottom: 1px solid rgb(24 34 47 / 30%);
            padding: 50px 0px 45px;
        }
        @include xxs {
            padding: 40px 0px 35px;
        }

        &:first-child {
            padding-left: 0;

            @include sm {
                padding: 50px;
                padding-bottom: 45px;
                padding-left: 0;
                padding-right: 0;
            }

            @include xxs {
                padding: 40px;
                padding-bottom: 35px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &:last-child {
            padding-right: 0;
            border: none;

            @include sm {
                padding: 50px;
                padding-bottom: 45px;
                padding-left: 0;
                padding-right: 0;
            }

            @include xxs {
                padding: 40px;
                padding-bottom: 35px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-heading {
            margin-bottom: 20px;
        }

        &-icon {
            border-color: #18222F;
            width: 74px;
            height: 74px;
            line-height: 70px;
            border-radius: 50%;
            transition: all 0.3s linear 0s;
            @include md {
                width: 64px;
                height: 64px;
                line-height: 60px;
            }

            img {
                @include md {
                    width: 35px;
                }
            }
        }

        &-order-numb {
            font-size: 60px;
            line-height: 1;
            font-weight: 600;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px rgb(24 34 47 / 30%);

            @include md {
                font-size: 50px;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 19px;

            @include md {
                font-size: 18px;
                line-height: 24px;
            }

            a:hover {
                color: var(--kb-teal);
            }
        }

        &-descr {
            margin-bottom: 42px;
            @include sm {
                margin-bottom: 30px;
            }
        }

        >a {
            font-weight: 600;

            &:hover {
                color: var(--kb-teal);

                i {
                    rotate: -45deg;
                }
            }

            i {
                padding-left: 5px;
                transition: rotate 0.4s ease;
            }
        }
        &:hover {
            .tl-8-service-icon {
                background-color: var(--tl-btn-bg);
            }
        }
    }
}

.yellow-clr {
    .tl-8-service-title a:hover {
        color: var(--tl-btn-bg);
    }
    .tl-8-service > a:hover {
        color: var(--tl-btn-bg);
    }
} 
.yellow-clr-hover {
    .tl-def-btn-2 {
        color: #18222F;
        border-color: #18222F;
        i {
            color: #18222F;
        }
        &:hover {
            color: var(--tl-btn-bg);
            border-color: var(--tl-btn-bg);
            i {
                color: var(--tl-btn-bg);
            }
        }
    }
}

// 9
.tl-9 {
    &-services {
        .tl-9-section {
            &-heading {
                text-align: left;
            }

            &-title {
                color: var(--white);

                &::before {
                    -webkit-text-stroke-color: rgb(255 255 255/ 16%);
                }
            }
        }

        >.container>.row {
            @include lg {
                --bs-gutter-x: 18px;
                --bs-gutter-y: 18px;
            }

            @include xs {
                --bs-gutter-x: 12px;
                --bs-gutter-y: 12px;
            }
        }
    }

    &-service {
        background-color: var(--white);
        padding: 35px;

        @include xl {
            padding: 25px;
        }

        @include lg {
            padding: 20px;
        }

        &:hover {
            .tl-long-arrow-btn .arrow {
                width: 32px;
                background-color: var(--ligh-yellow);

                &::before {
                    border-color: var(--ligh-yellow);
                    
                }
            }
        }

        &-icon {
            width: 55px;
            height: 55px;
            object-fit: contain;
            margin-bottom: 28px;

            @include lg {
                width: 45px;
                height: 45px;
                margin-bottom: 23px;
            }
        }

        &-title {
            line-height: 32px;
            font-weight: 600;
            color: var(--black-2);
            margin-bottom: 6px;

            @include xl {
                font-size: 22px;
                line-height: 30px;
            }

            @include md {
                font-size: 20px;
            }
            a {
                transition: all 0.3s linear 0s;
                &:hover {
                    color: var(--ligh-yellow);
                }
            }
        }

        &-descr {
            color: var(--black-2);
            line-height: 24px;
            margin-bottom: 52px;

            @include xl {
                margin-bottom: 42px;
            }

            @include lg {
                margin-bottom: 32px;
            }
        }
    }
}

// 9