/* ----- 25. Socials ----- */
.tl-4-socials {
    background-size: cover;
    min-height: 670px;
    position: relative;

    @include sm {
        min-height: auto;
    }

    .row {
        position: absolute;
        width: 100%;
        height: 100%;

        @include sm {
            position: static;
        }
    }
}

.tl-4-social {
    position: relative;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;

    @include lg {
        border-bottom: 1px solid rgb(255 255 255/ 20%);
    }

    @include sm {
        border-right: 0;
        height: auto;
    }

    &:hover {
        .tl-4-social-title {
            margin-bottom: 14px;
        }
    }

    &-txt {
        padding: 50px;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: var(--white);

        @include xxl {
            padding: 40px;
        }

        @include xl {
            padding: 30px;
        }

        @include sm {
            position: static;
        }

        @include xxs {
            padding: 20px;
        }
    }

    &-title {
        font-weight: 600;
        font-size: 30px;
        color: var(--white);
        text-transform: capitalize;
        margin-bottom: 0px;
        transition: 0.4s ease;
    }

    &-hidden-content {
        display: none;
    }

    &-descr {
        overflow: hidden;
        transition: 0.4s ease;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 28px;
    }

    &-btn {
        color: var(--white);
        overflow: hidden;
        transition: 0.4s ease;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 6px 30px;

        &:hover {
            background-color: var(--red-2);
            border-color: var(--red-2);
        }
    }
}

// 6
.tl-6-social {
    &-btn {
        color: var(--white);
        margin-top: 16px;

        &:hover {
            color: var(--red-2);
        }
    }

    &-date {
        color: var(--white);
        height: 28px;
        line-height: 28px;
        padding: 0 15px;
        padding-left: 25px;
        margin-bottom: 20px;
        background-color: transparent;

        &::before {
            left: 14px;
            background-color: var(--white);
        }
    }

    &-title {
        line-height: 141.667%;
        font-weight: 600;
        margin-bottom: 0;

        @include xl {
            font-size: 22px;
        }

        @include xxs {
            font-size: 20px;
        }
    }
}

// 6

// 11
.tl-11-socials {
    background-image: url(../images/tl-11/socials-bg.jpg);
    //     background-size: cover;
    //     min-height: 670px;
    //     position: relative;

    //     @include sm {
    //         min-height: auto;
    //     }

    //     .row {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;

    //         @include sm {
    //             position: static;
    //         }
    //     }
}

.tl-11-social {
    //     position: relative;
    //     height: 100%;
    //     border-right: 1px solid rgba(255, 255, 255, 0.2);
    //     overflow: hidden;

    //     @include lg {
    //         border-bottom: 1px solid rgb(255 255 255/ 20%);
    //     }

    //     @include sm {
    //         border-right: 0;
    //         height: auto;
    //     }

    &:hover {
        .tl-11-section-title {
            margin-bottom: 14px;
        }
    }

    // &-txt {
    //         padding: 50px;
    //         position: absolute;
    //         bottom: 0;
    //         width: 100%;
    //         color: var(--white);

    //         @include xxl {
    //             padding: 40px;
    //         }

    //         @include xl {
    //             padding: 30px;
    //         }

    //         @include sm {
    //             position: static;
    //         }

    //         @include xxs {
    //             padding: 20px;
    //         }
    //     }

    .tl-11-section-title {
        color: var(--white);
        text-transform: capitalize;
        margin-bottom: 0px;
        transition: 0.4s ease;

        &::before {
            content: none;
        }
    }

    //     &-hidden-content {
    //         display: none;
    //     }

    //     &-descr {
    //         overflow: hidden;
    //         transition: 0.4s ease;
    //         color: rgba(255, 255, 255, 0.7);
    //         margin-bottom: 28px;
    //     }

    &-btn {
        //         color: var(--white);
        //         overflow: hidden;
        //         transition: 0.4s ease;
        //         border: 1px solid rgb(255 255 255/ 30%);
        //         padding: 6px 30px;

        &:hover {
            color: var(--white);
            background-color: var(--kb-teal);
            border-color: var(--kb-teal);
        }
    }
}

// 11