/* ----- 36. Software ----- */
.tl-14-software {
    .tl-14-section-title {
        width: 50%;
        margin-inline: auto;
        text-align: center;

        @include lg {
            width: 60%;
        }

        @include md {
            width: 70%;
        }

        @include xs {
            width: 100%;
        }
    }

    &-slide {
        padding-left: 70px;
        border-top: 3px solid var(--red-3);
        gap: 75px;

        @include lg {
            padding: 30px;
            gap: 55px;
        }

        @include md {
            gap: 35px;
        }

        @include xs {
            padding: 20px;
        }

        @include xxs {
            gap: 25px;
        }

        &-index {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            border: 1px solid rgba(44, 44, 44, 0.10);
            background: var(--white);
            color: var(--black);
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            line-height: 68px;
            margin-bottom: 14px;

            @include lg {
                width: 60px;
                height: 60px;
                line-height: 58px;
                margin-bottom: 10px;
            }

            @include xxs {
                width: 50px;
                height: 50px;
                line-height: 48px;
                font-size: 18px;
            }
        }

        .tl-8-course {
            &-title {
                font-size: 30px;
                font-weight: 600;
                line-height: 146.667%;
                color: var(--black);
                margin-bottom: 11px;

                @include lg {
                    font-size: 28px;
                }

                @include xs {
                    font-size: 25px;
                }

                @include xxs {
                    font-size: 20px;
                }
            }

            &-descr {
                color: rgba(23, 22, 28, 0.70);
                font-size: 15px;
                line-height: 160%;
                padding-bottom: 0;
                border: none;
                margin-bottom: 33px;

                @include lg {
                    margin-bottom: 23px;
                }
            }

            &-img img {
                width: 510px;
                height: 390px;
                object-fit: cover;

                @include md {
                    width: 100%;
                }

                @include xs {
                    height: 270px;
                }

                @include xxs {
                    height: 190px;
                }
            }
        }
    }

    &-slider-controls {
        margin-top: 60px;

        @include lg {
            margin-top: 40px;
        }
    }

    &-slider-dots {
        display: flex;
        gap: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        @include sm {
            gap: 20px;
        }

        button {
            color: rgb(23 22 28 / 30%);
            font-size: 18px;
            font-weight: 700;
            line-height: 66.667%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                translate: 0 -50%;
                height: 2px;
                width: 0;
                background-color: var(--red-3);
                transition: 0.4s ease;
            }

            &.active {
                color: var(--red-3);
                margin-right: 50px;

                &::before {
                    width: 50px;

                    @include sm {
                        width: 40px;
                    }
                }
            }
        }
    }
}