/* ----- 11. TEACHERS ----- */
.tl-1 {
    &-teacher {
        position: relative;
        overflow: hidden;

        &:hover {
            .tl-1-teacher-socials {
                opacity: 1;
                visibility: visible;
                right: 30px;
            }

            >img.tl-1-teacher-img {
                scale: 1.07;
            }
        }

        >img.tl-1-teacher-img {
            width: 100%;
            object-fit: cover;
            transition: 0.4s ease;
        }

        &-socials {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            transition: 0.4s ease;
            opacity: 0;
            position: absolute;
            top: 30px;
            right: 30px;
            visibility: hidden;
            right: -40px;

            @include xs {
                top: 20px;
                right: 20px;
            }

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.2);
                color: var(--white);
                font-size: 15px;
                border-radius: 0;
                background-color: var(--blue-2);
                border-color: var(--blue-2);

                @include sm {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: transparent;
                }
            }
        }

        &-info {
            position: absolute;
            width: calc(100% - 60px);
            left: 30px;
            right: 30px;
            bottom: 30px;
            top: auto;
            background-image: linear-gradient(180deg, rgba(23, 22, 28, 0.70) 0%, #17161C 100%);
            padding: 45px 30px 38px;
            clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);

            @include xl {
                width: calc(100% - 40px);
                left: 20px;
                right: 20px;
                bottom: 20px;
            }

            @include lg {
                padding: 35px 20px 28px;
            }

            @include sm {
                padding: 30px 15px 23px;
                width: calc(100% - 30px);
                left: 15px;
                right: 15px;
                bottom: 15px;
            }

            @include xs {
                width: calc(100% - 20px);
                left: 10px;
                right: 10px;
                bottom: 10px;
            }
        }

        &-title {
            color: var(--white);

            a:hover {
                color: var(--blue-2);
            }
        }

        &-sub-title {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.7);
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
        }
    }
}

// 2
.tl-2-teachers {
    .tl-2-section-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xs {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &-row {
        --bs-gutter-x: 30px;

        @include lg {
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }
    }
}

.tl-2-teacher {
    position: relative;

    &:hover {
        .tl-2-teacher {
            &-txt {
                height: calc(100% - 40px) !important;

                @include sm {
                    height: calc(100% - 20px) !important;
                }
            }

            &-socials {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    >img {
        width: 100%;
    }

    &-txt {
        position: absolute;
        z-index: 22;
        background-color: rgb(17 23 32 / 50%);
        backdrop-filter: blur(20px);
        transition: 0.4s ease;
        border: 1px solid rgb(255 255 255 / 20%);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: calc(100% - 40px);
        left: 50%;
        translate: -50% 0;
        bottom: 20px;
        overflow: hidden;
        padding: 20px;
        padding-bottom: 15px;

        @include sm {
            width: calc(100% - 20px);
            bottom: 10px;
        }

        >* {
            transition: 0.4s ease;
        }
    }

    &-socials {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        transition: 0.4s ease;
        opacity: 0;
        visibility: hidden;

        a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: rgb(17 23 32 / 50%);
            border: 1px solid rgb(255 255 255 / 20%);
            color: var(--white);
            border-radius: 50%;
            font-size: 15px;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &-title {
        color: var(--white);

        a {
            color: inherit;

            &:hover {
                color: var(--kb-orange);
            }
        }
    }

    &-sub-title {
        margin-bottom: 0;
        color: rgb(255 255 255 / 70%);
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 400;
    }
}

// 2

// 3 
.tl-3-staff {
    background-color: rgb(79, 94, 199, 0.10);

    &-heading {
        margin-bottom: 70px;

        @include xl {
            margin-bottom: 45px;
        }

        @include sm {
            margin-bottom: 35px;
        }

        @include xxs {
            margin-bottom: 30px;
        }

        &-btn {
            text-align: end;

            @include xxs {
                text-align: left;
            }
        }
    }

    .tl-3-section-title {
        text-align: left;
        margin-bottom: 0;
    }

    .tl-3-def-btn {
        &:hover {
            color: var(--black);
        }
    }
}

.tl-3-single-staff {
    position: relative;

    &:hover {
        .tl-3-single-staff-img::before {
            opacity: 1;
            visibility: visible;
        }

        .tl-3-single-staff-socials a {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }
    }

    &-img {
        position: relative;
        margin-bottom: 30px;

        @include xl {
            margin-bottom: 19px;
        }

        @include lg {
            margin-bottom: 14px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgb(23, 22, 28, 0.60);
            opacity: 0;
            visibility: hidden;
            transition: 0.4s ease;
        }

        img {
            width: 100%;
        }
    }

    &-socials {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        a {
            color: var(--white);
            width: 44px;
            height: 44px;
            line-height: 44px;
            border: 1px solid rgb(255 255 255/ 20%);
            border-radius: 50%;
            text-align: center;
            transform: translateY(10px);
            visibility: hidden;
            transition: 0.4s ease;
            opacity: 0;

            &:hover {
                background-color: var(--tl-btn-bg);
                color: var(--black);
            }
        }
    }

    &-name {
        font-weight: 600;
        color: var(--black);

        @include md {
            font-size: 18px;
            margin-bottom: 0;
        }

        a {
            &:hover {
                color: var(--tl-btn-bg);
            }
        }
    }

    &-role {
        color: rgb(23, 22, 28, 0.70);

        @include md {
            font-size: 14px;
        }
    }
}

// 3 


// 5
.tl-5-faculties {
    padding: 120px 0;

    @include md {
        padding: 60px 0;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;

        button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid rgb(10 10 10 / 40%);
            transition: all 0.4s ease;
            margin-top: 15px;

            &.active {
                scale: 1.8;
                background-color: #0A0A0A;
            }
        }
    }
}

.tl-5-single-faculty {
    &:hover {
        .tl-5-single-faculty-socials a {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &-role {
        font-size: 14px;
        font-weight: 400;
        color: rgb(10 10 10 / 70%);
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }

    &-img {
        width: 100%;
        margin-bottom: 20px;

        @include md {
            margin-bottom: 20px;
        }

        @include sm {
            margin-bottom: 15px;
        }
    }

    &-name {
        font-weight: 500;
        font-size: 20px;
        color: #0A0A0A;
        margin-bottom: 10px;

        @include xl {
            font-size: 18px;
        }

        @include sm {
            font-size: 16px;
        }

        a {
            color: inherit;
            transition: all 0.4s ease;

            &:hover {
                color: var(--red);
            }
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            font-size: 14px;
            color: rgb(10 10 10 / 70%);
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;

            &:hover {
                color: var(--red);
            }
        }
    }
}

// 5


// 6
.tl-6 {
    &-editorials {
        text-align: center;
    }

    &-editorial {
        .tl-3-single-staff-img::before {
            background: linear-gradient(0deg, rgb(23 22 28), rgb(23 22 28 / 17%));
        }
    }
}

// 6


// 7
.tl-7-faculty {
    .owl-carousel .owl-dots {
        display: flex;
        justify-content: center;
        column-gap: 14px;

        button.owl-dot {
            width: 8px;
            height: 8px;
            border: 1px solid rgb(0 0 0/ 40%);
            border-radius: 50%;
            transition: 0.4s ease;
            margin-top: 70px;

            @include xl {
                margin-top: 50px;
            }

            @include lg {
                margin-top: 30px;
            }

            @include xs {
                margin-top: 20px;
            }

            &.active {
                scale: 1.75;
                background-color: rgb(0 0 0);
            }
        }
    }
}

.tl-7-single-fac {
    .tl-3-single-staff {
        &-socials {
            a {
                @include md {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        &-img {
            margin-bottom: 30px;
        }

        &-name {
            font-size: 22px;
        }
    }

    &-txt {
        text-align: center;
    }
}

// 7


// 8
.tl-8-experts {
    background-color: var(--white);

    &-heading {
        text-align: center;
        margin-bottom: 53px;

        @include xl {
            margin-bottom: 38px;
        }

        @include xs {
            margin-bottom: 28px;
        }

        &-descr {
            width: 35%;
            margin: auto;
            color: rgb(24, 34, 47, 0.70);

            @include lg {
                width: 55%;
            }

            @include sm {
                width: 85%;
            }

            @include xxs {
                width: 100%;
            }
        }
    }

    &-title {
        margin-bottom: 16px;
    }

    .tl-def-btn {
        display: block;
        text-align: center;
        margin-top: 60px;

        @include xl {
            margin-top: 45px;
        }

        @include sm {
            width: max-content;
            margin-inline: auto;
        }

        @include xs {
            margin-top: 35px;
        }
    }
}

.tl-8-single-expert {
    overflow: hidden;

    &:hover {
        .tl-8-single-expert-txt {
            opacity: 1;
            bottom: 33px;
        }
    }

    &-img {
        margin-bottom: 0;
    }

    &-txt {
        position: absolute;
        text-align: center;
        inset: 0;
        top: auto;
        bottom: 0px;
        opacity: 0;
        transition: 0.4s ease;
        color: var(--white);
    }

    &-name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    &-role {
        font-size: 14px;
        color: rgb(255 255 255 / 80%);
    }
}

.owl-carousel .owl-item .tl-3-single-staff-img img {
    width: 100%;
}

.yellow-clr {
    .tl-def-btn-2 {
        color: var(--tl-btn-bg);
        border-bottom: 1px solid var(--tl-btn-bg);

        i {
            color: var(--tl-btn-bg);
        }

        &:hover {
            color: var(--black);
            border-color: var(--black);

            i {
                color: var(--black);
            }
        }
    }
}

.owl-carousel .owl-item {
    .tl-5-single-faculty img {
        width: 100%;
    }
}

//  8


// 11
.tl-11-editorial {
    background-color: #F2EDE7;
}

.tl-11-single-edi {
    &-socials {
        right: 30px;
        top: 30px;
        translate: 0 0;
        left: auto;
        flex-direction: column;

        a {
            border-radius: 0;
        }
    }

    &-txt {
        text-align: center;
    }
}

// 11

// 12
.tl-12-single-mentor {
    &:hover {
        .tl-12-single-mentor-socials {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &-img {
        margin-bottom: 25px;

        @include xl {
            margin-bottom: 15px;
        }
    }

    &-txt {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }

    &-name {
        font-size: 20px;
        font-weight: 600;
        color: var(--black-3);

        @include lg {
            font-size: 18px;
        }

        @include md {
            font-size: 16px;
            margin-bottom: 5px;
        }

        a:hover {
            color: var(--tl-btn-bg);
        }
    }

    &-role {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        color: rgb(44 44 44 / 70%);

        @include md {
            font-size: 15px;
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 15px;
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;

        @include lg {
            font-size: 15px;
        }

        @include md {
            gap: 10px;
        }

        a {
            line-height: 1;
            vertical-align: bottom;
        }
    }
}

// 12

// 14
.tl-14-teacher {
    .tl-14-teacher-info {
        background: var(--white);
        padding: 30px;
        clip-path: none;
        box-shadow: 0 4px 10px rgb(23 22 28 / 14%);
        z-index: 1;

        @include xl {
            padding: 20px;
        }

        @include sm {
            padding: 15px;
        }

        &::before {
            position: absolute;
            content: "";
            border-top: 3px solid var(--red-3);
            inset: 0;
            width: 0;
            transition: 0.4s ease;
            margin: auto;
            z-index: -1;
        }
    }

    &:hover {
        .tl-14-teacher-info::before {
            width: 100%;
        }
    }

    &-title {
        font-size: 18px;
        font-weight: 600;
        color: var(--black);
    }

    &-sub-title {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: rgb(23 22 28 / 70%);
        text-transform: uppercase;
    }
}

// 14