/* ----- 10. SUB-BANNER ----- */

.tl-1-sub-banner {
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);

    >img {
        @include xl {
            width: 380px;
        }

        @include lg {
            width: 300px;
        }

        @include sm {
            width: 260px;
        }

        @include xs {
            width: 230px;
        }
    }

    &-txt {
        position: absolute;
        bottom: 180px;

        @include xl {
            bottom: 90px;
        }

        &-top {
            position: absolute;
            top: 200px;
            z-index: -1;

            @include lg {
                top: 120px;
            }
        }
    }

    &-ticker {
        h3 {
            font-size: 170px;
            font-weight: 600;
            color: var(--white);
            width: max-content !important;
            text-transform: uppercase;
            position: relative;
            margin-right: calc(75px + 60px);

            @include xl {
                font-size: 140px;
            }

            @include lg {
                font-size: 110px;
            }

            @include sm {
                font-size: 90px;
                margin-right: calc(75px + 50px);
            }

            @include xs {
                font-size: 80px;
                margin-right: calc(65px + 30px);
            }

            @include xxs {
                font-size: 70px;
            }

            &::before {
                content: "*";
                position: absolute;
                left: calc(100% + 30px);
                top: 50%;
                height: 75px;
                width: 75px;
                transform: translateY(-100%);

                @include sm {
                    left: calc(100% + 20px);
                }

                @include xs {
                    left: calc(100% + 10px);
                    width: 65px;
                    height: 65px;
                }
            }
        }

        &-2 {
            visibility: hidden;

            h3 {
                visibility: visible;
                -webkit-text-stroke: 1px rgb(23 22 28 / 30%);
                -webkit-text-fill-color: transparent;
            }
        }
    }
}