/* ----- 09. Testimonial ----- */
.tl-1-testimonial-slider {
    &-container {
        position: relative;
        padding: 90px 100px;

        @include xl {
            padding: 80px 90px;
        }

        @include lg {
            padding: 70px;
        }


        @include md {
            padding: 60px;
            padding-bottom: 90px;
        }

        @include sm {
            padding: 50px;
            padding-bottom: 70px;
        }

        @include xs {
            padding: 50px;
            padding-bottom: 90px;
        }

        @include xxs {
            padding: 40px;
            padding-bottom: 80px;
            padding-left: 25px;
            padding-right: 25px;
        }

        &::before {
            content: "";
            position: absolute;
            background: url(../images/tl-1/quote-icon.png) no-repeat center center;
            background-size: 100%;
            width: 197px;
            height: 162px;
            top: 60px;
            right: 50px;
        }
    }

    .owl-item img.tl-1-testimony-img {
        width: 340px;
        height: 388px;
        object-fit: cover;

        @include lg {
            width: 330px;
            height: 378px;
        }

        @include md {
            height: 328px;
        }

        @include xxs {
            height: 230px;
        }
    }

    .owl-dots {
        display: flex;
        gap: 8px;
        position: absolute;
        right: 0;
        top: calc(100% + 20px);

        @include md {
            top: calc(100% + 40px);
            left: 50%;
            margin-left: -25px;
        }

        @include xs {
            top: calc(100% + 30px);
            left: 50%;
            margin-left: -25px;
        }

        @include sm {
            top: calc(100% + 30px);
        }

        .owl-dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(23 22 28 / 20%);

            &.active {
                background-color: var(--blue-2);
            }
        }
    }
}

.tl-1-testimony {
    padding: 0;
    gap: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;

    @include lg {
        gap: 35px;
    }

    @include md {
        flex-direction: column;
        text-align: center;
    }

    @include xs {
        flex-direction: column;
        text-align: center;
    }

    @include sm {
        gap: 25px;
        flex-direction: column;
    }

    &::before {
        content: none;
    }

    &-stars {
        font-size: 12px;
        color: #FFA121;
        margin-bottom: 25px;

        @include sm {
            margin-bottom: 15px;
        }
    }

    &-review {
        font-size: 20px;
        line-height: 40px;
        color: rgba(23, 22, 28, 0.7);
        margin-bottom: 39px;

        @include sm {
            margin-bottom: 29px;
            font-size: 16px;
            line-height: 1.5;
        }

        &::before,
        &::after {
            content: "”";
        }
    }
}

.tl-1-reviewer {
    display: flex;
    align-items: center;
    gap: 12px;

    @include md {
        justify-content: center;
    }

    @include xs {
        justify-content: center;
    }

    &-name {
        font-weight: 600;
        color: var(--black);
        margin-bottom: 3px;
    }

    &-label {
        font-size: 15px;
        color: #5F5F5F;
    }
}


// 2
.tl-2-testimonial {
    overflow-x: hidden;

    .tl-2-section-title {
        text-align: center;
    }

    .owl-carousel .owl-stage-outer {
        overflow: visible;
    }

    .owl-item.active.center .tl-2-testimony {
        background-color: var(--kb-orange);
        box-shadow: none;

        &-txt {
            color: var(--white);
        }

        &-reviewer {
            &-name {
                color: var(--white);
            }

            &-label {
                color: rgb(255 255 255 / 80%);
            }
        }
    }

    .owl-nav {
        position: relative;
        width: max-content;
        margin: auto;
        margin-top: 45px;
        display: flex;
        gap: 10px;

        @include md {
            margin-top: 40px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: -180px;
            top: 50%;
            translate: 0 -50%;
            width: 150px;
            height: 0.1px;
            background-color: rgba(23, 22, 28, 0.24);
        }

        &::after {
            left: calc(100% + 30px);
        }
    }

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(23, 22, 28, 0.14);
        font-size: 20px;
        text-align: center;
        color: var(--black);
        border-radius: 0;

        &:hover {
            color: var(--white);
            background-color: var(--kb-orange);
            border-color: var(--kb-orange);
        }
    }

    .owl-carousel .owl-item img {
        width: 50px;
    }
}

.tl-2-testimony {
    background-color: var(--white);
    opacity: 1;
    padding: 50px 60px;
    transition: all 0.4s ease;

    @include sm {
        padding: 40px 30px;
    }

    &-txt {
        color: var(--black);
        font-size: 20px;
        line-height: 34px;
    }

    &-reviewer {
        display: flex;
        align-items: center;
        gap: 10px;

        &-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        &-name {
            font-size: 18px;
            font-weight: 500;
            color: var(--black);
            line-height: 1;
            margin-bottom: 5px;
        }


        &-label {
            color: rgb(23 22 28 / 60%);
            font-weight: 400;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1;
        }
    }
}

// 2


// 4
.tl-4 {
    &-testimonial {
        .tl-4-section-title {
            width: 55%;
            margin-inline: auto;

            @include sm {
                width: 75%;
            }

            @include xxs {
                width: 100%;
            }
        }

        &-slider {
            .owl-item img {
                width: 400px;

                @include lg {
                    width: 380px;
                }

                @include md {
                    width: 320px;
                    height: 320px;
                }

                @include xs {
                    width: 300px;
                    height: 300px;
                }

                @include xxs {
                    height: 250px;
                }
            }
        }

        &-users {
            margin-top: 70px;
            border-top: 1px solid rgb(23 22 28/ 10%);
            display: flex;

            @include xl {
                margin-top: 50px;
            }

            @include md {
                margin-top: 30px;
                width: max-content;
                margin-inline: auto;
            }

            >* {
                padding: 0;
                flex-grow: 1;
                position: relative;
                text-align: left;

                @include md {
                    flex-grow: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    translate: -50% 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--red-2);
                }

                &.active {
                    &::before {
                        width: 100%;
                        transition: 0.4s ease;
                    }
                }
            }

            .tl-4-reviewer {
                padding: 20px;

                @include md {
                    padding: 10px;
                }

                @include sm {
                    padding: 10px 10px;
                }

                @include xxs {
                    padding: 10px 5px;
                }

                &-txt {

                    @include md {
                        display: none;
                    }
                }
            }
        }
    }

    &-testimony {
        background-color: #F3F1F1;
        padding: 40px;
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;

        @include xl {
            gap: 40px;
        }

        @include lg {
            padding: 30px;
        }

        @include md {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        @include xs {
            padding: 25px;
        }

        @include xxs {
            gap: 20px;
            padding: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            background: url(../images/tl-4/quote-icon.png) no-repeat center center;
            background-size: contain;
            bottom: 70px;
            right: 70px;
            width: 84px;
            height: 70px;

            @include lg {
                bottom: 50px;
                right: 50px;
            }

            @include md {
                bottom: 25px;
                right: 35px;
            }

            @include xs {
                width: 74px;
                height: 60px;
            }

            @include xxs {
                width: 64px;
                height: 50px;
            }
        }

        &-img {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }

        &-review {
            font-size: 20px;
            line-height: 40px;
            color: rgb(23 22 28 / 70%);
            border-bottom: 1px solid rgb(23 22 28 / 10%);
            padding-bottom: 30px;
            margin-bottom: 37px;

            @include lg {
                font-size: 18px;
                line-height: 38px;
            }

            @include md {
                padding-bottom: 20px;
                margin-bottom: 27px;
            }

            @include xxs {
                font-size: 16px;
                line-height: 30px;
            }

            &::before {
                content: "“";
            }

            &::after {
                content: "”";
            }
        }
    }

    &-reviewer {
        display: flex;
        align-items: center;
        gap: 12px;

        &-img {
            border-radius: 50%;
            width: 56px;
            height: 56px;
            object-fit: cover;

            @include lg {
                width: 46px;
                height: 46px;
            }
        }

        &-name {
            font-weight: 600;
            color: var(--black);
            margin-bottom: 3px;
            display: block;

            @include lg {
                margin-bottom: 0;
            }
        }

        &-label {
            font-size: 15px;
            color: #5F5F5F;
        }
    }
}

// 4


// 5
.tl-5-testimonial {
    position: relative;

    &-heading {
        margin-bottom: 59px;

        @include xl {
            margin-bottom: 39px;
        }

        @include sm {
            margin-bottom: 29px;
        }

        @include xs {
            flex-direction: column;
            row-gap: 20px;
        }

        @include xxs {
            margin-bottom: 24px;
            row-gap: 10px;
        }
    }

    .tl-5-section-title {
        margin-bottom: 0;
    }

    &-img {
        position: relative;
        isolation: isolate;

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            z-index: 1;
            background-image: linear-gradient(to bottom, transparent 50%, #17161C);
        }

        img {
            width: 100%;
            object-fit: cover;
            min-height: 300px;
        }
    }

    &-slider {
        position: absolute;
        bottom: 100px;
        left: -130px;
        background-color: var(--white);
        max-width: 1100px;

        @media screen and (max-width: 1759px) {
            bottom: 70px;
            max-width: 900px;
        }

        @media screen and (max-width: 1679px) {
            bottom: 50px;
            max-width: 800px;
            left: -55px;
        }

        @include xxl {
            bottom: 40px;
            left: 0;
        }

        @include lg {
            position: static;
            margin: auto;
            margin-top: -120px;
            box-shadow: 0 0 20px rgb(0 0 0 / 9%);
        }

        &-nav {
            display: flex;
            gap: 10px;

            button {
                height: 45px;
                line-height: 45px;
                font-size: 40px;
                background: none;
                color: #0A0A0A;
                opacity: 40%;
                transition: all 0.4s ease;
                padding: 1px 6px;

                @include sm {
                    font-size: 38px;
                }

                &:hover {
                    color: var(--red);
                    opacity: 100%;
                }

                i {
                    font-weight: 300;
                }
            }
        }
    }
}

.tl-5-single-testimony {
    padding: 80px 110px;
    display: flex;
    align-items: flex-start;
    gap: 55px;

    @media screen and (max-width: 1759px) {
        gap: 45px;
        padding: 60px;
    }

    @media screen and (max-width: 1679px) {
        gap: 35px;
        padding: 45px;
    }

    @include xxl {
        gap: 30px;
        padding: 40px;
    }

    @include sm {
        flex-direction: column;
        gap: 20px;
    }

    @include xs {
        padding: 30px;
    }

    @include xxs {
        padding: 15px;
    }

    &-icon {
        @media screen and (max-width: 1679px) {
            width: 60px;
        }

        @include xxl {
            width: 50px;
        }

        @include xxs {
            width: 40px;
        }
    }

    p {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 42px;
        color: var(--black);

        @media screen and (max-width: 1759px) {
            font-size: 22px;
            line-height: 37px;
        }

        @media screen and (max-width: 1679px) {
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 32px;
        }

        @include xs {
            font-size: 18px;
            line-height: 32px;
        }

        @include xxs {
            margin-bottom: 22px;
        }
    }
}

.tl-5-alumni {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;

    @include xxs {
        flex-direction: column;
        align-items: flex-start;

    }

    &-name {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 500;
        color: #0A0A0A;
        line-height: 1;

        @media screen and (max-width: 1679px) {
            font-size: 18px;
        }

        @include xs {
            font-size: 16px;
        }
    }

    &-label {
        color: #777272;
        font-size: 18px;

        @media screen and (max-width: 1679px) {
            font-size: 16px;
        }

        @include xs {
            font-size: 14px;
        }
    }
}

// 5


// 7
.tl-7 {
    &-testimonial {
        background-color: #000;
        padding: 120px 0;
        font-weight: 300;

        @include md {
            padding: 60px 0;
        }

        &-row {
            display: flex;
            align-items: center;
            column-gap: 80px;

            @include xl {
                column-gap: 50px;
            }

            @include lg {
                justify-content: center;
            }

            @include md {
                flex-direction: column;
                row-gap: 30px;
            }
        }

        &-slider {
            max-width: 465px;

            &-col {
                max-width: 100%;
            }

            .slick-list {
                margin-top: -100px;
                margin-left: -100px;
            }

            &-dots {
                position: relative;
                z-index: 10;

                .slick-dots {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    margin-top: 45px;
                    position: static;
                    transform: none;
                    flex-direction: row;

                    @include xl {
                        margin-top: 25px;
                    }

                    @include md {
                        justify-content: center;
                    }

                    @include sm {
                        margin-top: 20px;
                    }

                    @include xxs {
                        margin-top: 15px;
                    }

                    li {
                        transition: 0.4s ease;
                        width: 8px;
                        height: 8px;
                        border: 1px solid rgba(255, 255, 255, 0.4);
                        border-radius: 50%;
                        -webkit-transition: 0.4s ease;
                        transition: 0.4s ease;
                        font-size: 0;
                        padding: 0;
                        background: transparent;
                        opacity: 1;

                        &.slick-active {
                            scale: 1.75;
                            background-color: var(--white);
                            border-color: var(--white);
                        }
                    }
                }
            }
        }

        &-right-img {
            border-radius: 50%;
            width: 220px;
            height: 220px;

            @include xl {
                width: 200px;
                height: 200px;
            }

            @include lg {
                display: none;
            }
        }
    }

    &-reviewer {
        &-img-slider {
            flex-shrink: 0;
            flex-grow: 1;
            max-width: 440px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 10;

            @include xl {
                max-width: 350px;
            }

            @include sm {
                max-width: 300px;
            }

            @include xs {
                max-width: 280px;
            }

            @include xxs {
                max-width: 250px;
            }
        }
    }

    &-testimony {
        padding-top: 100px;
        padding-left: 100px;

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-txt {
            font-size: 18px;
            line-height: 34px;
            color: rgb(255 255 255 / 70%);
            margin-bottom: 55px;
            position: relative;

            @include xl {
                margin-bottom: 35px;
            }

            @include sm {
                margin-bottom: 25px;
            }

            @include xxs {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 32px;
            }

            &::before {
                content: "Client";
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.14);
                font-size: clamp(25px, 4.5vw, 80px);
                position: absolute;
                font-weight: 700;
                top: -10px;
                left: -98px;
            }
        }


        &-reviewer-name {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--white);
            margin-bottom: 0;
        }

        &-reviewer-role {
            color: #707477;
            font-size: 15px;
            line-height: 24px;
            font-weight: 500;
        }
    }
}

// 7


// 8
.tl-8 {
    &-testimonial {
        .tl-8-experts-heading {
            &-descr {
                width: 50%;

                @include lg {
                    width: 60%;
                }

                @include md {
                    width: 80%;
                }

                @include sm {
                    width: 100%;
                }
            }
        }

        .owl-carousel .tl-8-testimony-reviewer img {
            width: 56px;
        }

        &-slider-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;

            @include md {
                display: none;
            }

            button {
                border: 1.5px solid rgb(23, 22, 28, 0.14);
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: var(--white);
                padding: 0;
                font-size: 18px;
                transition: 0.4s ease;

                &:hover {
                    background-color: var(--tl-btn-bg);
                    border-color: var(--tl-btn-bg);
                }
            }
        }
    }

    &-testimony {
        padding: 110px 178px;
        background-color: #F5F5F5;
        position: relative;

        @include xl {
            padding: 90px 138px;
        }

        @include lg {
            padding: 70px 98px;
        }

        @include md {
            padding: 50px 78px;
        }

        @include sm {
            padding: 40px 30px;
        }

        @include xs {
            padding: 20px;
        }

        @include xxs {
            padding: 15px;
        }

        &::before {
            content: url(../images/tl-8/quote-icon.png);
            position: absolute;
            left: 60px;
            top: 60px;
            opacity: 8%;
        }

        &::after {
            content: url(../images/tl-8/quote-icon.png);
            position: absolute;
            right: 60px;
            bottom: 60px;
            opacity: 8%;
            scale: -1 1;
        }

        &-txt {
            text-align: center;
            font-size: 26px;
            line-height: 40px;
            color: rgb(24, 34, 47, 0.70);
            margin-bottom: 44px;

            @include xl {
                font-size: 22px;
                line-height: 36px;
                margin-bottom: 29px;
            }

            @include md {
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 24px;
            }

            @include sm {
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 19px;
            }

            @include xs {
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 14px;
            }

            &::before {
                content: "“";
            }

            &::after {
                content: "”";
            }
        }

        &-reviewer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            >img {
                width: 56px;
                height: 56px;
                flex-shrink: 1;
            }

            &-name {
                margin-bottom: 0;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #18222F;
            }

            &-info {
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                color: #707477;
            }
        }
    }
}

// 8


// 9
.tl-9 {
    &-testimonial {
        .tl-7-reviewer-img-slider {
            padding: 30px;
            border: 1px solid rgb(44 44 44 / 14%);
            background-color: #F3F1F1;

            img {
                border-radius: 50%;
            }
        }

        .tl-7-testimony {
            &-txt {
                color: rgb(44 44 44 / 70%);
                font-weight: 400;

                &::before {
                    content: "Review";
                    -webkit-text-stroke-color: rgb(44 44 44 / 14%);
                    left: -42px;
                }
            }

            &-reviewer-name {
                color: var(--black-2);
            }
        }

        &-slider-dots .slick-dots li {
            border-color: rgb(44 44 44 / 40%);

            &.slick-active {
                background-color: var(--ligh-yellow);
                border-color: var(--ligh-yellow);
            }
        }

        .tl-7-testimonial-right-img {
            padding: 20px;
            border: 1px solid rgb(44 44 44 / 14%);
        }
    }
}

.owl-carousel .owl-item .tl-1-course-img img {
    width: 100%;
}

// 9

// 10
.tl-10-testimonial {
    overflow-x: hidden;

    @include md {
        padding-bottom: 60px;
    }

    .tl-10-section-heading {
        width: 50%;
        margin-bottom: 67px;

        @include xl {
            margin-bottom: 47px;
        }

        @include lg {
            width: 60%;
        }

        @include md {
            width: 80%;
            margin-bottom: 37px;
        }

        @include sm {
            width: 90%;
            margin-bottom: 27px;
        }

        @include xxs {
            width: 100%;
        }
    }

    .tl-10-users-img {
        >* {
            &:not(:first-child) {
                margin-left: -27px;
            }
        }
    }


    .owl-carousel {
        .owl-stage-outer {
            overflow: visible;
        }

        .owl-item img {
            width: 40px;
        }
    }

    .owl-item.active.center {
        .tl-10-single-testimony {
            background-color: #36348E;
            color: var(--white);
            box-shadow: 0 30px 80px rgb(54 52 142 / 30%);
            opacity: 100%;
        }
    }

    .owl-nav {
        position: relative;
        width: max-content;
        margin: auto;
        margin-top: 75px;
        display: flex;
        gap: 10px;

        @include md {
            margin-top: 40px;
        }

        @include sm {
            margin-top: 30px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: -180px;
            top: 50%;
            translate: 0 -50%;
            width: 150px;
            height: 0.1px;
            background-color: rgb(23 22 28 / 24%);
        }

        &::after {
            left: calc(100% + 30px);
        }

        button.owl-prev,
        button.owl-next {
            width: 50px;
            height: 50px;
            border: 1px solid rgb(23 22 28 / 14%);
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
            color: var(--black);

            @include lg {
                width: 45px;
                height: 45px;
                font-size: 18px;
            }

            @include md {
                width: 40px;
                height: 40px;
                font-size: 16px;
                line-height: 40px;
            }

            &:hover {
                background-color: var(--tl-btn-bg);
                border-color: var(--tl-btn-bg);
            }
        }
    }
}

.tl-10-single-testimony {
    background-color: #F2F4F9;
    padding: 50px 60px;
    opacity: 40%;
    transition: all 0.4s ease;

    @include xl {
        padding: 40px;
    }

    @include lg {
        padding: 30px;
    }

    @include sm {
        padding: 25px;
    }

    @include xxs {
        padding: 20px;
    }

    &-txt {
        font-size: 20px;
        line-height: 34px;

        @include xl {
            font-size: 18px;
            line-height: 32px;
        }

        @include lg {
            font-size: 16px;
            line-height: 28px;
        }

        @include sm {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &-reviewer {
        display: flex;
        align-items: center;
        gap: 10px;

        &-img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        &-name {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 500;
            color: var(--white);
            line-height: 1;
            margin-bottom: 5px;

            @include sm {
                font-size: 14px;
            }
        }

        &-label {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            color: var(--tl-btn-bg);

            @include sm {
                font-size: 12px;
            }
        }
    }
}

// 10


// 12
.tl-12 {
    &-testimonial {
        img {
            height: 100%;
        }

        .autoplay-progress {
            position: relative;
            z-index: 10;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: var(--black-3);
            margin-left: auto;
            margin-right: 43px;
            margin-bottom: 30px;
            outline: 1px solid rgb(44 44 44 / 14%);
            outline-offset: -2px;
            border-radius: 50%;

            @include lg {
                margin-bottom: 15px;
                width: 60px;
                height: 60px;
            }

            @include xs {
                margin-right: 0;
            }
        }

        .autoplay-progress svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 2px;
            stroke: var(--tl-btn-bg);
            fill: none;
            stroke-dashoffset: calc(207 * (1 - var(--progress)));
            stroke-dasharray: 207;
            transform: rotate(-90deg);
        }

        &-slider {
            position: relative;

            @include md {
                margin-top: 30px;
            }

            &-nav {
                display: flex;
                gap: 10px;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 11;

                @include xxs {
                    display: none;
                }

                button {
                    width: 50px;
                    height: 50px;
                    border: 1px solid rgb(44 44 44 / 14%);
                    background-color: var(--white);

                    @include md {
                        width: 45px;
                        height: 45px;
                    }

                    @include xs {
                        width: 40px;
                        height: 40px;
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: var(--tl-btn-bg);
                        border-color: var(--tl-btn-bg);
                    }
                }
            }
        }
    }

    &-testimony {
        padding-left: 70px;
        position: relative;

        @include xl {
            padding-left: 40px;
        }

        @include lg {
            padding-left: 20px;
        }

        @include md {
            padding-left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 190px;
            height: 160px;
            top: -80px;
            left: 0px;
            background: url(../images/tl-12/quote-icon.png) no-repeat center center;
            background-size: 100%;

            @include lg {
                width: 170px;
                height: 140px;
                top: -60px;
            }

            @include md {
                width: 150px;
                height: 120px;
            }
        }

        &-txt {
            font-size: 26px;
            line-height: 40px;
            margin-bottom: 79px;

            @include xl {
                font-size: 22px;
                line-height: 36px;
                margin-bottom: 49px;
            }

            @include lg {
                margin-bottom: 39px;
                font-size: 20px;
                line-height: 34px;
            }

            @include sm {
                margin-bottom: 29px;
                font-size: 18px;
                line-height: 30px;
            }

            @include xxs {
                font-size: 16px;
                line-height: 28px;
            }

            &::before {
                content: '“';
            }

            &::after {
                content: '”';
            }
        }

        &-user {
            &-info {
                margin-bottom: 0;
            }

            &-name {
                font-size: 22px;
                line-height: 29px;
                font-weight: 700;
                color: var(--black-3);

                @include lg {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 5px;
                }

                @include sm {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 3px;
                }
            }

            &-role {
                font-size: 18px;
                line-height: 29px;
                color: #707477;

                @include sm {
                    font-size: 16px;
                    line-height: 27px;
                }
            }

            &-company {
                max-width: 90px;

                @include sm {
                    max-width: 70px;
                }
            }
        }

    }
}

// 12


// 13
.tl-13-testimonial {
    &-img {
        border: 1px solid #ddd;
        padding: 40px;
        position: relative;
        width: 480px;

        @include xl {
            width: 430px;
        }

        @include lg {
            width: 100%;
        }

        @include md {
            width: 60%;
            margin-inline: auto;
        }

        @include sm {
            width: 80%;
        }

        @include xs {
            padding: 30px;
        }

        @include xxs {
            width: 100%;
        }
    }

    &-user-slider {
        margin-right: -80px;
        margin-left: 80px;

        @include xl {
            margin-right: -80px;
            margin-left: 0;
        }

        @include xs {
            margin: 0;
        }

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;

            @include xs {
                height: 300px;
            }

            @include xxs {
                height: 230px;
            }
        }
    }

    &-quote-icon {
        position: absolute;
        left: 50px;
        top: 50%;
        translate: 0 -50%;
        width: 140px;
        height: 140px;
        background-color: var(--white);
        padding: 45px 40px;
        box-shadow: 6px 6px 0 rgb(23 22 28/ 14%);
        border: 1px solid rgb(23 22 28 / 14%);

        @include xl {
            width: 110px;
            height: 110px;
            left: -20px;
            padding: 35px 30px;
        }

        @include xxs {
            width: 80px;
            height: 80px;
            left: -10px;
            padding: 20px 15px;
        }
    }

    &-slider {
        margin-left: 63px;

        @include md {
            margin-left: 0;
        }

        .kb-15-testimony-review {
            margin-bottom: 15px;

            @include lg {
                padding-bottom: 20px;
            }
        }
    }

}

// 13

// 14
.tl-14-testimonial {
    .tl-14-section-title {
        width: 50%;
        margin-inline: auto;
        text-align: center;

        @include lg {
            width: 55%;
        }

        @include md {
            width: 65%;
        }

        @include sm {
            width: 85%;
        }

        @include xxs {
            width: 100%;
        }
    }

    .tl-1-stats {
        border-top: 0;
        padding-top: 0;
        border-bottom: 1px solid rgba(23, 22, 28, 0.14);
        padding-bottom: 43px;
        margin-top: 49px;

        @include md {
            margin-top: 39px;
        }

        @include sm {
            margin-top: 19px;
            padding-bottom: 23px;
        }

    }

    &-users {
        max-width: 400px;
        margin: auto;
        margin-top: 60px;

        @include lg {
            margin-top: 40px;
        }

        .slick-list {
            margin-top: -20px;
        }
    }
}

.tl-14-testimony {
    background-color: #F3F1F1;
    box-shadow: inset 0 3px 0 var(--red-3);
    padding: 70px 230px 90px;
    text-align: center;

    @include xl {
        padding: 70px 150px 90px;
    }

    @include lg {
        padding: 50px 100px 70px;
    }

    @include md {
        padding: 40px 50px 60px;
    }

    @include sm {
        padding: 40px 20px 60px;
    }

    @include xxs {
        padding: 40px 20px 40px;
    }

    img {
        margin: auto;
        margin-bottom: 39px;

        @include md {
            margin-bottom: 29px;
        }
    }

    &-txt {
        color: var(--black);
        text-align: center;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 0;

        @include lg {
            font-size: 22px;
        }

        @include md {
            font-size: 20px;
        }

        @include xxs {
            font-size: 18px;
        }
    }

    &-user {
        min-width: fit-content;
        padding-top: 20px;

        &.slick-center {
            img {
                scale: 1.3;
            }

            .tl-14-testimony-user {
                &-txt {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        img {
            transition: 0.4s ease;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-inline: auto;
        }

        &-txt {
            opacity: 0;
            visibility: hidden;
            transition: 0.4s ease;
            margin-top: 42px;
            text-align: center;

            @include md {
                margin-top: 32px;
            }

            @include sm {
                margin-bottom: 22px;
            }
        }

        &-name {
            text-transform: capitalize;
            color: var(--black);
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 0;
        }

        &-label {
            font-size: 16px;
            color: #63626B;
        }
    }
}

// 14