/* ----- 28. Ticker ----- */
.tl-7-marquee {
    &-text {
        background-color: var(--black);
    }

    &-line {
        font-size: 80px;
        font-weight: 700;
        -webkit-text-stroke: 1px rgb(255 255 255 / 30%);
        -webkit-text-fill-color: transparent;
        padding: 38px 0;
        margin-bottom: 0;
        text-transform: uppercase;
        background: transparent;

        @include xl {
            font-size: 70px;
            padding: 25px 0;
        }

        @include lg {
            font-size: 60px;
            padding: 20px 0;
        }

        @include md {
            font-size: 50px;
            padding: 15px 0;
        }

        @include sm {
            font-size: 40px;
        }

        @include xs {
            font-size: 30px;
        }

        @include xxs {
            font-size: 25px;
            padding: 10px 0;
        }

        .eocjs-newsticker-container {
            height: 80px;

            @include xl {
                height: 70px;
            }

            @include lg {
                height: 60px;
            }

            @include md {
                height: 50px;
            }

            @include sm {
                height: 40px;
            }

            @include xs {
                height: 30px;
            }

            @include xxs {
                height: 25px;
            }
        }

        .eocjs-newsticker-one,
        .eocjs-newsticker-two {
            height: 80px;
            line-height: 80px;

            @include xl {
                height: 70px;
                line-height: 70px;
            }

            @include lg {
                height: 60px;
                line-height: 60px;
            }

            @include md {
                height: 50px;
                line-height: 50px;
            }

            @include sm {
                height: 40px;
                line-height: 40px;
            }

            @include xs {
                height: 30px;
                line-height: 30px;
            }

            @include xxs {
                height: 25px;
                line-height: 25px;
            }
        }

        .divider {
            -webkit-text-fill-color: var(--tl-btn-bg);
            -webkit-text-stroke: 1px var(--tl-btn-bg);
        }
    }
}