/* ----- 23. Videos ----- */
.tl-6 {
    &-videos {
        &-banner {
            text-align: center;
            &.pt-220.pb-220 {
                @include md {
                    padding-top: 120px;
                    padding-bottom: 120px;
                }
            }
            &-txt {
                width: 60%;
                margin: auto;

                @include xl {
                    width: 70%;
                }

                @include sm {
                    width: 100%;
                }

                .tl-6-latest-article-infos {
                    font-weight: 400;
                    text-transform: capitalize;
                    color: rgb(255 255 255 / 70%);
                    margin-bottom: 0;
                    justify-content: center;

                    li:first-child::before {
                        background-color: rgb(255 255 255 / 60%);
                    }
                }
            }

            &-date {
                color: var(--white);
                margin-bottom: 18px;
                background-color: transparent;
                height: 36px;
                line-height: 36px;
                padding: 0 25px;
                padding-left: 35px;

                &::before {
                    background-color: var(--white);
                    left: 25px;
                }
            }

            &-title {
                font-size: 54px;
                font-weight: 700;
                line-height: 118.519%;
                color: var(--white);
                margin-bottom: 37px;

                @include lg {
                    font-size: 44px;
                    margin-bottom: 27px;
                }

                @include md {
                    font-size: 36px;
                    margin-bottom: 22px;
                }

                @include sm {
                    font-size: 34px;
                    margin-bottom: 18px;
                }

                @include xs {
                    font-size: 30px;
                    margin-bottom: 16px;
                }

                @include xxs {
                    font-size: 26px;
                    margin-bottom: 12px;
                }

                a {
                    color: var(--white);
                    background-image: linear-gradient(to right, var(--white), var(--white));
                    background-size: 0% 3px;

                    &:hover {
                        color: var(--white);
                        background-size: 100% 3px;
                    }
                }
            }
        }

        &-row {
            max-width: 1600px;
            margin: auto;
        }
    }

    &-video {
        @include xl {
            flex-direction: column;
        }

        @include md {
            flex-direction: row;
        }

        @include sm {
            flex-direction: column;
        }

        &-img {
            flex-shrink: 0;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 110px;
                height: 110px;
                object-fit: cover;
            }

            a {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                z-index: 2;
                color: var(--white);
                text-align: center;
                border: 1.5px solid rgb(255 255 255 / 40%);
                width: 45px;
                height: 45px;
                line-height: 43px;
                border-radius: 50%;
                &:hover {
                    background-color: var(--red-2);
                    color: var(--white);
                }
            }
        }

        &-txt {
            @include xl {
                text-align: center;
            }

            @include md {
                text-align: left;
            }

            @include sm {
                text-align: center;
            }
        }

        .tl-6-news-slide-title {
            font-size: 18px;
        }
    }
}

// 7 
.tl-7-vid {
    background: url(../images/tl-7/video-bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 255px 0;

    @include xl {
        padding: 175px 0;
    }

    @include lg {
        padding: 165px 0;
    }

    @include md {
        padding: 145px 0;
    }

    @include sm {
        padding: 125px 0;
    }

    @include xs {
        padding: 115px 0;
    }

    @include xxs {
        padding: 100px 0;
    }

    &-btn {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        border: 1px solid var(--white);
        text-align: center;
        line-height: 190px;
        text-transform: uppercase;
        color: var(--white);
        font-size: 18px;
        font-weight: 500;

        @include lg {
            width: 170px;
            height: 170px;
            line-height: 170px;
        }

        @include md {
            width: 160px;
            height: 160px;
            line-height: 160px;
        }

        @include sm {
            width: 150px;
            height: 150px;
            line-height: 150px;
        }

        @include xs {
            width: 140px;
            height: 140px;
            line-height: 140px;
        }

        @include xxs {
            width: 130px;
            height: 130px;
            line-height: 130px;
        }

        &:hover {
            background-color: var(--white);
            color: var(--black);
        }
    }
}